.filter__head {
  background: #00adf7;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding: 21px 27px 20px;
}
.filter__properties {
  padding: 21px 27px 20px;
  background: #f6f6f8;
}
.filter__properties label {
  min-height: 25px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.filter__properties input {
  margin: 0;
}
.filter__properties label span {
  vertical-align: middle;
  margin-left: 10px;
  padding-left: 45px;
  position: relative;
  display: inline-block;
}
.filter__property span:before {
  content: "";
  background: url(/local/templates/depohost/images/ssl/ssl.png) 0 0 no-repeat;
  width: 34px;
  height: 23px;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
  left: 0;
  top: 50%;
  margin-top: -12.5px;
  position: absolute;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  padding: 1px 0;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.filter__property.domen span:before {
  content: "D";
}
.filter__property.domen_organisation span:before {
  content: "D+O";
}
.filter__property.plus_idn span:before {
  content: "IDN";
}
.filter__property.plus_ev span:before {
  content: "EV";
}
.filter__property.plus_wc span:before {
  content: "WC";
}
.filter__property.plus_sgc span:before {
  content: "SGC";
}
.filter__property.plus_gr span:before {
  content: "GR";
}.filter__property.plus_md span:before {
  content: "MD";
}

.filter__properties .smartfilter{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.filter__radio_wrapper{
  width: 100%;
}
.filter__checkbox_wrapper{
  width: 100%;
}
@media all and (min-width: 768px){
  .filter__radio_wrapper{
    width: 50%;
  }
  .filter__checkbox_wrapper{
    width: 50%;
  }
}
@media all and (min-width: 1200px){
  .filter__radio_wrapper{
    width: 30%;
  }
  .filter__checkbox_wrapper{
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filter__checkbox_wrapper label{
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    min-width: 50%;
  }
}