.profile-table.data-table input[type="text"],
.profile-table.data-table input[type="password"] {
    border: 1px solid #e4e4e9;
    box-sizing: border-box;
    display: block;
    height: 48px;
    margin-bottom: 27px;
    padding: 14px 15px;
    width: 100%;
}



.profile-table.data-table td.bx-label {
    font-weight: bold;
    line-height: 48px;
    text-align: right;
}
.profile-table.data-table td {
    padding: 3px;
}


input.change-password {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    border-radius: 4px;
    box-shadow: 0 2px 0 rgba(35, 31, 32, 0.25);
    color: #00adf7;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 9px 27px 8px;
    text-decoration: none;
    text-transform: uppercase;
}
input.change-password:hover{
    background:#00adf7;
    border-bottom-color:#008cd6;
    color:#fff;
}