.wrapper-blue-v2 {
  width: 950px;
  margin: 0 auto;
}

.blue-v2 {
  width: 100%;
  position: relative;
  z-index: 1;
  /*margin-top: 20px;*/
}

.blue-v2 td {
  border: 1px solid #ccc;
  vertical-align: middle;
  background: #fff;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  max-width: 130px;
  font-family: "Roboto Condensed", "Roboto", sans-serif;
}
.blue-v2 .with-icon {
  white-space: nowrap;
}
.blue-v2 tbody .os,
.blue-v2 tbody .price,
.blue-v2 tbody .ip {
  text-transform: none;
}

.blue-v2 tbody .price .value {
  font-size: 20px;
  font-weight: 700;
}

.blue-v2 tr:hover td {
  background: #eef8ff;
  cursor: pointer;
}

.blue-v2 .head {
  height: 50px;
}

.blue-v2 .head td,
.blue-v2 td.name,
.blue-v2 td.section-name {
  text-align: left;
}

.blue-v2 .head td {
  font-size: 13px;
  padding-left: 15px;
}

.blue-v2 td.section-name {
  padding-left: 10px;
  font-size: 18px;
}

.blue-v2 .head.bg-light-blue td {
  background: #00aef7;
  color: #fff;
}

.blue-v2 td.bg-dark-blue,
.blue-v2 td.bg-dark-blue:hover {
  background: #07497b;
  color: #fff;
}

.blue-v2 .bordered {
  border-radius: 2px;
  border: 2px solid #53a4d9;
  color: #53a4d9;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  padding: 5px 0;
  width: 50px;
  height: 30px;
  box-sizing: border-box;
  font-size: 16px;
}

.blue-v2 .head.bg-light-blue .bordered {
  border-radius: 2px;
  border-color: #fff;
  color: #fff;
}

.btn-green {
  font-size: 16px;
}
