.bx_breadcrumbs ul {
  margin: 0;
  padding: 0;
}
.bx_breadcrumbs ul li {
  display: inline-block;
  line-height: 20px;
  list-style: none;
  background: none;
  font-weight: 500;
  text-align: left;
  padding: 0;
}

.bx_breadcrumbs ul li a {
  display: block;
  padding: 0 20px;
  color: #00adf7;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.bx_breadcrumbs ul li:first-child a {
  padding-left: 0;
}

.bx_breadcrumbs ul li:last-child a:after {
  background: none;
}

.bx_breadcrumbs ul li a:hover {
  text-decoration: underline;
  line-height: 20px;
}

.bx_breadcrumbs ul li:last-child a {
  display: block;
  padding: 0 10px;
  color: #7f7f7f;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
}

.bx_breadcrumbs,
.bx_breadcrumbs ul li {
  transition: all 0.3s ease;
}
