.bx_ordercart_order_pay_center input[type="submit"] {
  background: none repeat scroll 0 0 #fff;
  border: none;
  border-bottom: 2px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(35, 31, 32, 0.25);
  color: #00adf7;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 9px 27px 8px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.bx_ordercart_order_pay_center input[type="submit"]:hover {
  background: #00adf7;
  border-bottom-color: #008cd6;
  color: #fff;
}

#order_form_div input[type="text"],
#order_form_div input[type="password"],
#order_form_div textarea,
#order_form_div select {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #c1c5c8;
  border-radius: 2px;
  box-shadow: 2px 2px 2px -1px rgba(180, 188, 191, 0.5) inset;
  color: #000;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 3px;
  outline: medium none;
  padding: 6px 8px;
  vertical-align: middle;
}
.bx_ordercart_order_pay_center {
  border-top: 1px solid #e4e6e8;
  padding: 20px 0 40px;
  text-align: left;
}
.agree {
  margin: 10px 0;
}
.kp-title {
  margin-top: 20px;
}
