.selectBox-options li a{
    font-size:14px !important;
}
.container-content{
  padding: 0 !important;
}
.head-block{
  background: #00adf7 none repeat scroll 0 0;
  color: #fff;
  font-family: "Roboto",sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 25px 50px;
}
.btn-green.sm{
  width: 100%;
}
