@import "compass/utilities/sprites";
$advantages-layout:smart;
@import "advantages/*.png";

.advantage__item_icon {
  display: inline-block;
  width: 40px;
  min-width: 40px;
  height: 40px;

  &.free-settings{
    @include advantages-sprite(free-settings);
  }
  &.ipod{
    @include advantages-sprite(ipod);
  }
  &.check-list{
    @include advantages-sprite(check-list);
  }
  &.path{
    @include advantages-sprite(path);
  }
  &.email{
    @include advantages-sprite(email);
  }
  &.mbit-100{
    @include advantages-sprite(mbit-100);
  }
  &.free-admin{
    @include advantages-sprite(free-admin);
  }
  &.quick-start{
    @include advantages-sprite(quick-start);
  }
  &.kvm{
    @include advantages-sprite(kvm);
  }
  &.os{
    @include advantages-sprite(os);
  }
  &.day{
    @include advantages-sprite(day);
  }
  &.server-top{
    @include advantages-sprite(server-top);
  }
  &.mouse{
    @include advantages-sprite(mouse);
  }
  &.hand{
    @include advantages-sprite(hand);
  }
  &.www{
    @include advantages-sprite(www);
  }
  &.star{
    @include advantages-sprite(star);
  }
  &.planet{
    @include advantages-sprite(planet);
  }
  &.server-plus{
    @include advantages-sprite(server-plus);
  }
  &.page{
    @include advantages-sprite(page);
  }
  &.cart{
    @include advantages-sprite(cart);
  }
  &.papers{
    @include advantages-sprite(papers);
  }
  &.gb-10{
    @include advantages-sprite(gb-10);
  }
  &.free-settings{
    @include advantages-sprite(free-settings);
  }
  &.planet-refresh{
    @include advantages-sprite(planet-refresh);
  }
  &.trash{
    @include advantages-sprite(trash);
  }
  &.calc{
    @include advantages-sprite(calc);
  }
  &.operator{
    @include advantages-sprite(operator);
  }
  &.thumb-click{
    @include advantages-sprite(thumb-click);
  }
  &.stack{
    @include advantages-sprite(stack);
  }
  &.server-check{
    @include advantages-sprite(server-check);
  }
  &.shield{
    @include advantages-sprite(shield);
  }
  &.clock{
    @include advantages-sprite(clock);
  }
  &.send{
    @include advantages-sprite(send);
  }
  &.server-5{
    @include advantages-sprite(server-5);
  }
  &.refresh{
    @include advantages-sprite(refresh);
  }
  &.server-infinity{
    @include advantages-sprite(server-infinity);
  }
  &.folder{
    @include advantages-sprite(folder);
  }
  &.paper-check{
    @include advantages-sprite(paper-check);
  }
  &.shield-big{
    @include advantages-sprite(shield-big);
  }
  &.php{
    @include advantages-sprite(php);
  }
}

