@import "compass/utilities/sprites";
$dedic-layout:vertical;
@import "dedic/*.png";
.term-block .bottom:after{
  @include dedic-sprite(sprite-basket-icon);
}
.term-block.active .bottom:after {
  background-position-x: -15px;
}
.slide .ui-slider-handle{
  @include dedic-sprite(slide-cursor-kam);
}

.configuration .icon-configuration {
  @include dedic-sprite(icon-configuration);
}
.configuration.active .icon-configuration{
  @include dedic-sprite(icon-configuration-a);
}
.ready-made .icon-ready-made {
  @include dedic-sprite(icon-ready-made);
}
.ready-made.active .icon-ready-made{
  @include dedic-sprite(icon-ready-made-a);
}
.opportunities .icon-opportunities {
  @include dedic-sprite(icon-opportunities);
}
.opportunities.active .icon-opportunities{
  @include dedic-sprite(icon-opportunities-a);
}
.hint-block:before {
  @include dedic-sprite(icon-help-kam);
}
.hint-block .hint-close{
  @include dedic-sprite(close);
}
.hint-block .hint-corner{
  @include dedic-sprite(corner-hint);
}
#map-hdd-mobile .active,
#map-hdd .active
{
  @include dedic-sprite(map-hdd-active);
}
#param-hdd-1.parameter-block,
#param-hdd-2.parameter-block,
#param-hdd-3.parameter-block,
#param-hdd-4.parameter-block,
#param-hdd-5.parameter-block,
#param-hdd-6.parameter-block,
#param-hdd-7.parameter-block,
#param-hdd-8.parameter-block,
#param-mobile-hdd-1.parameter-block,
#param-mobile-hdd-2.parameter-block,
#param-mobile-hdd-3.parameter-block,
#param-mobile-hdd-4.parameter-block,
#param-mobile-hdd-5.parameter-block,
#param-mobile-hdd-6.parameter-block,
#param-mobile-hdd-7.parameter-block,
#param-mobile-hdd-8.parameter-block {
  &:before{
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 28px;
    top: 25px;
    left: 10px;
    @include dedic-sprite(param-hdd-1);
  }
}
#param-ram.parameter-block,
#param-mobile-ram.parameter-block {
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 45px;
    height: 22px;
    top: 30px;
    left: 10px;
    @include dedic-sprite(param-ram);
  }
}
#param-cpu.parameter-block,
#param-mobile-cpu.parameter-block {
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    top: 25px;
    left: 10px;
    @include dedic-sprite(param-cpu);
  }
}
#param-raid.parameter-block,
#param-mobile-raid.parameter-block {
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 39px;
    height: 30px;
    top: 25px;
    left: 10px;
    @include dedic-sprite(param-raid);
  }
}