@media all and (min-width: 768px) {
  .footer__pay_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__pay_label{
    text-align: center;
  }
  .up {
    display: none;
  }

  .up.active {
    display: block;
    position: fixed;
    bottom: 20px;
    left: 5%;
    z-index: 100;
    width: 48px;
    height: 48px;
    cursor: pointer;
  }

  .img_left {
    display: block;
  }

  .table__blue {
    display: table;
    border-collapse: collapse;
  }

  .table__blue .head {
    display: table-caption;
  }

  .table_body {
    display: table-row-group;
  }

  .table_head {
    display: table-header-group;
  }

  .table_head .table_cell,
  .table__mobile .table_head .table_cell {
    border: transparent;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    padding: 21px 27px 20px;
  }

  .table_row {
    display: table-row;
    padding: 0;
  }

  .table_cell {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #e4e4e9;
    padding: 10px 5px;
  }

  .table_cell.order {
    width: 130px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }

  .server .server-price {
    padding: 0;
  }

  .notice-block {
    padding: 20px 30px 20px 100px;
    background-position: 30px 50%;
  }

  .subtitle {
    padding-bottom: 10px;
  }

  h2 {
    margin: 0;
  }

  .advantage__item {
    width: 50%;
  }

  .server td {
    padding: 10px;
  }
}
@media all and (min-width: 992px) {
  .footer__pay {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__pay-images {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__pay-images img {
    margin-bottom: 0;
  }
}

@media all and (min-width: 1200px) {
  body {
    padding-top: 0;
  }
  .title h1 {
    font-size: 28px;
  }
  .footer__pay_label {
    width: 20%;
    margin-bottom: 0;
  }
  .footer__links li{
    font-weight: 700;
  }

  .footer__pay-images {
    width: 80%;
  }
  .footer__pay {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-top: 44px;
    padding-bottom: 44px;
  }
  ul.advantage {
    padding-bottom: 112px;
  }

  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__top_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: relative;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__menu_list {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .header__top_menu a {
    padding: 15px 12px 0;
    height: 100%;
    text-align: center;
    color: #ffffff;
    background: transparent;
    border: 0;
  }

  .header__top_menu a:hover {
    text-decoration: none;
    color: #fff;
  }

  .header__top_menu .active {
    text-align: center;
    background: none;
    /*padding: 15px 12px 0;*/
    /*height: 100%;*/
    /*position: relative;*/
    /*background: #00adf7 url(../images/menu-l.png) no-repeat 0 0;*/
  }

  .header__top_menu .active:after {
    /*content: "";*/
    /*width: 8px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*background: url(../images/menu-r.png) no-repeat right 0;*/
    /*z-index: 10;*/
  }

  .header__top_menu li {
    height: 100%;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .header__menu_list .container {
    /*width: 970px;*/
  }

  .header {
    padding: 0px 0 0;
    height: auto;
    position: relative;
  }

  .header > .container {
    /*align-items: flex-start;*/
  }

  .header__logo {
    background-position: 0 50%;
    -ms-flex-preferred-size: 292px;
        flex-basis: 292px;
    width: 292px;
    height: 48px;
  }

  .header__slogan {
    /*margin-top: 15px;*/
  }

  .header__menu {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    overflow-y: hidden;
    width: 100%;
  }

  .footer__links {
    padding: 45px 0px 55px;
  }

  .block_text {
    /*padding: 80px 50px;*/
  }

  .table_cell,
  .table__mobile .table_cell {
    padding: 10px 25px;
  }

  .header__top {
    min-height: 93px;
    height: auto;
  }

  .header__tools-desk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__tools-desk .header__basket {
    margin-top: 0;
    margin-right: 50px;
    font-size: 16px;
    font-weight: 700;
  }

  .header__phone_moscow-desk,
  .header__phone_free_line-desk {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
  }

  .header__phone_moscow-desk:hover,
  .header__phone_free_line-desk:hover {
    color: #ffffff;
  }





  .menu-mobile .header__top_menu a,
  .menu-mobile .header__top_menu .active span {
    display: inline-block;
    border-bottom: none;
    color: #ffffff;
    padding: 0px 24px 0 26px;
    /*border-right: 1px solid red;*/
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 2px;
    font-size: 16px;
    line-height: 1.54;
  }

  .menu-mobile .header__top_menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px 0;
    white-space: nowrap;
    width: 100%;
    /*min-width: 90px;*/
  }

  .menu-mobile .header__top_menu li.active {
    padding: 15px 0;
    border-bottom: 4px solid #1daef4;
  }

  .menu-mobile .header__top_menu li:first-child a {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }

  .header__phone_moscow-desk {
    margin-bottom: 5px;
  }

  .menu-mobile .header__top_menu .active {
    padding: 0;
  }

  .menu-mobile .header__top_menu .active span {
    color: #1daef4;
  }

  .advantage-img-wrap {
    background: url(/local/templates/depohost/css/../images/content-bg.png)
      no-repeat scroll 70%;
  }

  .server-1c {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .server-1c-table {
    padding: 0;
  }

  .server-1c__desc-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .server-1c__desc {
    margin-left: 40px;
  }

  .a1c .bg-r {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    background: url(/local/templates/depohost/css/../images/a1c-r.jpg) 0 0
      no-repeat;
    height: 100%;
    background-size: cover;
    width: 482px;
    margin-left: 470px;
  }

  .a1c .bg-l {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    background: url(/local/templates/depohost/css/../images/a1c-l.jpg) 100% 0
      no-repeat;
    width: 482px;
    height: 100%;
    background-size: cover;
    margin-left: -954px;
  }

  .head.bg-light-blue td .with-icon {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .blue-v2 .head td {
    font-size: 16px !important;
  }

  .blue-v2 td {
    font-weight: normal !important;
  }

  .head.bg-light-blue td {
    font-size: 16px;
    font-weight: normal;
  }

  .head.bg-light-blue td .with-icon:before {
    margin-right: 7px;
    margin-bottom: 0;
  }

  .subtitle {
    padding: 30px 0;
  }

  .microsoft .bg-blue {
    background-color: #e2eff5;
  }
  .microsoft .wrapper.wide {
    padding-left: 50px;
    padding-right: 50px;
  }
  .microsoft .wrap-table {
    padding: 15px 50px;
  }
  .server td {
    padding: 10px 25px;
  }

  .header.header-v2 .header__top_wrapper{
    background: url("/local/templates/depohost/images/head-main.jpg") no-repeat center top;
    background-size: cover;
  }

  .header-v2 .header__logo{
    background: url("/local/templates/depohost/images/logo.png") 0 0 no-repeat;
    height: 81px;
  }

  .header-v2 .menu-mobile,
  .header-v2 .header__menu_list{
    background: none;
  }

  .header-v2 .header__top{
    padding: 39px 0 22px 0;
  }
  .header-v2 .header__slogan{
    display: block !important;
    margin-top: 16px;
  }

  .header-v2 .header-logo-wrap{
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

  }

  .header-v2 .header__phone_moscow-desk{
    font-size: 28px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
  }
  .header-v2 .header__phone_moscow-desk .span{
    color: #00adf7;

    font-weight: 300;

  }
  .header-v2 .header__phone{
    margin-top: 10px;
  }
  .header-v2 .header__phone_free_line-desk{
    font-size: 18px;
    color: #00adf7;
  }

  .header-v2 .header__tools-desk{
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 6px;
  }

  .header-v2 .header__tools-desk .header__basket{
    margin-right: 0;
  }
  .header-v2 .header__lk_enter{
    margin-bottom: 14px;
  }

  .header-v2 .header__menu_list{
    border: none;
  }
  .header-v2 .header__top_menu{
    border-top: 2px solid #00adf7;
    height: auto;
  }
  .header-v2 .menu-mobile .header__top_menu a,
  .header-v2 .menu-mobile .header__top_menu .active span{
    border-right: none;
     margin-left: 0px;
    font-size: 16px;
    padding: 0px 18px 0 18px;
  }

  .header-v2 .menu-mobile .header__top_menu a{
    color: #888;
  }

  .header-v2 .menu-mobile .header__top_menu .active span{
    color: #ffffff;

  }


  .header-v2 .menu-mobile .header__top_menu li:first-child a{
    border-left: 0px;
  }

  .header-v2 .menu-mobile .header__top_menu li.active{
    border-bottom: none;
    background: #00adf7;
    position: relative;
  }
  .header-v2 .menu-mobile .header__top_menu li.active:after{
    content: '';
    width: 8px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;

  }
  .header-v2 .menu-mobile .header__top_menu li.active:before{
    content: '';
    width: 8px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;

  }



  .header-v2 .menu-mobile .header__top_menu li{
    padding: 14px 0;
    min-height: 75px;
    align-items: center;
  }





}
