html,
body {
  height: 100%;
  font: 16px "Roboto", Arial, Helvetica, sans-serif;
  color: #565862;
  background: #fff;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

h1 {
  font: 500 28px/27px "Roboto", Arial, Helvetica, sans-serif;
  color: #3e3f47;
}

.title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 span {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #00adf7;
  text-transform: uppercase;
}

h2 {
  font: 400 18px/22px "Roboto", Arial, Helvetica, sans-serif;
  color: #3e3f47;
  margin: 0 0 7px;
  text-transform: uppercase;
}

a {
  color: #485358;
  text-decoration: underline;
  outline: 0;
}

table {
  font-size: 100%;
  border-collapse: collapse;
}

table td {
  vertical-align: top;
}

img,
fieldset {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

caption,
th {
  text-align: left;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  font: 16px "Roboto", Arial, Helvetica, sans-serif;
  color: #565862;
  border-radius: 0;
}

textarea {
  resize: none;
  overflow: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

:active {
  outline: 0;
}

p {
  margin: 5px 0 22px 0;
  line-height: 22px;
}

ul.list {
  margin: 0 0 0px 0;
  list-style-position: outside;
  list-style-type: none;
}

ol.list {
  margin: 0 0 29px 20px;
  list-style-position: outside;
  list-style-type: decimal;
}

.list li ul,
.list li ol {
  margin-top: 5px;
  margin-bottom: 10px;
  list-style-type: none;
}

.list li {
  margin-bottom: 0;
  line-height: 22px;
}

ul.list li {
  margin-bottom: 0;
  padding: 0 0 12px 19px;
}

ol.list li {
  font-weight: 700;
  color: #00adf7;
}

ol.list li li {
  font-weight: normal;
  color: #565862;
}

ol.list li span {
  font-weight: 400;
  color: #565862;
}

body {
  /*padding-top: 60px;*/
}

a,
a:focus,
a:hover {
  color: #485358;
}

.header {
  height: auto;
  background-color: #090b18;
  padding: 0;
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 1000;
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header > .container > * {
  /*flex: 1 100%;*/
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 60px;
}

@media(max-width: 1200px) {
  .header__top {
    align-items: center;
  }
}

.header__logo {
  min-width: 167px;
  width: 167px;
  height: 35px;
  background: url(../images/logo-header.png) 0 0 no-repeat;
  background-size: contain;
}
.header__logo a {
  display: block;
  height: 100%;
}
.header-logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__slogan {
  padding-left: 20px;
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  margin-top: 5px;
}

.header__slogan_text {
  /*color: #888;*/
  color: white;
  font-size: 12px;
  font-weight: 500;
  width: 130px;
}

.header__phone {
  /*flex-basis: calc(100% - 292px - 150px - 190px);*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*background: url(../images/ico-phone.png) no-repeat 0 -1px;*/
  padding: 0 0 0 25px;
  position: relative;
}
.header__phone a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}
.header__phone a:hover {
  text-decoration: underline;
  color: #00adf7;
}

.header__phone_moscow {
  color: #fff;
  font-size: 28px;
}

.header__phone_city_code {
  color: #00adf7;
  font-weight: 300;
}

.header__phone_free_line {
  color: #00adf7;
  font-size: 18px;
}

.header__tools {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__lk_enter {
  /*color: #00adf7;*/
  color: white;
  font-size: 16px;
  font-weight: 500;
  display: block;
  /*padding: 15px 18px 15px 30px;*/
  text-decoration: none;
  white-space: nowrap;
  /*border: 1px solid #252a3d;
  border-radius: 1px;*/
  position: relative;
  width: 165px;
  /*height: 48px;*/
  border-left: 0;
  cursor: pointer;
}

/*.header__lk_enter:hover{
  text-decoration: none;
  color: #00adf7;
  opacity: 0.9;
  background-color: #191d3a;
}

.header__lk_enter:before {
  content: "";
  position: absolute;
  width: 29px;
  height: 48px;
  top: -1px;
  left: -14px;
  z-index: 10;
}
*/
.header__basket {
  /*margin-top: 10px;*/
  text-align: right;
  font-size: 12px;
  /*font-weight: 700;*/
  /*color: #888;*/
  color: white;
}

.empty-basket {
  display: flex;
  align-items: center;
}
.empty-basket:before {
  content: url(/local/templates/depohost/images/dedic/new/basket.svg);
  display: inline-block;
  margin-right: 5px;
}
.header__basket a {
  text-decoration: none;
  color: #00adf7;
}
.header__menu_btn {
  color: #fff;
  position: relative;
  min-width: 20px;
  max-width: 20px;
  width: 20px;
  height: 16px;
  border-bottom: 2px solid currentColor;
  border-top: 2px solid currentColor;
}

.header__menu_btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -1px;
  border: 1px solid currentColor;
}

.header__menu_close_btn {
  color: #fff;
  position: relative;
  min-width: 20px;
  max-width: 20px;
  width: 20px;
  height: 20px;
  font-size: 36px;
  line-height: 12px;
  font-weight: 300;
}

.footer {
  background: #12152b;
  position: relative;
}

.footer__links {
  padding: 25px 15px 35px;
}

.footer__links ul {
  list-style: none;
}

.footer__links li {
  padding: 0 15px 12px;
  font-size: 16px;
  color: #888888;
  background: none;
}

.footer__links li:nth-of-type(4n + 4) {
  padding-bottom: 20px;
}

.footer__links a {
  color: #888;
  text-decoration: none;
}

.footer__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
  padding-bottom: 17px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #0f1124;
}

.footer__pay_label {
  min-width: 100px;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 15px !important;
}

.footer__pay > * {
  font-size: 12px;
  color: #393c4c;
}

.footer__pay-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.footer__pay-images>div {
  margin-bottom: 10px;
  margin-right: 10px;
}

.footer__pay-images img {
  margin-right: 20px;
  margin-bottom: 15px;
}

.header__menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  right: -2000px;
  position: fixed;
  top: 60px;
  bottom: 0;
  overflow-y: auto;
  -webkit-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
}

.header__menu_list {
  background: #090b18;
}

.header__menu.opened {
  right: 0;
  display: block;
}
.menu-mobile__fade {
  display: none;
}
.opened + .menu-mobile__fade {
  display: block;
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.menu-mobile {
  z-index: 999;
  background: #ffffff;
}

.header__menu.opened .mobile_menu__phone,
.header__menu.opened .mobile_menu__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-mobile .header__top_menu a {
  padding: 20px;
  border-bottom: 1px solid #f5f5f7;
  font-size: 16px;
  color: #2b2d35;
}

.menu-mobile .header__top_menu .active {
  padding: 20px;
  font-size: 16px;
}

.mobile_menu__phone,
.mobile_menu__tools {
  background-color: #1daef4;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-mobile .mobile_menu__phone,
.menu-mobile .mobile_menu__tools {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile_menu__phone {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mobile_menu__tools {
  padding: 16px 20px;
}

.mobile_menu__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  padding-right: 96px;
  padding-left: 20px;
}

.mobile_menu__phone_moscow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  white-space: nowrap;
  margin-bottom: 8px;
}

.mobile_menu__phone_moscow:before {
  content: "";
  background: url("/local/templates/depohost/images/icons/phone-icon-mob.png")
    center no-repeat;
  width: 25px;
  height: 22px;
  margin-right: 15px;
}

.mobile_menu__phone_city_code {
  color: #090b17;
  font-weight: 500;
  margin-right: 5px;
}

.mobile_menu__phone_free_line {
  width: 100%;
  display: block;
  color: #090b17;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 8px;
}

.mobile_menu__lk_enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.mobile_menu__lk_enter:before {
  content: "";
  background: url("/local/templates/depohost/images/icons/lock-icon-mob.png")
    center no-repeat;
  width: 26px;
  height: 25px;
  margin-right: 15px;
}

.header__top_menu {
  width: 100%;
  list-style: none;
}

.header__top_menu a {
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  color: #565862;
  background: #fff;
  border-bottom: 1px solid #888;
}

.hidden-lg .header__top_menu li{
  background-color: #fff;
}
.menu-mobile .hidden-lg .header__top_menu .active{
  padding: 0;
}
.hidden-lg .header__top_menu .active > a {
  padding: 20px;
}
.header__top_menu .active > a {
  padding: 10px 15px;
  color: #fff;
  background: #00adf7;
}

.title {
  /*display: none;*/
  padding: 18px 0;
  min-height: 90px;
  background: url(../images/ttl-lbg.jpg) 0 0 no-repeat #00adf7;
  position: relative;
}
.title:before{
  content: '';
  display: block;
  position: absolute;
  top:0;
  right: 0;
  background: url(../images/ttl-rbg.jpg) 0 0 no-repeat #00adf7;
  width: 165px;
  height: 100%;
}

.title .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__text {
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 30px;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  padding: 30px 0 0 0;
  text-transform: uppercase;
}

.title-text-blue {
  color: #25aff5;
}

.title-text-blue {
  color: #25aff5;
}

ul.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 20px 0 35px;
}

.server-1c .block_text {
  background-color: #f6f6f8;
}

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 10px;
  background: none;
  margin-bottom: 20px;
  width: 100%;
}


.advantage__item_teaser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0 0 15px;
}

.advantage__item_name {
  color: #3e3f47;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage__item_description {
  font-size: 16px;
  line-height: 22px;
  padding: 10px 0 0;
}

.block_text {
  /*border-top: 1px solid #ccc;*/
  background-color: #fff;
  padding: 42px 20px;
}

.block_text .icon {
  display: block;
}

.block_text .h2 {
  text-transform: uppercase;
  vertical-align: middle;
  white-space: normal;
  display: block;
  padding: 0 0 25px;
  margin: 0;
  color: #3e3f47;
  font-weight: normal;
}

.text_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}
.text_subtitle .h2 {
  padding: 0;
}
.item_list__section {
  text-transform: uppercase;
  color: #fff;
  background: #07497b;
  padding: 20px 10px;
}

.item_list__info {
  padding: 20px 10px;
  border: 1px solid #cedee5;
  border-top: 0;
  background: #ffffff;
}

.item_list__info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 10px;
}

.item_list__info__row > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

.item_list__info__row_label {
  padding-right: 10px;
  font-weight: 700;
}

.item_list__info__row_label_upper {
  text-transform: uppercase;
}

.item_list__info__row_label_middle {
  -ms-flex-item-align: center;
      align-self: center;
}
.item_list__info__row_value .selectBox-dropdown {
  min-width: auto;
}
.item_list__info__row_value_price {
  font-size: 18px;
}

.item_list__info__row_value_price .price-one,
.item_list__info__row_value_price .catalog-price-js {
  white-space: nowrap;
}

.item_list__info__row_value_price_period {
  font-size: 16px;
}

.order-btn {
  width: 100%;
  text-align: center;
}

.icon-cart {
  background: url(../images/sprite-table-header.png) 0 -60px no-repeat;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  vertical-align: middle;
}

.server {
  width: 100%;
}

.server th {
  background: #00adf7;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding: 21px 27px 20px;
}

.server th.tarif-title {
  text-align: center;
}

.group-title,
.strong-text {
  padding: 5px 0 0 0;
  font: 700 18px/18px "Roboto", Arial, Helvetica, sans-serif;
  color: #252525;
  margin: 0;
}
.strong {
  font-weight: 700;
}
.server td {
  border-bottom: 1px solid #e4e4e9;
  border-left: 1px solid #e4e4e9;
  border-right: 1px solid #e4e4e9;
  vertical-align: middle;
  padding: 10px 25px;
  background-color: #fff;
}

.server .server-btn {
  width: 145px;
  padding: 0 0 0 25px;
}

.server .server-price {
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
}

.btn {
  display: inline-block;
  background: #fff;
  border-bottom: 2px solid #dedede;
  -webkit-box-shadow: 0 2px 0 rgba(35, 31, 32, 0.25);
          box-shadow: 0 2px 0 rgba(35, 31, 32, 0.25);
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #00adf7;
  border-radius: 4px;
  padding: 9px 27px 8px;
}

.btn:hover {
  background: #00adf7;
  border-bottom-color: #008cd6;
  color: #fff;
}

.mobile_tariffs__title {
  background: #00adf7;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 15px;
}

.mobile_tariffs__item {
}

.mobile_tariffs__item_name {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 15px;
}

.head {
  background: #00adf7;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding: 21px 27px 20px;
}

.table__blue {
  display: table;
  table-layout: auto;
  width: 100%;
}

.table__blue a:hover {
  text-decoration: underline;
}

.table__blue a {
  text-decoration: none;
}

.table_head {
  background: #00adf7;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding: 21px 27px 20px;
}

.table_body {
  width: 100%;
}

.table_row {
  width: 100%;
  border: 1px solid #e4e4e9;
  border-top: 0;
  padding: 10px 0;
}

.table_cell {
  padding: 10px 10px;
}

.table__blue .btn {
  width: 100%;
}

.table__mobile {
  display: table;
  border-collapse: collapse;
}

.table__mobile .table_body {
  display: table-row-group;
}

.table__mobile .table_head {
  display: table-header-group;
}

.table__mobile .table_head .table_cell {
  border: transparent;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 5px;
}

.table__mobile .table_row {
  display: table-row;
  padding: 0;
}

.table__mobile .table_cell {
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #e4e4e9;
  padding: 10px 5px;
}

.table_wrapper__mobile {
  overflow-x: auto;
}

.notice-block {
  color: #4c5d65;
  font-size: 16px;
  padding: 105px 20px 30px 20px;
  background: url(../images/interface/notice-block/icon-notice.png) 50% 30px
    no-repeat #effaff;
  border: 1px solid #cedee5;
  position: relative;
  margin: 0 0 20px;
}

.notice-block:after {
  display: block;
  content: " ";
  background: url(../images/interface/notice-block/hint-triangle.png) 0 0
    no-repeat transparent;
  width: 18px;
  height: 19px;
  left: 30px;
  bottom: -19px;
  position: absolute;
}

.required-star {
  color: red;
}

.category-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-top: 2px solid #00adf7;
  background: #fff;
  -webkit-box-shadow: 0 9px 24px rgba(35, 31, 32, 0.14);
          box-shadow: 0 9px 24px rgba(35, 31, 32, 0.14);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin: -114px auto 100px auto;
  /*overflow: hidden;*/
  z-index: 7;
}

.category-menu a {
  padding: 42px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  border-left: 1px solid #f6f6f8;
  border-top: 1px solid #f6f6f8;
  color: #2b2d35;
  text-transform: uppercase;
  text-decoration: none;
  /*margin: -1px 0 0 -1px;*/
}

.category-menu a i {
  display: block;
  float: left;
  height: 58px;
  background-position: 0 0;
  background-repeat: no-repeat;
  /*margin: -15px 9px 0 0;*/
}

.category-menu a i.cm1 {
  width: 74px;
  margin-right: 15px;
}

.category-menu a i.cm7 {
  width: 85px;
  margin-right: 7px;
}

.category-menu a i.cm5 {
  width: 73px;
  margin-left: 10px;
  margin-right: 12px;
}

.category-menu a i.cm11 {
  width: 60px;
  margin-left: 10px;
}

.category-menu a i.cm12 {
  width: 64px;
  margin-left: 14px;
  margin-right: 12px;
}

.category-menu a i.cm6 {
  width: 74px;
  margin-right: 10px;
}

.category-menu a i.cm2 {
  width: 85px;
  margin-right: 10px;
}

.category-menu a i.cm10 {
  width: 62px;
  margin-right: 10px;
  margin-left: 5px;
}

.category-menu a i.cm9 {
  width: 60px;
  margin-left: 5px;
}

.category-menu a i.cm8 {
  width: 72px;
  margin-right: 10px;
}

.category-menu a:hover {
  background: #00adf7;
  color: #fff;
}

.category-menu a:hover i {
  background-position-y: -58px;
}

.server-1c-wrap {
  position: relative;
}

.server-1c__desc-item {
  margin-bottom: 13px;
}

.server-1c__desc {
  margin-top: 20px;
}

.server-1c__desc-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.head.bg-light-blue td {
  font-size: 12px;
  font-weight: bold;
}

.head.bg-light-blue td .with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.head.bg-light-blue td .with-icon:before {
  background-image: url(/local/templates/depohost/components/bitrix/catalog.section.list/vds-turnkey/images/sprite-icon.png);
  background-repeat: no-repeat;
  content: " ";
  display: block;
  float: left;
  vertical-align: middle;
  margin-bottom: 7px;
}

.head td.ram .with-icon:before {
  width: 23px;
  height: 13px;
  background-position: 0 -23px;
}

.head td.cpu .with-icon:before {
  width: 23px;
  height: 23px;
  background-position: 0 0;
}

.head td.hdd .with-icon:before {
  width: 20px;
  height: 25px;
  background-position: 0 -36px;
}

.head td.ssd .with-icon:before {
  width: 25px;
  height: 26px;
  background-position: 0 -61px;
}

.head td.os .with-icon:before {
  width: 30px;
  height: 18px;
  background-position: 0 -87px;
}

.head td.ip .with-icon:before {
  width: 31px;
  height: 26px;
  background-position: 0 -105px;
}

.head td.price .with-icon:before {
  width: 19px;
  height: 25px;
  background-position: 0 -131px;
}

.head td.order .with-icon:before {
  width: 29px;
  height: 22px;
  background-position: 0 -156px;
}

.head td.cpu .with-icon {
  /*min-width: 65px;*/
  line-height: 23px;
}

.head td.ram .with-icon {
  /*min-width: 60px;*/
  line-height: 13px;
}

.head td.hdd .with-icon {
  line-height: 25px;
  /*min-width: 55px;*/
}

.head td.ssd .with-icon {
  line-height: 26px;
  /*min-width: 60px;*/
}

.head td.os .with-icon {
  line-height: 18px;
  /*min-width: 135px;*/
}

.head td.ip .with-icon {
  line-height: 26px;
  /*min-width: 50px;*/
}

.head td.price .with-icon {
  line-height: 25px;
  /*min-width: 63px;*/
}

.head td.order .with-icon {
  line-height: 22px;
  /*min-width: 150px;*/
}
.head .ip .with-icon:before {
  width: 31px;
  height: 26px;
  background-position: 0 -105px;
}
.head .raid .with-icon:before {
  width: 30px;
  height: 20px;
  background-position: 0 -178px;
}
.head .period .with-icon:before {
  width: 23px;
  height: 19px;
  background-position: 0 -198px;
}

.server-1c-table {
  padding: 0 15px;
  background: #f6f6f8;
}

.server-1c {
  margin: 0 -15px;
}
.up {
  display: none;
}
.bx_breadcrumbs{
  padding: 20px 0;
}
.content_block{
  font-size: 18px;
}
.content_block__white{
  background: #fff;
  font-size: 18px;
}
.content_block .container{
  background: #f6f6f8;
  padding-top: 20px;
  padding-bottom: 30px;
}
.content_block h1,
.content_block .h1{
  margin: 0 0 30px;
}
.content_block h2{
  margin-bottom: 20px;
}
.content_block .list{
  margin-bottom: 20px;
}
.content_block p{
  margin-bottom: 15px;
}
.content_block ol {
  margin: 0 0 29px 20px;
  list-style-position: outside;
  list-style-type: decimal;
}
.content_block ol li {
  font-weight: 700;
  color: #00adf7;
}
.content_block ol li span {
  font-weight: 400;
  color: #565862;
}
.content_block ol li li {
  font-weight: normal;
  color: #565862;
}
.content_block ol li .list{
  margin-top: 10px;
}
.message-page{
  min-height: 300px;
}
@media screen and (max-width: 1200px) {
  .category-menu {
    margin-top: -18px;
    margin-bottom: 50px;
  }
  .category-menu a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 20px 7px;
    font-size: 16px;
  }

  .category-menu a i {
    margin-right: 0 !important;
    margin-bottom: 10px;
  }
  .bg-left,
  .bg-right{
    display: none;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 767px) {
  .message-page{
    min-height: 500px;
  }
  .category-menu a {
    width: 50%;
  }

  .h1 {
    font-size: 20px !important;
    line-height: 1.4;
  }

  ul.advantage {
    padding: 0 15px;
  }
}

@media screen and (max-width: 420px) {
  .menu-mobile {
    width: 100%;
    background: none;
  }
}

@media screen and (min-width: 1200px) {
  .header .header__menu {
    overflow: unset;
  }
  .header__top_menu li{
    position: relative;
  }
  .header__top_dropdown{
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 100;
    display: none;
    background-color: #090b18;
    list-style-type: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .header__top_menu li:hover .header__top_dropdown{
    display: flex;
  }

 /* .header__top_dropdown li{
    border-bottom: 1px solid #888;
  }*/
  .header__top_dropdown li:last-child{
    border-bottom: none;
  }
  .header__top_dropdown li a{
    display: block;
    padding: 8px 16px;
  }
  .header__top_dropdown li a:hover{
    background: #00adf7;
    color: #fff;
    background-color: unset;
  }
  .header__menu_list menu.header__top_menu > li.active > a{
    color: #fff;
  }

  .header__menu_list menu.header__top_menu li.active-second > a{
    color: #fff;
  }
}

.our_hosting {
  margin: 20px 0;
  text-align: center;
}


.our_advantages {
  margin: 20px 0;
}

.our_advantages img {
  width: 50px;
}
.our_advantages td:nth-child(even) {
  width: 50%
}
.our_advantages td {
  padding: 5px;
}

.border_p {
  border: 1px solid #00adf7;
  padding: 5px;
}

.bold {
  font-weight: bold;
}
.why_we img {
  width: 40px;
}

.why_we td {
  padding: 5px
}

.server_descr{
  margin-bottom: 20px;
}
.server_descr_title {
  margin: 0;
}

.pt-0 {
  padding-top: 0;
}

.rel_serv {
  background: url('/local/templates/depohost/images/categories-s20f8bbc13b.png') -145px 0 no-repeat;
  height: 65px !important;
}

.smart {
  background: url('/local/templates/depohost/images/categories-s20f8bbc13b.png') -82px 0 no-repeat;
  height: 65px !important;
}

.host {
  background: url('/local/templates/depohost/images/categories-s20f8bbc13b.png') -712px 0 no-repeat;
  height: 65px !important;
}

.data_center {
  margin: 20px 0;
  padding-left: 30px; 
}

.data_center li {
  list-style-image: url(/images/icons/tick.png);
}

.normal_ol {
  margin-top: 15px;
  list-style-type: decimal;
}
.normal_ol li {
  color: rgb(86, 88, 98);
  font-weight: 400;
}

@media(max-width: 1200px) {
  .header-blue-line {
    display: none;
  }
}

.header-blue-line {
  background-color: #00AEF7;
}

.header-blue-line__row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}


.private-cab__link {
  color: white;
}
.private-cab__link:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background-image: url(/local/templates/depohost/images/lk.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.dedic-list {
  margin-inline-start: 20px;
}
.in-service__content {
  display: none;
}
.in-service__subtitle:after {
  content: 'test';
  display: inline-block;
}
.in-service__ttl-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show-content-link {
  color:#00AEF7;
}
.underline {
    flex: 1 1 auto;
    border: 1px solid #E4E4E9;
    align-self: flex-end;
    margin:0 20px 15px 20px;
}

.footer , .footer a {
  color: white;
}

.footer > .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer a {
  color: white;
}
.footer a:hover {
  color:#00AEF7;
}
.footer__nav ul {
  list-style: none;
}

.footer__block > * {
  padding-bottom: 10px;
}
.footer__nav li {
  padding-bottom: 10px;
}
.footer__nav a {
  text-decoration: none;
}
.footer__nav li:hover a {
  color:#00AEF7;
}
.footer__block {
  padding: 20px 0;
}
.footer__subtitle {
  padding: 20px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #474747;
}

.footer__blue-line {
  background-color:#00AEF7;
  padding: 10px 0;
}
.footer__tel a, .footer__email a {
  text-decoration: none;
}
.footer__tel a:before {
  content: url(/local/templates/depohost/images/dedic/new/tel.svg);
  display: inline-block;
  margin-right: 5px;
}
.footer__email a:before {
  content: url(/local/templates/depohost/images/dedic/new/fotmail.svg);
  display: inline-block;
  margin-right: 5px;
}
.footer__email p {
  margin-bottom: 5px;
}
.footer__politic {
  text-align:right;
}
.footer__copyright {
  text-align: left;
}

@media(max-width: 768px) {
  .footer__copyright {
    margin-bottom: 10px;
  }
  .footer__politic, .footer__copyright {
    text-align: center;
  }
}
.header__phone:before {
    width: 19px;    
    height: 19px;
    background-position: -119px -68px;
    background-size: 200px;
}

.dedic-slider__item {
  height: 100%;
}
.review {
  min-height: 226px;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.review__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header_fixed {
  position: fixed;
  background-color: black;
  top:0;
  width: 100%;
  z-index:99999;
  padding: 10px 0;
  display: none;
  overflow: visible!important;
}
.header_fixed__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_fixed__wrapper .header__logo {
    background-size: contain!important;
    height: 45px!important;
    margin-top: 7px;
    width: auto!important;
}

.header_fixed__wrapper .header__phone {
  flex-direction: row;
}
.header_fixed__wrapper .header__phone > a {
  margin-right: 25px;
  font-size: 18px;
}

input[name=politic] {
  position: static!important;
  opacity: 1!important;
}

.modal {
  top: 120px;
}

.modal-header {
  font-weight: bold;
}

.modal-header, .modal-footer {
  border: none;
}

.dedic-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.dedic-form input[type=text] ,.dedic-form input[type=tel], .dedic-form textarea {
  padding: 10px;
  border: 1px solid #E4E4E9;
}

.dedic-form .btn-green {
  text-transform: initial;
  width: auto;
}

.header__menu_list ul{
  list-style: none;
}
/* header menu mobile */
.header__menu_list .hidden-lg i{
  display: none;
}
/* /header menu mobile */
.block-btn-more-detailed{
  text-align: center;
}
.btn-more-detailed{
  margin: 0;
  padding: 9px 27px 8px;
  background-color: #2BAFF1;
  color: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.42857143;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}
.btn-more-detailed:hover, .btn-more-detailed:focus{
  color: #fff;
  text-decoration: none;
}