/*Table*/
table.sale_personal_profile_detail
{

}

/*Table head*/
table.sale_personal_profile_detail th
{
    background: none repeat scroll 0 0 #00adf7;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    text-transform: uppercase;
    text-align: left;
}

/* Table cells and heads*/
table.sale_personal_profile_detail td
{
    border-bottom: 1px solid #e4e4e9;
    border-left: 1px solid #e4e4e9;
    border-right: 1px solid #e4e4e9;
    padding: 5px 10px;
    vertical-align: middle;
    background: none repeat scroll 0 0 #fff !important;
}
