.ipfields{
  border-radius: 1px;
  border: 1px solid #e4e4e9;
  background: transparent;
  height: 46px;
  padding: 0 10px;
  line-height: 48px;
  -webkit-appearance: none;
  color: #565862;
  font-size: 14px;
  width: 100%;
}
.server.ispmanager td{
  padding: 15px 25px;
}