div.title-search-result {
	border:1px solid #c6c6c6;
	display:none;
	overflow:hidden;
	z-index:205;
}

.title-search-result-wrapper {
	border-collapse: collapse;
	border:none;
	width:100%;
}


.title-search-result-wrapper  {
	background-color:white;
	color:black;
	font-weight:normal;
	padding-top:2px;
	padding-bottom:2px;
	text-align:left;
}

.title-search-result-wrapper .title-search-item a,
.title-search-result-wrapper .title-search-all a {
	padding: 10px;
	text-decoration: none;
	color:black;
	vertical-align:top;
	display:block;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-search-result-wrapper .title-search-all a
{
  color:#808080;
}

.title-search-result-wrapper .title-search-item a:hover,
.title-search-result-wrapper .title-search-all a:hover,
.title-search-result-wrapper .title-search-item a:focus,
.title-search-result-wrapper .title-search-all a:focus{
  background-color:#edf4f8;

}

.title-search-result-wrapper .title-search-item b {
	color:#00adf7;
	font-weight:normal;
}
