.header__lk_enter.logged{
  position: relative;
  padding-right: 50px;
  text-overflow: ellipsis;
  width: auto;
  z-index: 1001;
}

.header__lk_enter.logged:after{
  content: '';
  position: absolute;
  top:-1px;
  bottom:-1px;
  right: -1px;
  display: block;
  width: 47px;
  height: 48px;
  cursor: pointer;
}
.header__lk_enter.logged.active .login-menu
{
  display: block;
}
.login-menu{
  display: none;
  position: absolute;
  top: 100%;
  left: -11px;
  right: -1px;
  background: #00adf7;
  white-space: nowrap;
  line-height: 24px;
  padding: 13px 0 16px 17px;
  border-radius: 2px 0 2px 2px;
  z-index: 10;
}
.login-menu a{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
