@media screen and (max-width: 1200px) {
  .n-auth .h1 span {
    display: none;
  }

  .n-auth .block {
    background: none;
    padding-left: 0;
    padding-right: 0;
  }

  .n-page-wrapper {
    background: #f6f6f8;
  }
  .aut-l,
  .aut-r {
    background: none;
  }
  .block-pm {
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
  }

  .bx-auth__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  td.bx-auth-label {
    line-height: 20px;
  }
  .forgot-password {
    padding: 0px 0 0 0 !important;
  }
  .forgot-password a {
    margin-left: 10px;
  }

  .authorize-submit-cell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  input.bx-auth-input {
    margin-bottom: 8px;
    width: 354px;
  }

  .block-pm {
    width: 50%;
    padding-right: 0;
  }
  table.bx-auth-table td {
    width: 100%;
    text-align: left;
  }

  .block-txt {
    width: 50%;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .block-txt {
    width: 100%;
  }
  .block-pm {
    width: 100%;
  }
  input.bx-auth-input {
    width: 100%;
  }
  .n-auth .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
  }
  .bx-auth-table {
    width: 100%;
  }

  .block-pm {
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-top: 1px solid #e4e4e9;
    margin-top: 40px;
    padding-left: 0;
  }
  table.bx-auth-table td {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .forgot-password a {
    display: block;
    margin-left: 0px;
  }

  .forgot-password {
    margin-top: 10px;
  }
  .authorize-submit-cell input {
    width: 100%;
    max-width: 320px;
  }
  .n-auth .block {
    padding-top: 23px;
  }
}
