.cart {
  background: #f6f6f8;
}

.control a {
  display: block;
  width: 11px;
  height: 11px;
  background: url(/local/templates/depohost/components/bitrix/sale.basket.basket/.default/images/remove.png)
    no-repeat 0 -11px;
  text-indent: 11px;
  overflow: hidden;
  margin: 15px auto 8px;
}

#warning_message {
  color: red;
}

.bx_ordercart .bx_ordercart_order_sum tr td.fwb {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  padding-left: 10px;
  vertical-align: bottom;
}

#total_counted_cost {
  font-size: 26px;
  font-weight: 900;
  color: #00adf7;
}
.bx_ordercart_order_pay_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30px;
}

.bx_ordercart .bx_ordercart_order_pay_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #e4e6e8;
}

.cart .category-menu {
  margin-top: 0;
  margin-bottom: 50px;
}

.custom .mob {
  display: none;
}

.cart .server th {
  white-space: nowrap;
}

.cart-mob__wrap {
  border: 1px solid #cedee5;
  background: #ffffff;
  padding-left: 11px;
  padding-right: 11px;
}

.cart-mob__item {
  border-bottom: 1px solid #cedee5;
  margin: 0 -10px;
  padding: 26px 11px;
}

.cart-mob__title {
  font-size: 16px;
  font-weight: 500;
  color: #3e3f47;
  margin-bottom: 16px;
}

.cart-mob__desc {
  font-size: 14px;
  color: #565862;
  margin-bottom: 18px;
}

.cart-mob__block {
  margin-bottom: 21px;
}

.cart-mob__block-title {
  font-size: 14px;
  font-weight: 500;
  color: #2f2f2f;
  margin-right: 5px;
}

.cart-mob__block-value {
  font-size: 14px;
  font-weight: 500;
  color: #565862;
}

.cart-mob-del {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-mob-del:before {
  content: "";
  width: 11px;
  height: 11px;
  background: url(/local/templates/depohost/components/bitrix/sale.basket.basket/.default/images/remove.png)
    no-repeat 0 -11px;
  margin-right: 7px;
}

.cart-add-title {
  color: #2f2f2f;
  font-weight: 500;
  margin: 35px 0 38px 30px;
}
