@media screen and (max-width: 1400px) {
  .slick-prev {
    left: 0px !important;
    z-index: 100;
  }
  .slick-next {
    right: 0px !important;
    z-index: 100;
  }
}
@media screen and (max-width: 1200px) {
  .bxslider-item__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bxslider,
  .bxslider .bxslider-item {
    height: auto;
  }
  .category-menu {
    /*top: -18px;*/
    margin: 0px auto 67px auto;
  }
  .bxslider-item__wrap img {
    margin: 0 auto !important;
  }
  .bxslider-item__desc {
    margin-top: -175px;
  }

  .bxslider .bxslider-item_inner {
    max-width: none;
    margin-right: 50px;
    width: 41%;
  }
  .bxslider-item__desc {
    padding-bottom: 50px;
  }

  .bxslider .bxslider-list_inner {
    margin-bottom: 10px;
  }
  .main-desc-wrap p {
    line-height: 24px;
  }

  .rent-block__stage::after {
    width: 750px;
  }
  .rent-select__item {
    width: 49%;
    margin-bottom: 20px;
  }
  .rent-block {
    padding: 69px 0 94px 0;
  }
  .rent-select__wrap {
    padding: 45px 0px;
  }

  .rent-block__desc {
    padding: 0;
    margin-bottom: 39px;
  }
  .bxslider .bxslider-item_inner {
    width: 38%;
  }

  .bxslider-item__desc {
    width: 100%;
  }
  .slider {
    background: url(/local/templates/depohost/images/head-main-new-768.jpg)
      0 0 no-repeat;
    background-size: cover;
    height: auto;
  }
  .bxslider-item-img {
    width: 100%;
  }
  .bxslider-item-img {
    min-height: 470px;
  }

  .technology-logo img {
    height: 35px;
    width: auto;
  }
}

@media screen and (max-width: 992px) {
  .category-menu a {
    /*flex-direction: column;*/
    /*text-align: center;*/
    /*padding: 20px 7px;*/
    /*font-size: 13px;*/
  }

  .category-menu a i {
    /*margin-right: 0 !important;*/
    /*margin-bottom: 10px;*/
  }

  .n-rent {
    padding: 0;
  }

  .rent-block {
    margin: 0 -15px;
  }
  .rent-block__stage::after {
    width: 580px;
  }
  .rent-connect__num {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }


  .rent-connect .h1 {
    width: 68%;
  }
}

@media screen and (max-width: 767px) {
  .bxslider-item__wrap img {
    width: 100%;
    height: auto;
  }

  .bxslider .slider-ttl {
    font-size: 24px;
  }
  .bxslider-item__desc {
    margin-top: -109px;
  }
  .bxslider .bxslider-item_inner {
    width: 100%;
  }
  .category-menu a {
    /*width: 50%;*/
  }
  .advant-rent {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0;
    column-gap: 0;
  }
  .rent-block {
    padding-left: 15px;
    padding-right: 15px;
  }
  .rent-block__stage:after {
    background: none;
  }
  .rent-block__stage__item-wrap::after {
    background: none;
  }
  .rent-block__stage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rent-block__stage__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 43px;
  }
  .rent-block__stage__item-img {
    min-width: 80px;
    width: 80px;
  }
  .rent-block__stage__item-desc_wrap {
    text-align: left;
  }
  .rent-block__stage__item-num {
    margin: 0 0 7px 0;
  }

  .rent-block__stage__item-wrap {
    min-width: 100%;
    width: 100%;
  }
  .rent-block {
    padding-top: 49px;
    padding-bottom: 25px;
  }
  .rent-sevice__block {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0px;
    column-gap: 0px;
  }
  .rent-select__item {
    width: 100%;
  }
  .main-page .h1 {
    font-size: 24px;
  }
  .rent-select__wrap {
    padding: 25px 0;
  }
  .rent-connect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rent-connect .h1 {
    width: 100%;
  }
  .technology-logo img {
    height: 25px;
    width: auto;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .technology-logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: -20px;
  }
  .technology {
    padding: 9px 0 30px;
  }
  .rent-sevice {
    padding-top: 23px;
    padding-bottom: 30px;
  }
  .rent-block__title {
    font-size: 24px;
  }
  .rent-sevice .h1,
  .how-block.h1 {
    font-size: 23px !important;
  }
  .rent-sevice__block {
    margin-top: 21px;
  }
  .rent-select__block {
    margin-top: 26px;
  }
  .rent-connect {
    padding: 40px 0;
  }
}