.icon-rent,
.icon-server {
  height: 39px;
  background: url(/images/pages/microsoft/sprite-for-text.png) 0 0 no-repeat
    transparent;
  margin-right: 10px;
}

.icon-rent {
  background-position: -36px 0;
  width: 39px;
  min-width: 39px;
}

.icon-server {
  background-position: 0 0;
  width: 36px;
  min-width: 36px;
}

.microsoft .center {
  position: relative;
}

.microsoft-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #f6f6f8;
}

.element-wrapper-bg {
}

.microsoft .bg-left,
.microsoft .bg-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto auto;
}

.microsoft .bg-left {
  left: 0;
  background-color: #e2eff5;
  background-image: url(/local/templates/depohost/images/vds-l.jpg);
  background-position: top left;
}

.microsoft .sidebar {
  position: relative;
  z-index: 1;
}

.sidebar {
  width: 30%;
  background: #fff;
  border-top: 2px solid #00adf7;
  -webkit-box-shadow: 0 9px 24px rgba(35, 31, 32, 0.14);
          box-shadow: 0 9px 24px rgba(35, 31, 32, 0.14);
  padding: 3px 0 8px 0;
}

.sidebar .menu .menu-item {
  border-bottom: 1px solid #f6f6f8;
  line-height: 1em;
  padding: 20px 34px 13px 28px;
}

.sidebar .menu .menu-item .menu-ttl {
  color: #3e3f47;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 8px;
  position: relative;
}

.sidebar .menu .menu-item a {
  display: inline-block;
  clear: both;
  color: #565862;
  text-decoration: none;
  margin: 7px 0;
}

.sidebar .menu .menu-item a:hover:after,
.sidebar .menu .menu-item a.active:after {
  content: " ";
  display: block;
  width: auto;
  height: 6px;
  border: 1px solid #7f7f7f;
  margin: 0 -6px;
  border-top: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.sidebar .menu .menu-item .menu-ttl i {
  position: absolute;
  left: -19px;
  top: 7px;
  background: url(/local/templates/depohost/css/../images/arrow.png) no-repeat 0 -9px;
  width: 4px;
  height: 9px;
}

.sidebar .menu .menu-item a:hover {
  margin-bottom: 0;
}

.microsoft-wrap .content {
  width: 70%;
  padding: 0 30px;
}

.n-server-top__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #00adf7;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding: 21px 27px 20px;
}

.n-server-top__title {
  margin-right: 30px;
  width: 60%;
}

.server.element .server-info {
  font-size: 14px;
  border-bottom: 1px solid #e4e4e9;
  border-left: 1px solid #e4e4e9;
  border-right: 1px solid #e4e4e9;
  padding: 10px 22px;
  background-color: #fff;
}

.server.element .server-info p {
  margin-bottom: 0;
}

.microsoft .item_info_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.server-opis-price,
.item_buttons.vam,
.item_buttons_counter_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item_buttons_counter_block {
  margin-left: 20px;
}

.server-opis-price-title {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;
  margin-right: 12px;
}

.item_current_price {
  color: #00adf7;
  font-size: 22px;
}

.item_current_price span {
  text-transform: none;
}

.server.element .item_current_price {
  color: #fff;
}

.server-opis-price-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-transform: uppercase;
  color: #414664;
}

.server-opis-price-txt span {
  float: left;
  font-size: 32px;
  font-weight: 300;
  line-height: 24px;
  margin-right: 9px;
}

.server-opis-price-num {
  float: left;
  font-size: 32px;
  font-weight: 500;
  line-height: 26px;
}

.item_buttons_counter_block input {
  border-radius: 1px;
  border: 1px solid #e4e4e9;
  background: transparent;
  height: 43px;
  padding: 0 10px;
  line-height: 42px;
  -webkit-appearance: none;
  width: 50px;
  min-width: 50px;
  color: #565862;
  font-size: 14px;
}

.item_buttons_counter_block .bx_bt_white.bx_small.plus:hover,
.item_buttons_counter_block .bx_bt_white.bx_small:first-child:hover {
  background-position: 0 -21px;
}

.item_buttons_counter_block .bx_bt_white.bx_small {
  overflow: hidden;
  text-indent: 25px;
  line-height: 21px;
  display: block;
  width: 25px;
  height: 21px;
  background: url(/local/templates/depohost/css/../images/up_down.png) no-repeat -25px
    0 #fff;
}

.item_buttons_counter_block .bx_bt_white.bx_small.plus,
.item_buttons_counter_block .bx_bt_white.bx_small:first-child {
  background-position: 0 0;
  margin-bottom: 1px;
}

.item_buttons_counter_block .bx_bt_white.bx_small {
  overflow: hidden;
  text-indent: 25px;
  line-height: 21px;
  display: block;
  width: 25px;
  height: 21px;
  background: url(/local/templates/depohost/css/../images/up_down.png) no-repeat -25px
    0 #fff;
}

.item_buttons_counter_block .bx_bt_white.bx_small:hover {
  background-position: -25px -21px;
}

.microsoft .description {
  clear: both;
  border-top: 1px solid #e4e4e9;
  padding: 20px 0;
  margin: 86px 0 0 0;
}
.microsoft .description h1 {
  text-transform: none;
}

.description-title {
  text-transform: none;
  font-size: 28px;
  font-weight: 500;
}