.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.news-item__date {
  line-height: 1.57;
  color: #486daa;
  margin-bottom: 6px;
}

.news-item__title {
  display: block;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 9px;
  line-height: 1.57;
}

.news-item__img {
  margin-right: 22px;
  width: 200px;
  height: auto;
}

.news-item__desc {
  color: #565862;
  line-height: 1.43;
}
.news-paginator__text {
  color: #485358;
  margin-bottom: 20px;
}

.news-paginator__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 20px;
}

.news-paginator__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 3px;
  border: 1px solid #b7c9d0;
  color: #485358;
  cursor: pointer;
  text-decoration: none;
}

.news-paginator__item_dotts {
  border: none !important;
}

.news-paginator__item:hover {
  text-decoration: none;
}

.news-paginator__item.active {
  color: #ffffff;
  background: #00acfa;
  border: 1px solid #00acfa;
}
.news-detail {
  padding-top: 30px;
}
.news-date-time {
  color: #486daa;
  margin-bottom: 15px;
  display: block;
}
.news-detail-title {
  margin-bottom: 20px;
}

ol {
  margin: 0 0 29px 20px;
  list-style-position: outside;
  list-style-type: decimal;
}

ol li {
  font-weight: 700;
  color: #00adf7;
}
li {
  margin-bottom: 0;
  line-height: 28px;
}
.news_search{
  margin: 20px 0;
  position: relative;
}
.news_search__input{
  width: 100%;
  height: 40px;
  border-radius: 1px;
  border: 1px solid #e4e4e9;
  -webkit-appearance: none;
  color: #565862;
  font-size: 14px;
  padding: 0 35px 0 10px;
}
.news_search__button{
  color: transparent;
  overflow: hidden;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 40px;
  background: url(../../images/loupe.gif) 50% 50% transparent no-repeat;
}
