@media screen and (max-width: 1200px) {
  .detail-text {
    padding: 34px 0;
  }
  .n-vds-dedic:before,
  .ssl-detail:before,
  .n-vds-dedic:after,
  .ssl-detail:after {
    background: none;
    width: 0;
    height: 0;
  }
}
@media screen and (max-width: 992px) {
  .top {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 -15px;
  }
  .configuration {
    width: 100%;
    background: #00adf7;
    text-align: center;
    height: auto;
    min-height: 55px;
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 15px 0;
  }

  .price-wrapper .measure {
    margin-left: 7px;
  }

  .order-side .fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bottom .order-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bottom .order-side .fields .field {
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
  }
  .bottom .order-side .fields #years {
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bottom {
    padding: 0 15px;
    margin: 0 -15px;
  }

  .bottom .order-side .sum-wrapper {
    margin-left: 0;
  }

  .n-vds-dedic .bottom .field {
    margin-right: 20px;
  }
  .n-vds-dedic .bottom .order-side {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .n-vds-dedic .bottom .order-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .n-vds-dedic .n-price-wrap {
    /*flex-direction: column;*/
    /*align-items: flex-start;*/
    margin-bottom: 15px;
  }
  .n-vds-dedic .caption {
    margin-bottom: 5px;
  }
  .name {
    margin-bottom: 14px;
  }
  .detail-text .caption-text {
    margin-bottom: 15px;
  }
  .bottom .field{
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 670px) {
  .price-wrapper .price {
    font-size: 25px;
  }
  .configuration {
    font-size: 12px;
    line-height: 20px;
  }
  .n-price-wrap {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bottom .order-side .sum-wrapper {
    margin: 0;
    width: 50%;
  }
  .bottom .order-side .btn-wrapper {
    width: 50%;
    margin-top: 20px;
  }
  .n-vds-dedic .bottom .order-side .btn-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .fields #years {
    display: grid !important;
    grid-template-columns: 0 50% 0 50%;
  }
}

@media all and (min-width: 768px) {
  .configuration {
    font-size: 16px;
  }

  .btn-wrapper{
    margin-top: 0;
  }
}
