.page-blue-block {
  background: #00adf7;
}

.form-custom-service {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.form-custom-service__title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}


.form-custom-service input[type=text],
.form-custom-service input[type=tel],
.form-custom-service input[type=email],
.form-custom-service textarea {
  width: 100%;
  color: #141412;
  border: 1px solid #e4e4e9;
  padding: 14px 15px;
  vertical-align: baseline;
}



.field {
  margin-bottom: 1rem;
}

.field__label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #3e3f47;
  margin: 0 0 0.5rem;
  text-transform: uppercase;
}

.field__error, .field__star {
  color: #f00;
}

.message-container {
  margin-bottom: 1rem;
}

.alert-success {
  color: green;
}
.alert-danger {
  color: #f00;
}

.field_checkbox label {
  font-weight: 400;
  float: none;
}

.btn-submit-wrapper {
  text-align: center;
  margin-top: 1rem;
}


.page-blue-block .form-custom-service__title,
.page-blue-block .field_checkbox label,
.page-blue-block .field__label,
.page-blue-block a
{
  color: #fff;
}