.bx-rating {
	display: block;
	text-align: right;
}

.bx-rating-icon-container  {
	margin-right: 3px;
	cursor: pointer;
}

.bx-rating .bx-rating-icon-container:last-child { margin-right: 0; }

.bx-star-active .bx-rating-icon {
	fill: #eaed37;
}

.page-rating {
	padding-bottom: 5px;
	padding-right: 10px;
}

.page-rating__text {
	color: #000;
}

@media screen and (max-width: 560px) {
	.page-rating__text {
		font-size: 9px;
	}

	.bx-rating.page-rating {
		text-align: center;
	}
}