.title h1 {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}
ul.list_num {
  counter-reset: item;
}
ul.list_num li {
  display: block;
  background: none;
  position: relative;
  margin: 9px 0;
  padding-left: 35px;
}
ul.list_num li:before {
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  content: counters(item, "") "";
  counter-increment: item;
  color: #00adf7;
  font-size: 14px;
  border: 1px solid #00adf7;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 23px;
  text-align: center;
  font-weight: 500;
}
ul.list_num li:before {
  content: counters(item);
  counter-increment: item;
}

/*  class="img_left"  */
/*  class="text_left"  */
/*  class="text_right"  */
.text_left {
  text-align: left;
}
.text_right {
  text-align: right;
}
.img_left {
  float: none;
  margin: 5px 15px;
}

.text-center {
  text-align: center;
}
.text-blue {
  color: #00adf7;
}
.text-bold {
  font-weight: 700;
}
.list-circle li {
  font-size: 16px;
  padding: 0 0 15px 30px;
  vertical-align: top;
}
.empty-line {
  width: 100%;
  height: 20px;
}
table.wrap-col-2 td {
  width: 50%;
}
.wrap-wide {
  margin: 0 auto;
  width: 1055px;
}
.wrapper.wide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.microsoft .bg-blue {
  background-color: transparent;
}

.bg-white {
  background-color: #fff;
}
.bg-blue {
  background-color: #e2eff5;
}
.p {
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 30px;
  margin: 0;
}

.h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 33px 0px 30px;
  color: #2f2f2f;
  text-transform: uppercase;
}

.h1 span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #00adf7;
  text-transform: uppercase;
  line-height: 26px;
}

.h2 {
  /*font-weight: 700;*/
  font-size: 18px;
  margin: 30px 0 20px;
  text-transform: none;
}
.band-blue {
  width: 100%;
  height: 60px;
  background: #00adf7;
}

.btn-big {
  display: inline-block;
  background: #fff;
  /*border-bottom: 2px solid #dedede;*/
  -webkit-box-shadow: 0 2px 0 rgba(35, 31, 32, 0.25);
          box-shadow: 0 2px 0 rgba(35, 31, 32, 0.25);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #00adf7;
  border-radius: 4px;
  padding: 13px 24px 12px;
  border: 0;
}

.btn-big:hover {
  background: #00adf7;
  border-bottom-color: #008cd6;
  color: #fff;
}

.btn-green {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  display: inline-block;
  line-height: 50px;
  height: 50px;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(92, 135, 59, 1);
          box-shadow: 0px 3px 0px 0px rgba(92, 135, 59, 1);
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  background: rgb(136, 199, 87);
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgb(136, 199, 87)),
    to(rgb(148, 205, 104))
  );
  background: -webkit-linear-gradient(
    top,
    rgb(136, 199, 87) 0%,
    rgb(148, 205, 104) 100%
  );
  background: -o-linear-gradient(
    top,
    rgb(136, 199, 87) 0%,
    rgb(148, 205, 104) 100%
  );
  background: linear-gradient(
    180deg,
    rgb(136, 199, 87) 0%,
    rgb(148, 205, 104) 100%
  );
}

.btn-green:hover {
  cursor: pointer;
}

.selectBox-dropdown-menu {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

a:focus {
  outline: none;
}
ol {
  margin: 0 0 29px 20px;
  list-style-position: outside;
  list-style-type: decimal;
}
ol li {
  font-weight: 700;
  color: #00adf7;
}
