.btn-green {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  display: inline-block;
  line-height: 50px;
  height: 50px;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(92, 135, 59, 1);
          box-shadow: 0px 3px 0px 0px rgba(92, 135, 59, 1);
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  background: rgb(136, 199, 87);
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgb(136, 199, 87)),
    to(rgb(148, 205, 104))
  );
  background: -webkit-linear-gradient(
    top,
    rgb(136, 199, 87) 0%,
    rgb(148, 205, 104) 100%
  );
  background: -o-linear-gradient(
    top,
    rgb(136, 199, 87) 0%,
    rgb(148, 205, 104) 100%
  );
  background: linear-gradient(
    180deg,
    rgb(136, 199, 87) 0%,
    rgb(148, 205, 104) 100%
  );
}
.btn-green.sm {
  line-height: 40px;
  height: 40px;
}

.rel {
  position: relative;
}

.seo-content {
  background-color: #f6f6f6;
  padding: 20px 10px;
}

.teaser {
  color: #3e3f47;
  float: inherit;
  font: 16px/22px "Roboto", Arial, Helvetica, sans-serif !important;
  margin: 10px 0 0;
  text-transform: none;
  white-space: normal;
  width: 95%;
  cursor: text;
  text-decoration: none;
}

.ui-corner-left > a {
  text-decoration: none;
  white-space: normal;
  cursor: text;
  color: #00adf7 !important;
}

#tabs > h2 {
  margin: 15px 0;
  font: 400 18px/22px "Roboto", Arial, Helvetica, sans-serif;
}

.ui-corner-left {
  border: 0 none !important;
}

.ui-state-default.ui-corner-left > p {
  white-space: normal;
}

.order-bottom.clearFix > h2 {
  color: white;
  font: 400 22px/22px "Roboto", Arial, Helvetica, sans-serif;
}

.tabs-name {
  padding: 0.5em 1em;
  white-space: normal;
}

.container-content {
  padding: 30px 45px;
  background: #fff;
}

.container-content * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-content.wide {
  margin-left: -55px;
  margin-right: -55px;
}

.rub {
  display: inline-block;
  position: relative;
  line-height: 100%;
}

.rub:before {
  display: block;
  content: "P";
}

.rub:after {
  font-size: 100%;
  position: absolute;
  display: block;
  content: "--";
  letter-spacing: -0.2em;
  bottom: -15%;
  left: -10%;
  width: 60%;
}

.price {
  white-space: nowrap;
}
.btn-green-v2 {
  background: rgba(0, 0, 0, 0)
    -webkit-gradient(linear, left top, left bottom, from(rgb(136, 199, 87)), to(rgb(148, 205, 104)))
    repeat scroll 0 0;
  background: rgba(0, 0, 0, 0)
    -webkit-linear-gradient(top, rgb(136, 199, 87) 0%, rgb(148, 205, 104) 100%)
    repeat scroll 0 0;
  background: rgba(0, 0, 0, 0)
    -o-linear-gradient(top, rgb(136, 199, 87) 0%, rgb(148, 205, 104) 100%)
    repeat scroll 0 0;
  background: rgba(0, 0, 0, 0)
    linear-gradient(180deg, rgb(136, 199, 87) 0%, rgb(148, 205, 104) 100%)
    repeat scroll 0 0;
  border: 0 none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 0 0 rgba(92, 135, 59, 1);
          box-shadow: 0 3px 0 0 rgba(92, 135, 59, 1);
  color: #fff;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.btn-green-v2.btn-lg {
  height: 60px;
  line-height: 60px;
}
.side-left,
.side-right {
  width: 50%;
  margin: 0;
}
.side-left {
  float: left;
}
.side-right {
  float: right;
}
/**/
.bx-breadcrumb {
  padding: 0 15px;
}
.bx-breadcrumb .bx-breadcrumb-item {
  margin-bottom: 0;
}
.wrap-table-v3,
.vds-solution-wrapper,
.relative-wrapper {
  position: relative;
}

.wrapper.wide {
  position: relative;
  z-index: 1;
}
.content_block{
  position: relative;
}
.content_block:before,
.content_block:after,
.bg-left,
.bg-right {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto auto;
  z-index: -1;
}
.content_block:before,
.bg-left
{
  left: 0;
  background-color: #e2eff5;
  background-image: url("images/ssl-l.jpg");
  background-position: top left;
}

.content_block:after,
.bg-right {
  right: 0;
  background-color: #e2eff5;
  background-image: url("images/ssl-r.jpg");
  background-position: top right;
}

.hosting-dns .bg-right {
  right: 0;
  background-color: #e2eff5;
  background-image: url("images/hosting-dns-r.jpg");
  background-position: top right;
}
.hosting-dns .bg-left {
  left: 0;
  background-color: #e2eff5;
  background-image: url("images/hosting-dns-l.jpg");
  background-position: top left;
}
.domain .bg-right {
  background-image: url("images/domain-r.jpg");
}
.domain .bg-left {
  background-image: url("images/domain-l.jpg");
}
.vds .bg-right {
  background-image: url("images/vds-r.jpg");
}
.vds .bg-left {
  background-image: url("images/vds-l.jpg");
}
.microsoft_exchange .bg-right {
  background-image: url("images/microsoft-exchange-r.jpg");
}
.microsoft_exchange .bg-left {
  background-image: url("images/microsoft-exchange-l.jpg");
}
.hosting .bg-right {
  background-image: url("images/unix-r.jpg");
}
.hosting .bg-left {
  background-image: url("images/unix-l.jpg");
}

.star_required{
  font-weight: bold;
  color: #f00;
}
.microsoft .center {
  position: relative;
}
.microsoft .sidebar {
  position: relative;
  z-index: 1;
}
.microsoft .content {
  position: relative;
  z-index: 1;
  /* background-color: #e3eff4; */
}

.ispmanager .center {
  position: relative;
}
.ispmanager .sidebar {
  position: relative;
  z-index: 1;
}
.ispmanager .content {
  position: relative;
  z-index: 1;
  /* background-color: #e3eff4; */
}
/**/
/* .server-container ul li {
  padding: 0 0 0 69px;
} */
#tabs.ui-tabs-vertical h2 {
  margin-bottom: 0;
}
.server-container .nav.nav-tabs li {
  padding: 0;
}
.element-wrapper-bg {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 30px;
}
.element-wrapper-bg::before,
.element-wrapper-bg::after {
  content: " ";
  display: block;
  clear: both;
}
.element-wrapper-bg {
  background-color: #f6f6f8;
}
.element-wrapper-bg .bx_breadcrumbs {
  margin-bottom: 0;
  padding-left: 15px;
}
.group-title,
.strong-text {
  padding: 5px 0 0 0;
  font: 700 18px/18px "Roboto", Arial, Helvetica, sans-serif;
  color: #252525;
  margin: 0;
}

.strong-text {
  font-size: 24px;
}

.group-title {
  text-transform: uppercase;
}
