
.microsoft_exchange__wrapper{
  margin-top: -30px;
  margin-bottom: -16px; /* hack for &nbsp; between .microsoft_exchange__wrapper and .block_text*/
  background: #fff;
}
.microsoft_exchange__wrapper .table_row:first-child .table_cell {
  border-bottom: 1px solid transparent;
}
.microsoft_exchange__wrapper input[type=text]{
  border-radius: 1px;
  border: 1px solid #e4e4e9;
  background: transparent;
  height: 46px;
  padding: 0 10px;
  line-height: 48px;
  -webkit-appearance: none;
  color: #565862;
  font-size: 14px;
}
.microsoft_exchange__quntity {
  float: left;
  width: 50px;
}
.bx_bt_white.bx_small.plus, .bx_bt_white.bx_small:first-child {
  background-position: 0 0;
  margin-bottom: 1px;
}
.bx_bt_white.bx_small {
  overflow: hidden;
  text-indent: 25px;
  line-height: 21px;
  display: block;
  width: 25px;
  height: 21px;
  background: url(/local/templates/depohost/css/../images/up_down.png) no-repeat -25px 0 #fff;
}