.main-new__wrap {
  background: #edf4f8;
  padding: 57px 0;
  text-align: center;
}
.main-new__title {
  font-size: 18px;
  font-weight: bold;
  color: #3e3f47;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.main-new__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-new__item {
  width: 24%;
  text-align: left;
  height: auto;
  overflow: hidden;
  margin-bottom: 30px;
}
.main-new__img {
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover";
  height: 273px;
  width: 100%;
  background-color: #fff;
}
.main-new__item-desc__wrap {
  background: #ffffff;
  padding: 30px 20px 50px 20px;
}
.main-new__item-desc__block {
  height: 150px;
  overflow: hidden;
}
.main-new__item-title {
  font-size: 16px;
  color: #00adf7;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 23px;
  display: inline-block;
  text-decoration: none;
}
.main-new__item-desc {
  font-size: 15px;
  line-height: 22px;
  color: #393939;
}
@media screen and (max-width: 992px) {
  .main-new__img {
    height: 116px;
  }
}
@media screen and (max-width: 767px) {
  .main-new__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-new__item {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
@media all and (min-width: 768px){
  .main-desc-wrap{
    margin-bottom: 50px;
  }
}
