.advantages-sprite,.advantage__item_icon.free-settings,.advantage__item_icon.ipod,.advantage__item_icon.check-list,.advantage__item_icon.path,.advantage__item_icon.email,.advantage__item_icon.mbit-100,.advantage__item_icon.free-admin,.advantage__item_icon.quick-start,.advantage__item_icon.kvm,.advantage__item_icon.os,.advantage__item_icon.day,.advantage__item_icon.server-top,.advantage__item_icon.mouse,.advantage__item_icon.hand,.advantage__item_icon.www,.advantage__item_icon.star,.advantage__item_icon.planet,.advantage__item_icon.server-plus,.advantage__item_icon.page,.advantage__item_icon.cart,.advantage__item_icon.papers,.advantage__item_icon.gb-10,.advantage__item_icon.planet-refresh,.advantage__item_icon.trash,.advantage__item_icon.calc,.advantage__item_icon.operator,.advantage__item_icon.thumb-click,.advantage__item_icon.stack,.advantage__item_icon.server-check,.advantage__item_icon.shield,.advantage__item_icon.clock,.advantage__item_icon.send,.advantage__item_icon.server-5,.advantage__item_icon.refresh,.advantage__item_icon.server-infinity,.advantage__item_icon.folder,.advantage__item_icon.paper-check,.advantage__item_icon.shield-big,.advantage__item_icon.php {
	background-image: url('/local/templates/depohost/images/advantages-s3d38f730ec.png');
	background-repeat: no-repeat;
}

.advantage__item_icon {
	display: inline-block;
	width: 40px;
	min-width: 45px;
	height: 40px;
}

.advantage__item_icon.free-settings {
	background-position: 0 -320px;
}

.advantage__item_icon.ipod {
	background-position: 0 -400px;
}

.advantage__item_icon.check-list {
	background-position: 0 -80px;
}

.advantage__item_icon.path {
	background-position: 0 -1480px;
}

.advantage__item_icon.email {
	background-position: 0 -200px;
}

.advantage__item_icon.mbit-100 {
	background-position: 0 -480px;
}

.advantage__item_icon.free-admin {
	background-position: 0 -280px;
}

.advantage__item_icon.quick-start {
	background-position: 0 -880px;
}

.advantage__item_icon.kvm {
	background-position: 0 -440px;
}

.advantage__item_icon.os {
	background-position: 0 -600px;
}

.advantage__item_icon.day {
	background-position: 0 -160px;
}

.advantage__item_icon.server-top {
	background-position: 0 -1160px;
}

.advantage__item_icon.mouse {
	background-position: 0 -520px;
}

.advantage__item_icon.hand {
	background-position: 0 -360px;
}

.advantage__item_icon.www {
	background-position: 0 -1440px;
}

.advantage__item_icon.star {
	background-position: 0 -1320px;
}

.advantage__item_icon.planet {
	background-position: 0 -840px;
}

.advantage__item_icon.server-plus {
	background-position: 0 -1120px;
}

.advantage__item_icon.page {
	background-position: 0 -640px;
}

.advantage__item_icon.cart {
	background-position: 0 -40px;
}

.advantage__item_icon.papers {
	background-position: 0 -720px;
}

.advantage__item_icon.gb-10 {
	background-position: 0 -1521px;
}

.advantage__item_icon.free-settings {
	background-position: 0 -320px;
}

.advantage__item_icon.planet-refresh {
	background-position: 0 -800px;
}

.advantage__item_icon.trash {
	background-position: 0 -1400px;
}

.advantage__item_icon.calc {
	background-position: 0 0;
}

.advantage__item_icon.operator {
	background-position: 0 -560px;
}

.advantage__item_icon.thumb-click {
	background-position: 0 -1360px;
}

.advantage__item_icon.stack {
	background-position: 0 -1280px;
}

.advantage__item_icon.server-check {
	background-position: 0 -1040px;
}

.advantage__item_icon.shield {
	background-position: 0 -1240px;
}

.advantage__item_icon.clock {
	background-position: 0 -120px;
}

.advantage__item_icon.send {
	background-position: 0 -960px;
}

.advantage__item_icon.server-5 {
	background-position: 0 -1000px;
}

.advantage__item_icon.refresh {
	background-position: 0 -920px;
}

.advantage__item_icon.server-infinity {
	background-position: 0 -1080px;
}

.advantage__item_icon.folder {
	background-position: 0 -240px;
}

.advantage__item_icon.paper-check {
	background-position: 0 -680px;
}

.advantage__item_icon.shield-big {
	background-position: 0 -1200px;
}

.advantage__item_icon.php {
	background-position: 0 -760px;
}
.advantage__item_icon-new {
	min-width: auto;
	width: 26px;
	height: 26px;
	background-repeat: no-repeat;
	background-size: contain;
}
.advantage__item_icon.performance{
	background-image: url(/local/templates/depohost/images/advantages/performance.svg);
}

.advantage__item_icon.settings {
	background-image: url(/local/templates/depohost/images/advantages/settings.svg);
}

.advantage__item_icon.progress{
	background-image: url(/local/templates/depohost/images/advantages/progress.svg);
}

.advantage__item_icon.calendar{
	background-image: url(/local/templates/depohost/images/advantages/calendar.svg);
}
