#page-dedic{
    margin-top: 0;
    width: 100%;
}
.summary-block .summ{
    width: auto;
    float: none;
}
#parameters:after{
    clear:both;
    content:'';
    display:block;
}
.left-block{
    width: 460px;
}
.right-block{
    min-width: 570px;
    max-width: 680px;
    width: calc(100% - 460px) !important;
    float:left;
}
.more_data{
    clear: both;
    width: 460px;
}
#configuration .more_data input[type="text"]{
    width: 100%;
    height: 46px;
    border: 2px solid #00adf7;
}

#configuration .more_data .h5{
    color: #696969;
    font-size: 14px;
    text-transform: initial;
}