.wrapper-blue-v2 {
  width: 950px;
  margin: 0 auto;
}

.blue-v2 {
  width: 100%;
  position: relative;
  z-index: 1;
  /*margin-top: 20px;*/
}
.blue-v2 td {
  border: 1px solid #ccc;
  vertical-align: middle;
  background: #fff;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  word-break: break-all;
}

.blue-v2 tbody .os,
.blue-v2 tbody .price,
.blue-v2 tbody .ip {
  text-transform: none;
}

.blue-v2 tbody .price .value {
  font-size: 20px;
  font-weight: 700;
}

.blue-v2 tr:hover td {
  background: #eef8ff;
  cursor: pointer;
}

.blue-v2 .head {
  height: 50px;
}

.blue-v2 .head td,
.blue-v2 td.name,
.blue-v2 td.section-name,
.blue-v2 td.cpu,
.blue-v2 td.ram,
.blue-v2 td.hdd,
.blue-v2 td.raid {
  text-align: left;
}

.blue-v2 .head td {
  font-size: 16px;
  padding-left: 15px;
}

.blue-v2 td.section-name {
  padding-left: 10px;
  font-size: 18px;
}

.blue-v2 .head.bg-light-blue td {
  background-color: #00aef7 !important;
  color: #fff !important;
}

.blue-v2 td.bg-dark-blue,
.blue-v2 td.bg-dark-blue:hover {
  background-color: #07497b;
  color: #fff;
  text-transform: none;
}

.blue-v2 .bordered {
  border-radius: 2px;
  border: 2px solid #53a4d9;
  color: #53a4d9;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  padding: 5px 0;
  width: 50px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.blue-v2 .head.bg-light-blue .bordered {
  border-radius: 2px;
  border-color: #fff;
  color: #fff;
}

.head.bg-light-blue td.with-icon:before {
  background-image: url("./images/sprite-icon.png");
  background-repeat: no-repeat;
  content: " ";
  display: block;
  float: left;
  margin-right: 5px;
  vertical-align: middle;
}

.head td.cpu:before {
  width: 23px;
  height: 23px;
  background-position: 0 0;
}

.head td.cpu {
  min-width: 65px;
  line-height: 23px;
}

.head td.ram:before {
  width: 23px;
  height: 13px;
  background-position: 0 -23px;
}

.head td.ram {
  min-width: 60px;
  line-height: 13px;
}

.head td.hdd:before {
  width: 20px;
  height: 25px;
  background-position: 0 -36px;
}

.head td.hdd {
  line-height: 25px;
  min-width: 55px;
}

.head td.ssd:before {
  width: 25px;
  height: 26px;
  background-position: 0 -61px;
}

.head td.ssd {
  line-height: 26px;
  min-width: 60px;
}

.head td.os:before {
  width: 30px;
  height: 18px;
  background-position: 0 -87px;
}

.head td.os {
  line-height: 18px;
  min-width: 135px;
}

.head td.ip:before {
  width: 31px;
  height: 26px;
  background-position: 0 -105px;
}

.head td.ip {
  line-height: 26px;
  min-width: 50px;
}

.head td.price:before {
  width: 19px;
  height: 25px;
  background-position: 0 -131px;
}

.head td.price {
  line-height: 25px;
  min-width: 63px;
}

.head td.order:before {
  width: 29px;
  height: 22px;
  background-position: 0 -156px;
}

.head td.order {
  line-height: 22px;
}

.head td.raid:before {
  width: 30px;
  height: 20px;
  background-position: 0 -178px;
}

.head td.raid {
  line-height: 20px;
}

.head td.period:before {
  width: 23px;
  height: 19px;
  background-position: 0 -198px;
}

.head td.period {
  line-height: 19px;
}

.btn-green {
  font-size: 16px;
}

.period-selectBox-dropdown-menu li a {
  font-family: "Roboto Condensed", "Roboto", sans-serif !important;
  font-size: 13px !important;
  text-transform: uppercase !important;
}

.selectBox.period {
  height: 32px !important;
  line-height: 32px;
}

.selectBox.period .selectBox-label {
  height: 32px;
  line-height: 28px;
  padding-left: 5px;
}

.selectBox.period .selectBox-arrow {
  width: 32px;
  height: 30px;
  line-height: 30px;
  background-position: -9px -9px;
  border-left: 1px solid #ccc;
}
