.header__lk_enter.logged{
  position: relative;
  text-overflow: ellipsis;
  width: auto;
  z-index: 1001;
  align-items: baseline;
  display: flex;
}
.private-cab__ttl {
  font-size: 12px;
  color: #1daef4;
  padding-right: 15px;
}
.private-cab__login-menu a{
  color: #1daef4;
  font-size: 12px;
  text-decoration: none;
}
.private-cab_link{
  padding-right: 15px;
}