.ssl__table {
  display: table;
  table-layout: auto;
  width: 100%;
}
.ssl__table a:hover {
  text-decoration: underline;
}
.ssl__table a {
  text-decoration: none;
}
.ssl__table_head {
  background: #00adf7;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding: 21px 27px 20px;
}
.ssl__table_body {
  width: 100%;
}
.ssl__table_row {
  width: 100%;
  border: 1px solid #e4e4e9;
  border-top: 0;
  padding: 10px 0;
}
.ssl__table_cell {
  padding: 10px 10px;
}
.ssl__name,
.ssl__price {
  font-weight: 700;
}
.ssl__price{
  white-space: nowrap;
}
.ssl__description {
  margin-top: 5px;
}
.ssl__order .btn {
  width: 100%;
}
.ssl__icon {
  background: url(/local/templates/depohost/images/ssl/ssl.png) 0 0 no-repeat;
  width: 34px;
  height: 23px;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  padding: 1px 0;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.ssl__order_form {
  display: none;
}
#ssl__form {
  position: absolute;
  background: #fff;
  border: 1px solid #e4e4e9;
}
#ssl__form input[type=text], #ssl__form select {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#ssl__form .btn{
  width: 100%;
}
#ssl__form {
  padding: 10px;
}
#ssl__form label {
  font-weight: 400;
  display: block;
}
.ssl__form_close{
  position: absolute;
  right: 5px;
  top: 5px;
  color: #f00;
  font-size: 25px;
  line-height: 1;
  cursor: pointer;
}
#ssl__form input[type=text]{
  min-width: 250px;
}
.bg-left{
  background-image: url(/local/templates/depohost/images/ssl-l.jpg) !important;
}
.bg-right{
  background-image: url(/local/templates/depohost/images/ssl-r.jpg) !important;
}
.ssl__table{
  background: #fff;
}
@media all and (min-width: 768px) {
  .filter{
    margin-top: -30px;
  }
  .ssl__table_body {
    display: table;
    border-collapse: collapse;
  }
  .ssl__table_row {
    display: table-row;
    padding: 0;
  }
  .ssl__table_cell {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #e4e4e9;
    padding: 10px 5px;
  }
  .ssl__table_cell.ssl__order {
    width: 130px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  #ssl__form .ssl__order_form_field{
    border-left: 1px solid #e4e4e9;
    height: 100%;
    padding: 10px 20px;
    display: table-cell;
    vertical-align: middle;
  }
  #ssl__form .ssl__order_form_field.btn_wrapper{
    text-align: center;
  }
  #ssl__form .ssl__order_form_field:first-child{
    border-left: 0;
  }
  #ssl__form {
    display: table;
    padding: 0;
  }
  #ssl__form input[type=text], #ssl__form select,#ssl__form .btn {
    width: auto;
  }
}

@media all and (min-width: 1200px) {
  .ssl__table_cell {
    padding: 10px 25px;
  }
}

.ssl__table_padding-height{
  padding: 25px 0;
}
