.footer .menu-title a {
	font-size: 13px;
    color: #7a7b83;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
}

.footer .menu-title a:hover {
	text-decoration: underline;
}