.select .selectBox-dropdown {
  min-width: 110px;
  width: 110px !important;
}
.select .selectBox-dropdown,
.selectBox-options li a {
  height: 24px !important;
  line-height: 18px !important;
}
.select .selectBox-dropdown .selectBox-arrow {
  height: 22px !important;
  width: 23px !important;
  background: url("../images/triangle-sm.png") 50% 50% no-repeat #fff !important;
  border-left: 1px solid #e4e4e9 !important;
}
.selectBox-options li {
  padding: 10px !important;
}

.select .selectBox-dropdown .selectBox-label,
.selectBox-options li a {
  font-size: 14px !important;
  padding: 3px 0 0 2px !important;
}
.select .select_kam.selectBox-dropdown .selectBox-arrow {
  height: 42px !important;
  width: 44px !important;
  /*background: url("../images/arrow_kam.gif") center center no-repeat #fff !important;*/
  border-left: 0px solid #e4e4e9 !important;
}
.select_kam.selectBox-dropdown {
  padding: 10px 10px 0;
  height: 46px !important;
  width: 100% !important;
  border: 2px solid #00adf7 !important;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  text-decoration: none !important;
}
.select_kam.selectBox-dropdown:focus {
  outline: medium none !important;
}
.select_kam.selectBox-dropdown .selectBox-label {
  color: #000 !important;
  font-size: 14px !important;
  text-transform: uppercase;
}

.select_kam_wrap .h5 {
  color: #696969 !important;
  font-size: 14px !important;
  text-transform: initial !important;
}

.selectBox.select_kam2.period .selectBox-arrow {
  background: url("../images/arrow_kam.gif") center center no-repeat #fff !important;
  border-left: none !important;
}
.selectBox.select_kam2.selectBox-dropdown {
  min-width: 135px;
}
