.body_personal_cart_,
body.ssl,
body.domain,
.body_arenda-vydelennogo-servera-na-windows_,
.body_personal_order_make_,
#order-form,
.body_auth_,

.server-order-detail,
.main-page,
#domain-page,
.lk-page,
.body__v_lk-myservices,
.body__v_lk-client_data,
.body__v_lk-contracts,
.body__v_lk-rules,
.body__v_lk-acts,
.body__v_lk-ticket,
.body__v_lk-offer1,
.body__v_lk-offer2,
.body__v_domain,
.body__v_domain .page-top-desc {
	background:#edf4f8;
}

body.vds .bx_breadcrumbs,
.body_arenda-virtualnogo-vydelennogo-servera-na-windows_ ,
.body_arenda-virtualnogo-vydelennogo-servera-vds-gotovie-resheniya_,
body.hosting-dns,
body.hosting {
    background: #E0E9EE;
	margin-bottom:0;
}


body.domain .page-top-desc {
	background:#edf4f8;
}

body.ssl.ssl-wildcard {
	background:#fff;
}


.top-slider {
	height: 608px;
	background: linear-gradient(180deg, #154277 0%, #000000 61.18%);	
	position: relative;
}
.top-slider > div,
.top-slider > div > div,
.top-slider > div > div > div {
	height: 100%;
}

.top-slider__slide,
.top-slider__slide > div {
	height: 100%;
}
.top-slider__slide_wrapper {
	display: flex;
	width: 100%;
	height: 100%;
}

.top-slider__left,
.top-slider__right {
	flex:0 0 50%;
}
.top-slider__right_content {
	width: 406px;
	padding-top: 50px;
}

.top-slider__h {
	font-family: Roboto;
	font-weight: bold;
	font-size: 50px;
	line-height: 50px;
	color: #FFFFFF;	
	margin-bottom: 10px;
}

.top-slider__subh {
	background: #FFFFFF;
	border-radius: 17px;
	height: 34px;

	display: inline-block;

	font-family: Roboto;
	font-weight: 900;
	font-size: 15px;
	line-height: 34px;

	padding: 0px 27px;
	margin-bottom: 22px;
}

.top-slider__text {
	font-family: Roboto;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;	
	margin-bottom: 20px;
}

.blue-button {
	display: inline-block;
	background: #2BAFF1;
	border-radius: 3px;
	padding: 11px 27px;

	font-family: Roboto;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	color: #FFFFFF;	
	text-decoration: none;
}

.mps-next,
.mps-prev {
	position: absolute;
	top:50%;
	margin-top: -44px;
	cursor:pointer;
}
.mps-next {
	right:50px;
}
.mps-prev {
	left:50px;
}

.top-slider .slick-dots {
	bottom: 150px !important;
}

.top-slider.slick-dotted.slick-slider {
	margin-bottom: 0;
}


/****services block***/
.services-block {
}

.services-items {
	border-radius:10px;
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	display: flex;
	flex-wrap:wrap;
	background: #fff;

	position: relative;
	top:-93px;

}

.service-item {
	flex:0 0 25%;
	border:1px solid #efefef;
	border-top:none;
	border-left:none;
	text-align: center;
	padding: 38px 0px 38px 0px;
	text-decoration: none;
}

.service-item:nth-child(4n) {
	border-right:none;
}

.service-item:hover {
	background:#1DAEF4;
	text-decoration: none !important;
}
.service-item:hover .service-item__name {
	color:#fff;
	text-decoration: none;
}
.service-item:hover .service-item__img img {
	filter: contrast(99%) brightness(999%);
}

.service-item__img {
	margin-bottom: 10px;
	height: 60px;
}
.service-item__name {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #151A3A;	
	text-decoration: none !important;
}
.service-item__name:hover {
	text-decoration: none;
}

/****service item detail***/
.services-item-detail {
	padding-bottom: 32px;
	padding-top:100px;
}
.services-item-detail__wrapper {
	max-width:750px;
	margin: auto;
}
.sid_h {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	color: #090B18;	
	margin-bottom: 20px;
}
.sid_subh {
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #1DAEF4;	
	margin-bottom: 40px;
}
.sid_img {
	float:right;
	margin-left: 42px;
	padding-top: 15px;
}
.sid_text p {
	font-size: 16px;
	line-height: 24px;
	color: #525462;	
}

/****service consist***/
.mainpage-block,
.services-consist-block  {
	padding: 88px 0px;
}

.mpb_h {
	font-weight: bold;
	font-size: 32px;
	line-height: 32px;
	text-align: center;	
	margin-bottom: 39px;
}

.services-consist__list {
	columns: 2;
}
.services-consist__list li {
	display: block;
	padding-left: 41px;
	/*background: url(/images/icon-blue_check.png) no-repeat left top;*/
	position:relative;
	min-height: 28px;
	margin-bottom: 18px;

	font-size: 16px;
	line-height: 24px;
}
.services-consist__list li:before {
	background:url('/local/templates/depohost2020/images/css-sprite-combined.png') -47px -25px;
    width:28px;
    height:28px;
    display:block;
    position:absolute;
    content: " ";
    top:0;
    left:0;
}


/********why we***/
.why-we-block {
	padding: 73px 0px 107px 0px;
	background: #EDF4F8;
}
.why-we-block  .mpb_h{
	margin-bottom: 46px;
}
.why-we__items {
	columns: 3;
	justify-content: space-between;
}
.why-we__item {
	max-width:313px;
	margin-bottom: 20px;
	border-radius:10px;
	background-color: #fff !important;
	padding: 21px 30px 21px 93px;
	min-height: 94px;

	font-weight: bold;
	font-size: 14px;
	line-height: 15px;
	color: #151A3A;	
	box-shadow:0px 0px 5px #ddd;
	display: flex;
	align-items: center;
}
.wwi1 {
	background: url(/images/why-we/icon_1.png) no-repeat 21px 50%;
}
.wwi2 {
	background: url(/images/why-we/icon_2.png) no-repeat 21px 50%;
}
.wwi3 {
	background: url(/images/why-we/icon_3.png) no-repeat 21px 50%;
}
.wwi4 {
	background: url(/images/why-we/icon_4.png) no-repeat 21px 50%;
}
.wwi5 {
	background: url(/images/why-we/icon_5.png) no-repeat 21px 50%;
}
.wwi6 {
	background: url(/images/why-we/icon_6.png) no-repeat 21px 50%;
}
.wwi7 {
	background: url(/images/why-we/icon_7.png) no-repeat 21px 50%;
}
.wwi8 {
	background: url(/images/why-we/icon_8.png) no-repeat 21px 50%;
}
.wwi9 {
	background: url(/images/why-we/icon_9.png) no-repeat 21px 50%;
}

/***contact-us block****/
.contact-us-block {
	padding: 82px 0px;
	background: #fff;
}
.contact-us__wrapper {
	display: flex;
}
.contact-us__left,
.contact-us__right {
	flex: 0 0 50%;
}
.cu_h {
	font-weight: bold;
	font-size: 32px;
	line-height: 38px;
	color: #151A3A;
}
.contact-us__right li {
	display: block;
	margin-bottom: 18px;

	font-size: 16px;
	line-height: 24px;
	color: #151A3A;
}
.contact-us__right li span{
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border-radius:50%;
	color:#fff;
	background: #2BAFF1;
	margin-right: 13px;
}
.contact-us__right li b{
	font-size: 24px;
	font-weight: 900;
}
.contact-us__right li a{
	color: #2baff1;
}

/****faq block****/
.faq-block {
	background: #EDF4F8;
	padding: 62px 0px 112px 0px;
}
.faq-block .mpb_h {
	margin-bottom: 21px;
}

.faq-item {
	background: #fff;
	box-shadow:0px 0px 5px #bbb;
	border-radius:10px;
	cursor: pointer;
	margin-bottom: 25px;
}
.faq-item__img {
	height: 159px;
}
.faq-item__bottom {
	padding: 20px 0 20px 40px;
	position: relative;
}
.faq-item__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #00ADF7;	
	margin-bottom: 20px;
	text-decoration: none;
}
.faq-item__desc {
	font-size: 15px;
	line-height: 24px;
	color: #000000;
	display: none;
	margin-bottom: 0;
}
.faq-item__desc span{
	padding: 0 50px 0 0;
	display: block;
}
.faq-item__bottom:before {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #D5D9DB;
    background: url(/images/2020/arrow-down-small.png) 50% no-repeat;
    position: absolute;
    left: 10px;
    transition: 0.4s;
}
.faq-item.in .faq-item__bottom:before {
    transform: rotate(180deg);
}
/**ourtech**/

.our-tech-block {
	padding: 46px 0px 60px 0px;
}
.our-tech-block .mpb_h {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}

.our-tech__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/***configurator***/
.configurator-block {
	padding-top: 69px;
	padding-bottom: 86px;
	background: #edf4f8;
}

.configurator-block .type-server {
	margin:auto;
	text-align: center;
}

.configurator-block .type-server ul.nav {
    margin: auto;
    text-align: center;
    display: inline-block;
    width: auto;
	background: #fff;
	border-radius:34.5px;
}
.configurator-block .type-server .configuration,
.configurator-block .type-server .ready-made {
	width:auto;
	height:68px;
	border-radius:34.5px;
	background: #fff;
	border: none !important;
}
.configurator-block .type-server .configuration a,
.configurator-block .type-server .ready-made a {
	border-radius:34.5px;
	background: #fff;
	display: block;
	height: 100%;
	padding: 0px 60px;
}
.configurator-block .type-server .configuration i {
	margin-right: 10px;
	display: inline-block;
	width: 33px;
	height: 33px;
	background: url(/images/conf/conf.png) no-repeat center center;
}
.configurator-block .type-server .configuration.active i {
	display: inline-block;
	width: 32px;
	height: 32px;
	/*background: url(/images/conf/conf-active.png) no-repeat center center;*/
	background:url('/local/templates/depohost2020/images/css-sprite-combined.png') -124px -21px;
}
.configurator-block .type-server .ready-made i {
	margin-right: 10px;
	display: inline-block;
	width: 32px;
	height: 32px;
	/*background: url(/images/conf/ready.png) no-repeat center center;*/
	background:url('/local/templates/depohost2020/images/css-sprite-combined.png') -75px -21px;
}
.configurator-block .type-server .ready-made.active i {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: url(/images/conf/ready-active.png) no-repeat center center;
}


.configurator-block .type-server .configuration.active a,
.configurator-block .type-server .ready-made.active a {
	/*background: url(/images/check_1.png) no-repeat center center;*/
	background: #00acfa;
    background: linear-gradient(0deg, #00aef2, #00acfa 80%) no-repeat;
	position: relative;
}
.configurator-block .type-server .active div {
	color: #fff;
}
.configurator-block .type-server .active svg {
	margin-right: 10px;
}

.configurator-block .type-server .active a:after{
	content:'';
	width: 47px;
	height: 21px;
	position: absolute;
	bottom:-16px;
	left:56%;
	margin-left:-43px;
	display: block;
	background: url(/images/arrow-blue-down.png) no-repeat center center;
}
.configurator-block .select_kam_wrap .h5 {
	font-weight: 500;
	font-size: 16px !important;
	line-height: 18px;
	color: #000000 !important;	
	margin-bottom: 12px;
	text-transform: none !important;
}
.configurator-block .hint-block:before {
	content:'?';
	width: 14px;
	height: 14px;
	display: inline-block;
	background: #c4c4c4;
	text-align: center;
	line-height: 14px;
	font-size: 10px;
	font-weight: bold;
	color:#F1F7FA;
	border-radius:50%;
}
.configurator-block .select_kam.selectBox-dropdown {
	height: 54px !important;
    padding: 0 15px !important;
    line-height: 54px !important;
}

.configurator-block .select .select_kam.selectBox-dropdown .selectBox-arrow {
	background: url(/images/conf/conf-select-arrow.png) center center no-repeat;
	height: 54px !important;
}
.configurator-block .select .selectBox-dropdown .selectBox-label {
	padding: 0 !important;
	font-weight: bold;
	font-size: 14px;
	color: #000;
}
.configurator-block .conf-line-1 {
	margin-bottom: 49px;
}
.configurator-block .conf-line-2 {
	margin-bottom: 51px;
}

.configurator-block .input-block .select {
	margin-bottom: 20px;
}


.select.with-desc .selectBox-label {
	line-height: 19px;
	margin-top: 10px;
}
.select.with-desc .selectBox-label .selectBox-desc {
	display: block;
	font-size: 13px;
	line-height: 17px;
	color: #A3A3A3;
}

.select .disk_numb {
	font-size: 13px;
	line-height: 17px;
	color: #A3A3A3;
	margin-top: 8px;
}
.select.no-value .disk_numb {
	font-weight: bold;
	font-size: 12px;
	line-height: 54px;
	text-transform: uppercase;	
	display: block;
	height: 100%;
	color: rgba(0, 0, 0, 0.45);
	margin: 0;
}
.select.select-hdd .selectBox-label {
    line-height: 1;
    top: -15px;
    position: relative;
}

.configurator-block .presentation-block {
	border:none;
	background: #fff;
	border-radius:10px;
	padding: 0;/*34px 22px;*/
	padding-bottom: 60px;
	overflow:hidden;
	margin-top:20px;
	height:100%;
}
.configurator-block .type-server-header {
	border:none;
	background: #fff;
}
.configurator-block .type-server-header + .blue-block {
	border:none;
	background: #fff;
	padding: 10px 33px;
}

#server-formfactor > span {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #000000;	
	margin-bottom: 27px;
}

.configurator-block #server-img {
	/*
	width: 316px;
	height: 32px;
	*/
	padding-bottom: 25px;
	border-bottom: 1px solid #CAD7DC;
    transform: scale(0.7);
}

#parameters {
	padding-top: 46px;
}

#parameters .caption {
	position: absolute;
    left: 60px;
    top:32px;
}

#param-cpu .caption {
    top: 36px;
}
#param-ram .caption {
    top: 33px;
}
#param-raid .caption {
    top: 26px;
}
.parameters-block .parameter-block .parameter-value {
	font-size: 14px !important;
	line-height: 18px !important;
	color: rgba(0, 0, 0, 0.8) !important;	
	font-weight: normal   !important;
	text-transform: uppercase;
}
.parameters-block .parameter-block:nth-child(2n + 3):after {
	display: none !important;
}


.order-block {
	background: #3D4146;
}
.configurator-block .order-block .terms-block {
	background: none;
}
.terms-block .term-block {
	width: 207px;
	background: #e0e9ee;
	border-radius:10px;
	overflow: hidden;
	height: 183px;
    border: none;
}
.terms-block .term-block .top {
	height: 120px;
	padding: 0;
	text-align: center;
	padding-top: 21px;
}
.terms-block .term-block .top .term {
	font-weight: bold;
	font-size: 15px;
	line-height: 16px;
	color: #7D9199;
	margin-bottom: -2px;
}
.terms-block .term-block .top .check {
	display: block;
	width: 22px;
	height: 22px;
	border-radius:50%;
	background: #FFFFFF;
	border: 2px solid #80959E;
	box-sizing: border-box;
	margin: auto;
	margin-bottom: 8px;
}
.terms-block .term-block.active .top .check {
	border: 2px solid #04ABFF;
}
.terms-block .term-block.active .top .check span {
	display: block;
	width: 10px;
	height: 10px;
	border-radius:50%;
	background: #000;
	margin: auto;
	margin-top: 4px;
}
.terms-block .term-block .top .price {
	font-weight: bold;
	font-size: 20px;
	line-height: 16px;
	color: #000000;
	margin-bottom: -2px;
}
.terms-block .term-block .top .discount {
	font-size: 13px;
	line-height: 17px;
	color: #6D858E;
}
.terms-block .term-block .bottom {
	height: 63px;
	background: #9dafb6;
	color:#fff;
	padding-top: 14px;
	text-align: center;

	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
}
.terms-block .term-block.active .bottom {
	background: #00ACFA;
}
.terms-block .term-block .bottom:after {
	display: none;
}
.terms-block .term-block .bottom .price {
	font-weight: 700;
}

#summary.summary-block {
	color: #fff;
	height:103px;
}
#summary.summary-block .server-parameters .caption.underline-title {
	border:none;
	font-weight: 500;
	font-size: 20px;
	line-height: 18px;
	color: #FFFFFF;
	margin-bottom: 2px;
}
#summary.summary-block .server-parameters .descr {
	font-size: 14px;
	line-height: 18px;
	color: #CEDEE5;
}
#summary.summary-block {
	width: calc(100% - 320px);
}
#summary.summary-block .server-parameters {
	width: calc(100% - 160px);
}

#summary.summary-block .summ .caption {
	display: none;
}
#summary.summary-block .summ .price {
	color:#fff;
	font-weight: bold;
	padding-top: 10px;
}
#summary.summary-block .summ .price_month {
	color: #00adf7;
	text-align: left;
	width: 100%;
}

.configurator-block .nav-tabs {
	border-bottom:none;
}

#configuration .order-block {
	border-radius:10px;
}


/******solutions table***********/
.table-block-gray .table-div__head {
	padding: 22px 28px;
	background: linear-gradient(180deg, rgba(207, 221, 227, 0.6) 0%, rgba(207, 221, 227, 0) 100%);
	border-radius: 10px;
}

.table-block_head_h {
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	color: #000000;
	margin-bottom: 5px;
}

.table-div__header {
	display: flex;
	flex-grow: 1;
	border-top: 1px solid #CEDEE5;
	padding-top: 7px;
}

.table-div__hcell {
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.45);
	border-left: 1px solid #CEDEE5;
}
.table-div__hcell:first-child {
	border:none;
}

.table-div-6col .table-div__hcell {
	width: 16.6666%;

}

.table-div__hcell.price {
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	color: #000000;	
}

.table-div .flex-row {
	display: flex;
}

.table-div__cell {
	background: #FFFFFF;
	box-shadow: 0px 3px 10px rgba(31, 45, 117, 0.15);
	border-radius: 10px;
	padding: 25px 27px;
	margin-bottom: 11px;
}
.table-div__cell .server-code {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #04ABFF;
	margin-right: 15px;
	white-space:nowrap;
}
.table-div__cell .server-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #212121;
	margin-right: 15px;
	margin-bottom: 10px;
}
.table-div__cell .label-discount {
	height: 28px;
	padding: 0px 15px;
	line-height: 28px;
	font-weight: bold;
	font-size: 10px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
	background: #00DDBB;
	border-radius: 12px;
	margin-right: 15px;
	position: relative;
	top:-5px;
}
.table-div__cell .server-desc {
	font-size: 13px;
	line-height: 17px;
	color: rgba(65, 67, 75, 0.7);
}

.server-prop-text {
	font-size: 13px;
	line-height: 17px;
	color: #1C1D21;
	border-right: 1px solid #CEDEE5;
	padding: 1px 15px;
	flex:0 0 20%;
}
.server-prop-text:first-child {
	padding-left: 0;
}

.spt-h {
	display: block;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	color: #9FAEB5;
	margin-bottom: 7px;
}

.table-div__cell .price {
	margin-bottom: 5px;
	text-align: right;
}
.table-div__cell .price span {
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	color: #000000;
}

.button-blue {
	display: block;
	padding: 11px 25px;
	width: auto;
	font-size: 14px;
	text-align: center;
	color: #04ABFF;
	border: 2px solid #04ABFF;
	box-sizing: border-box;
	border-radius: 3px;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration:none !important;
    max-height: 44px;
}
.button-blue:hover {
	background: #04ABFF;
	color:#fff;
	text-decoration:none;
}

/*page-top-desc**/

.page-top-desc {
	background:#fff;
	padding-top:30px;
	padding-bottom:30px;
}

.page-top-desc__wrapper {
	width:851px;
	max-width:99%;
	margin:auto;
}

.ptd-icon {
	text-align:center;
	margin:auto;
	margin-bottom:17px;
}

.page-top-desc h1 {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	color: #090B18;
	margin-bottom:12px;
}

.ptd-desc {
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #1DAEF4;
	margin-bottom:31px;
}

.ptd-content {
	display:flex;
}

.ptd-content__left {
	max-width:561px;
	margin-right:13px;
}
.ptd-content__right {
	max-width:276px;
}

.section-graybg {
	background:#EDF4F8;
	padding-top:78px;
}


.page-section {
	padding:60px 0px;
}

.page-section__h {
	font-weight: bold;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	color: #151A3A;
	margin-bottom:40px;
}

.wug__wrapper {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.wug__item {
	flex:0 0 calc(33% - 12px);
	padding:23px 29px;
	background:#fff;
	display:flex;
	margin-bottom:20px;
	box-shadow: 0px 2px 6px rgba(31, 45, 117, 0.15);
	border-radius: 3px;
}

.wug__item_left {
	flex:0 0 70px;
}
.wug__item_right {
	flex:0 0 calc(100% - 70px);
}

.wug__item_h {
	font-weight: bold;
	font-size: 14px;
	line-height: 15px;
	color: #151A3A;
	margin-bottom:15px;
}
.wug__item_right p {
	font-size: 13px;
	line-height: 17px;
	color: rgba(21, 26, 58, 0.7);
}


.services1c-consist-block {
	background:#fff;
}

.services1c-consist-block .mpb_h {
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	text-align: center;
	color: #151A3A;	
	margin-bottom:45px;
}
.services1c-consist-block li {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	color: #151A3A;
	margin-bottom:15px;
	max-width:440px;
}

.flex-row {
	display:flex;
}

.jcsp {
	justify-content:space-between;
}

.adv_item {
	flex:0 0 calc(33% - 22px);
	display:flex;
}
.adv_item_left {
	flex: 0 0 55px;
}
.adv_item_right {
	flex: 0 0 calc(100% - 55px);
}

.adv_item_h {
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 22px;
	margin-bottom:10px;
	color: #151A3A;
}
.adv_item_right p {
	font-style: normal;
	font-size: 17px;
	line-height: 22px;
	color: #151A3A;
}

.advanatages-block-1 {
	padding-bottom:78px;
}

.advanatages-block-1 .page-section__h {
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	color: #151A3A;
}

.advanatages-block-2 {
	padding:74px 0px 56px 0px;
	background: linear-gradient(283.51deg, #0B091A 12.32%, rgba(21, 26, 58, 0) 62.33%), #151A3A;
	
}
.advanatages-block-2 .page-section__h {
	font-weight: bold;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom:60px;
}

.adv_item2 {
	flex: 0 0 177px;
}

.adv_item2 img{
	display:block;
	margin-bottom:13px;
}
.adv_item2 p{
	font-size: 15px;
	line-height: 21px;
	color: #FFFFFF;
}

.help-conf-block {
	padding:58px 0px 76px 0px;
	background:#151621;
}

.help-conf-block .form-custom-service {
	margin:0;
	padding:62px 146px 54px 146px;
	background:#fff;
	border-radius: 10px;
}

.help-conf-block .form-custom-service__title {
	font-weight: bold;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #151A3A;
	margin-bottom:10px;
}

.help-conf-block .field__label {
	font-size: 15px;
	line-height: 30px;
	color: #151A3A;
	margin-bottom:5px;
}
.help-conf-block .field__label span{
	display:none;
}

.help-conf-block .form-custom-service input[type=text], 
.help-conf-block .form-custom-service input[type=tel], 
.help-conf-block .form-custom-service input[type=email] {
	background: #FFFFFF;
	border: 2px solid #C3CED3;
	box-sizing: border-box;
	box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.1);
	border-radius: 5px;	
	
	height:50px;
	line-height:50px;
	margin-bottom:10px;
}

.help-conf-block .row {
	margin-bottom:5px;
}

.help-conf-block .field_checkbox {
	text-align:center;
	font-size: 15px;
	line-height: 30px;
	color: #151A3A;
	margin-bottom:17px;
}
.help-conf-block .blue-button {
	border:none;
	background: #04ABFF;
	box-shadow: inset 0px -3px 0px #0398F2;
	border-radius: 3px;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	
	height:52px;
	line-height: 52px;
	padding:0;
	padding:0px 27px;
}

.vs-top-desc .ptd-content {
	max-width:770px;
	margin:auto;
}

/***sod**/

.server-order-detail h1 {
	font-weight: bold;
	font-size: 26px;
	line-height: 36px;
	color: #151A3A;	
	margin-bottom:15px;
}

.sod-desc {	
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom:58px;
}

.sod-main_info {
	margin-bottom:48px;
}

.sod-block_h {
	font-weight: 500;
	font-size: 20px;
	line-height: 18px;
	color: #090B18;
	margin-bottom:20px;
}



.sod-main_block {
	background: #FFFFFF;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	padding:22px 29px;
}

.sod-main_block__top {
	padding-bottom:17px;
	border-bottom: 1px solid #DFE9EE;
	margin-bottom:20px;
}

.sod-main_block__price {
	float:right;
	font-weight: bold;
	font-size: 20px;
	line-height: 18px;
	text-align: right;
	color: #000000;
}
.sod-main_block__price > span {
	font-size:14px;
	color: rgba(65, 67, 75, 0.7);
}

.server-code {
	display:inline-block;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #0398F2;
	margin-right:16px;
}
.server-name {
	display:inline-block;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #090B18;
}
.server-desc {
	font-size: 14px;
	line-height: 18px;
	color: rgba(65, 67, 75, 0.7);
}
.dedicated_server_page {
	background:#fff;
}
.bx_breadcrumbs {
	margin-bottom:40px;
	background:#e5e5e5;
}

.prop_block {
	margin-bottom:21px;
}

.prop_block .prop_name {
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	color: #343434;
}
.prop_block .prop_value {
	font-size: 14px;
	line-height: 18px;
	color: rgba(28, 29, 33, 0.9);
}

.sod-result_block {
	background: #FFFFFF;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	margin-top:38px;
    overflow: hidden;
}

.sod_rb__data {
	padding:29px 27px;
	padding-bottom:0;
}

.sod_rb__top {
	padding-bottom:30px;
	/*border-bottom: 1px solid #DFE9EE;*/
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.opened .sod_rb__data {
	padding-bottom:15px;
}

.collapse-content {
    -moz-transition: visibility 1.4s ease-in-out;
    -o-transition: visibility 1.4s ease-in-out;
    -webkit-transition: visibility 1.4s ease-in-out;
    transition: visibility 1.4s ease-in-out;
}

.sod-result_block.opened .sod_rb__top {
	border-bottom: 1px solid #DFE9EE;
	margin-bottom:10px;
}

.collapse-parent .collapse-content {
  visibility: hidden;
  opacity: 0;
  height:0;
}
.collapse-parent.opened .collapse-content {
  visibility: visible;
  opacity: 1;
  height:auto;
}
.collapse-buttton_block {
	cursor:pointer;
}

.collapse-arrow_icon_block i {
	display:inline-block;
	width: 24px;
	height: 24px;
	border-radius:50%;
	background: #FFFFFF;
	border: 2px solid #D5D9DB;
	box-sizing: border-box;
	background:url(/images/2020/arrow-down-small.png) 49% no-repeat;
	margin-right:13px;
	cursor:pointer;
	
	flex:0 0 24px;
	
}
.collapse-parent.opened .collapse-arrow_icon_block i {
	transform:rotate(180deg);
}


.sod_rb__top_left,
.sod_rb__top_right {
	height:28px;
    display: flex;
    align-items: center;
	flex-wrap:wrap;
	width:50%;
}
.sod_rb__top_left span {
	font-weight: 500;
	font-size: 20px;
	line-height: 18px;
	color: #090B18;
}
#total_price {
	font-weight: bold;
	font-size: 22px;
	line-height: 18px;
	color: #000000;
	text-align:right;
	width:100%;
}
#total_price > span {
    font-size: 14px;
    color: rgba(65, 67, 75, 0.7);
}
#total_price_note {
	font-size:12px;
	text-align:right;
    color: rgba(65, 67, 75, 0.7);
	width:100%;
}


.collapse-content {
	display_:none;
}

.sod_rb__bottom {
	
}
.sod_rb__order_item {
	padding-bottom:7px;
	border-bottom: 1px solid #DFE9EE;
	margin-bottom:6px;
}
.sod_rb__order_item:last-child {
	border-bottom: none;
}
.sod_rb__order_item_name {
	font-size: 14px;
	line-height: 16px;
	color: rgba(9, 11, 24, 0.7);
}
.sod_rb__order_item_price {
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	text-align: right;
	color: #000000;
}
.sod_rb__order_item_price > span{
	font-size:14px;
	color: rgba(65, 67, 75, 0.7);
}
.sod_rb__order_item.null-price .sod_rb__order_item_price {
	color: rgba(65, 67, 75, 0.7);
}



.order-form-block {
	/*background: #475257;*/
	padding:30px;
	border-top: 1px solid #DFE9EE;
}
.ofb-h {
	font-weight: 500;
	font-size: 20px;
	line-height: 16px;
	color: #FFFFFF;
	margin-bottom:26px;
}
.ofb-item {
	margin-bottom:5px;
}
.ofb-item [type=radio] {
	display:none;
}
.ofb-item label {
	display:block;
	padding:20px;
	padding-left:63px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 8px;
	cursor:pointer;
	position:relative;
}
.ofb-item_name {
	display:block;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	color: rgba(9, 11, 24, 0.7);
	margin-bottom:4px;
}
.ofb-item_price {
	display:block;
	font-weight: bold;
	font-size: 20px;
	line-height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0, 0, 0, 0.7);
	margin-bottom:4px;
}
.ofb-item_price .rub {
	position:relative;
	left:5px;
	font-size:14px;
	color: rgba(130, 139, 145, 0.5);
}
.ofb-item_economy {
	display:block;
	font-size: 13px;
	line-height: 18px;
	color: rgba(72, 73, 77, 0.7);
	
}
.ofb-item_checker {
	position:absolute;
	display:block;
	width:22px;
	height:22px;
	border-radius:50%;
	background: #FFFFFF;
	border: 2px solid #80959E;
	left:20px;
	top:50%;
	margin-top:-11px;
}

input:checked + label .ofb-item_checker {
	background: #FFFFFF;
	border: 2px solid #00ACFA;
}
input:checked + label .ofb-item_checker span{
	display:block;
	width: 10px;
	height: 10px;
	background: #000;
	position:relative;
	top:4px;
	left:4px;
	border-radius:50%;
}
input:checked + label {
	background: #FFFFFF;
}
input:checked + label .ofb-item_name {
	color: rgba(4, 171, 255, 0.7);
}

.ofb-items {
	margin-bottom:22px;
}

.order-form-block .blue-button {
	width:150px;
	height:52px;
	line-height:52px;
	text-align:center;
	padding:0;
	text-transform:uppercase;
	margin:auto;
	margin-bottom:19px;
	border:none;
	display:block;
}
.order-form-block .add-to-cart {
	display:block;
	margin:auto;
	text-align:center;
	font-weight: bold;
	font-size: 15px;
	line-height: 28px;
	color: #00B4FF;
	padding-left:28px;
	background:url(/images/2020/basket2.png) no-repeat left center;
	width:auto;
	max-width:175px;
	text-decoration:none;
}



.sod_ai {
	background: #F1F7FA;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	padding:19px 21px;
	margin-bottom:11px;
}
.sod_ai.checked {
	background: #fff;
}

.sod_ai.opened .sod_ai__top {
	padding-bottom:20px;
	border-bottom: 1px solid #DFE9EE;
	margin-bottom:23px;
}
.sod_ai__top {
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.sod_ai__left {
	display:flex;
	
	align-items:center;
	flex:0 0 83%;
}

.sod_ai__left > div {
	flex: 0 0 calc(100% - 40px);
}
.sod_ai__right {
	flex: 0 0 100px;
}

.sod_ai__name {
	display:inline-block;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #090B18;
}
.sod_ai__top .hint{
	display:inline-block;
	width: 14px;
	height: 14px;
	background: #C4C4C4;
	border-radius:50%;
	font-weight: bold;
	font-size: 10px;
	line-height: 14px;
	color: #FFFFFF;
	text-align:center;
	position:relative;
	top:-2px;
}
.sod_ai__desc {
	font-size: 14px;
	line-height: 18px;
	color: rgba(65, 67, 75, 0.7);
}

.sod_ai__price {
	font-weight: bold;
	font-size: 20px;
	line-height: 18px;
	text-align: right;
	color: #000000;
}
.sod_ai__price > span{
	font-size:14px;
	color: rgba(65, 67, 75, 0.7);
}
.sod_ai__list {
	padding-left:35px;
}
.sod_ai__list > li  {
	margin-bottom:25px;
	list-style:none;
}
.sod_ai__list > li > label  {
	display:block;
	width:100%;
}

.sod_ai__list [type=radio] {
	display:none;
}
.sod_ai__list_item {
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.sod_ai__list_item_left {
	display:flex;
	align-items:center;
	
}
.sod_ai__list_item .sod_ai__list_item_name {
	font-size: 14px;
	line-height: 18px;
	color: rgba(28, 29, 33, 0.7);
}
.sod_ai__list_item .checker {
	width: 22px;
	height: 22px;
	background: #FFFFFF;
	border: 2px solid #80959E;
	box-sizing: border-box;
	border-radius:50%;
	margin-right:11px;
}

.sod_ai__list_item_price {
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	text-align: right;
	color: #000000;
}
.sod_ai__list_item_price > span{
	font-size:14px;
	color: rgba(65, 67, 75, 0.7);
}

input:checked + .sod_ai__list_item .checker {
	background: #FFFFFF;
	border: 2px solid #00ACFA;
}
input:checked + .sod_ai__list_item .checker span{
	display:block;
	width: 10px;
	height: 10px;
	background: #000;
	position:relative;
	top:4px;
	left:4px;
	border-radius:50%;
}


.sod_ai__domains_items {
	
}
.sod_ai__domains_item {
	margin-bottom:26px;
	position:relative;
}

.sod_ai__domains_item label {
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.65);
	margin-bottom:3px;
	font-weight:normal;
}
.sod_ai .input-group {
	display:flex;
	justify-content:space-between;
}
.sod_ai__domains_item .input-group > div {
	flex: 0 0 calc(100% - 150px);
	display:flex;
}
.sod_ai .input-group [type=text] {
	border: 2px solid #C3CED3;
	box-sizing: border-box;
	border-radius: 5px 0px 0px 5px;
	height:44px;
	line-height:44px;
	padding:0px 14px;
	
	font-weight: 500;
	font-size: 14px;
	color: #475257;
	position:relative;
	z-index:1;
}
.sod_ai .input-group [type=text].error {
	border: 2px solid rgba(255, 0, 36, 0.9);
}

.sod_ai__domains_item .input-group [type=text] {
	flex:0 0 66%;
}

.sod_ai .input-group select {
	border: 2px solid #C3CED3;
	box-sizing: border-box;
	border-radius: 0px 5px 5px 0px;
	height:44px;
	line-height:44px;
	padding:0px 14px;
	flex:0 0 34%;
    position: relative;
    left: -2px;
	-moz-appearance: none; 
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
	background:url(/images/2020/arrow-select.png) no-repeat 95% center #fff;
	padding-right:30px;
}

.sod_ai__domains_items p {
	font-size: 14px;
	line-height: 18px;
	color: rgba(65, 67, 75, 0.7);
}

.sod_ai .form-message {
	position:absolute;
	bottom:-16px;
	font-weight: bold;
	font-size: 14px;
	line-height: 15px;
}
.sod_ai .form-message.green {
	color: #00CF6C;
}
.sod_ai .form-message.red {
	color: #FF0101;
}

.button-blue2 {
	background: #1DAEF4;
	border: 2px solid #04ABFF;
	box-sizing: border-box;
	border-radius: 3px;
	height: 44px;
	padding:0px 20px;
	display:inline-block;
	
	font-weight: bold;
	font-size: 14px;
	line-height: 44px;
	color: #FFFFFF;
	
	text-decoration:none !important;
	text-transform:uppercase;
	min-width:120px;
	text-align:center;
}

.sod_ai__gift_label {
	display:inline-block;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
	
	height:18px;
	padding:0px 10px;
	background: #04ABFF;
	border-radius: 11px;
	
	text-transform:uppercase !important;
	
}

.button-green {
	background: #FFFFFF;
	border: 2px solid #00CF6C;
	box-sizing: border-box;
	border-radius: 3px;
	height: 44px;
	line-height:44px;
	padding:0px 20px;
	min-width:120px;
	text-transform:uppercase;
	font-weight: bold;
	font-size: 14px;
	color: #00CF6C;
	text-decoration:none !important;
	text-align:center;
}

.sod_ai__ssl_info .input-group {
	justify-content:space-between;
    align-items: flex-end;
}
.sod_ai__ssl_info .input-block > label {
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.65);
	margin-bottom:3px;
	display:block;
	font-weight:normal;
}

.sod_ai__ssl_info .input-group > .input-block:nth-child(1) {
	flex:0 0 33%;
}
.sod_ai__ssl_info .input-block [type=text] {
	width:100%;
}

.sod_ai__ssl_info {
	position:relative;
	padding-bottom:20px;
}

.sod_ai__ssl_info .form-message {
	bottom:-5px;
}

.sod_ai__lic > .flex-row {
	width:100%;
}
.sod_ai__lic > .flex-row  > div {
	height:66px;
	display:flex;
	align-items:center;
	flex-wrap:wrap;
}

.sod_ai__lic_name_info {
	flex:0 0 60%;
}

.sod_ai__lic_name {
	font-size: 16px;
	line-height: 24px;
	color: #475257;
	margin-bottom:-14px;
	width:100%;
}
.sod_ai__lic_info {
	font-size: 14px;
	line-height: 18px;
	color: #000000;	
}

.sod_ai__lic_info > span {
	font-size: 15px;
	font-weight:bold;
}
.sod_ai__lic_info > span > span {
	font-size: 14px;
	color: rgba(65, 67, 75, 0.7);
}

.sod_ai__lic_counter {
	flex:0 0 25%;
}

.counter_block__wrapper {
	text-align:center;
	width:101px;
}

.counter_block__wrapper > span {
	display:block;
	margin-bottom:7px;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	color: #8D8D8D;
}

.counter_block__actions {
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.cb_minus, .cb_plus {
	font-size:18px;
	color: #8D8D8D;
	text-decoration:none !important;
} 
.cb_minus {
	margin-right:12px;
	font-size:22px;
}
.counter_block__actions input {
	margin-right:12px;
	width: 61px;
	height: 44px;

	border: 2px solid #C3CED3;
	box-sizing: border-box;
	border-radius: 3px;
	
	text-align:center;
	
	font-size: 14px;
	line-height: 15px;
	text-align: center;

	color: #343434;
}

.sod_ai__lic_price {
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	text-align:right;
	padding-top:10px;
	
	flex:0 0 15%;
    justify-content: flex-end;
}
.sod_ai__lic_price span {
	font-size: 14px;
	color: #8D8D8D;
	display:inline-block;
	margin-left:5px;
}


.page-h1 {
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	color: #151A3A;
	
	margin-bottom:13px;
}
.page-desc {
	font-size: 15px;
	line-height: 22px;
	color: #1C1D21;
	margin-bottom:35px;
}

body.body__v_cart,
body.body__v_order {
	background:#edf4f8;
}

#cart,
#order {
	background:#edf4f8;
	padding-bottom:60px;
}

.cart-item {
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding:26px;
	padding-left:18px;
	margin-bottom:10px;
}
.cart-item .flex-row {
	align-items:center;
	height:70px;
}
.cart-item .flex-row > div{
	height:100%;
	display:flex;
	flex-wrap:wrap;
}

.cart-item__col2 > div,
.cart-item__col3 > div,
.cart-item__col4 > div,
.cart-item__col4 > select {
	display:block;
	text-align:center;
	margin:auto;
	margin-top:0;
}

.cart-item__col1 {
	flex:0 0 40%;
}
.cart-item__col2 {
	flex:0 0 13%;
}
.cart-item__col3 {
	flex:0 0 0%; /*13%*/
}
.cart-item__col4 {
	flex:0 0 13%;
}
.cart-item__col5 {
	flex:0 0 15%;
	justify-content:flex-end !important;
	text-align:right !important;
}
.cart-item__col6 {
	flex:0 0 5%;
}

.cart-item__info {
	display:flex;
	align-items:center;
}

.cart-item__info > div > div {
	display:block;
}

.cart-item .flex-row > div > div.cart-item__colh,
.cart-item__colh {
	font-size: 12px;
	line-height: 15px;
	color: #8D8D8D;
	display:block;
	width:100%;
	text-align:center;
	margin:0;
	
}
.cart-item__col2 .cart-item__colh {
	margin-bottom:21px;
}
.cart-item__col3 .cart-item__colh {
	margin-bottom:7px;
}
.cart-item__col4 .cart-item__colh {
	margin-bottom:7px;
}

.cart-item__col3 input {
	width:45px !important;
}
.cart-item__col3 .counter_block__wrapper {
	width:85px;
}

.cart-item__price {
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
	color: #000000;
}

.cart-item__price > span{
	font-size: 15px;
	line-height: 15px;
	color: #828B91
}

.cart-item__col4  select {
	border: 2px solid #C3CED3;
	box-sizing: border-box;
	border-radius: 5px;
	height:44px;
	line-height:44px;
	padding:0px 14px;
	flex:0 0 34%;
    position: relative;
    left: -2px;
	-moz-appearance: none; 
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
	background:url(/images/2020/arrow-select.png) no-repeat 93% center #fff;
	padding-right:30px;
	padding-left:16px;
}

.item__total_price_price {
	font-weight: bold;
	font-size: 20px;
	line-height: 15px;
	color: #000000;
	display:inline-block;
	padding-top:7px;
}
.item__total_price_price > span {
	font-weight: bold;
	font-size: 14px;
	line-height: 15px;
	color: #828B91;
	display:inline-block;
}

.item__total_price_economy {
	font-size: 13px;
	line-height: 15px;
	color: #8E8E90;
	white-space:nowrap;
}
.cart-delete {
	width: 17px;
	height: 19px;
	background:url(/images/2020/cart-delete.png) no-repeat center center;
	display:inline-block;
}
.cart-item__col6 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cart-item.opened > .flex-row {
	padding-bottom:30px;
	border-bottom:1px solid #DDE3E6;
	margin-bottom:5px;
    height: 99px;
}

.cart-detalization-items table {
	width:100%;
	margin-bottom:15px;
}

.cart-detalization-items tr td {
	/*padding-bottom:10px;*/
	border-bottom:1px solid #DDE3E6;
	margin-bottom:10px;
	height:100%;
	vertical-align:middle;
}
.cart-detalization-items tr td:first-child {
	font-size: 14px;
	line-height: 43px;
	color: #000000;
	padding-left:5px;
}
.cart-detalization-items tr td.td-price {
	font-weight: bold;
	font-size: 16px;
	line-height: 43px;
	color: #000000;
	text-align:right;
}
.cart-detalization-items tr td:last-child {
	padding:0px 10px;
	text-align:right;
}
.cart-detalization-items tr td.null-price:last-child {
	color: #828B91;
}
.cart-detalization-items tr td:last-child > span {
	font-weight: normal;
	font-size: 11px;
	color: #828B91;
}

a.cart-change-conf {
	height:23px;
	line-height:23px;
	font-weight: 500;
	font-size: 14px;
	text-decoration-line: underline;
	color: #00B4FF;
	
	padding-left:29px;
	background:url(/images/2020/icon-settings.png) no-repeat center left;
	display:inline-block;
	
	float:left;
}


#cart-total {
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
	padding-right:30px;
	margin-bottom:20px;
	text-align:right;
}
#cart-total > span {
	font-weight: bold;
	font-size: 24px;
	line-height: 20px;
	color: #000000;
}
#cart-total > span.rub {
	font-weight: 500;
	font-size: 18px;
	line-height: 15px;
	color: #828B91;
}

.cart-items {
	margin-bottom:30px;
}

.cart-bottom {
	text-align:center;
}

.cart-bottom a {
	display:inline-block;
	margin:auto;
	margin-bottom:25px;
	line-height:40px;
}
.cart-bottom a.kom-offer {
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: #04ABFF;
	text-decoration:none;
}


.order-form {
	background: #FFFFFF;
	box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding:54px 106px;
}
.form-block {
	padding-bottom:47px;
	border-bottom:1px solid #DDE3E6;
	margin-bottom:39px;
}
.form-block:last-child {
	padding-bottom:0px;
	border-bottom:none;
	margin-bottom:0;
}

.form-block__h {
	font-weight: 500;
	font-size: 20px;
	line-height: 18px;
	color: #000000;
	margin-bottom:27px;
}

.radio-label {
	font-size: 15px;
	line-height: 24px;
	color: #000000;
	margin-bottom:18px;
}
.radio-label [type=radio] {
	display:none;
}
.radio-label .checker {
	width: 24px;
	height: 24px;
	background: #FFFFFF;
	border: 2px solid #C3CED3;
	border-radius:50%;
	display:inline-block;
	margin-right:8px;
    position: relative;
    top: 5px;
}
.radio-label input:checked + .checker {
	border: 2px solid #00ACFA;
}
.radio-label input:checked + .checker span {
	width: 10px;
	height: 10px;
	background: #000000;
	position:relative;
	left:5px;
	top:5px;
	display:block;
	border-radius:50%;
}

.form-block .form-group {
	margin-bottom:29px;
}

.form-block [type=text] {
	height: 44px;
	border: 2px solid #C3CED3;
	box-sizing: border-box;
	border-radius: 5px;
	
	line-height:44px;
	padding-left:18px;
}
.form-block .label-control {
	font-weight: normal;
	font-size: 15px;
	line-height: 15px;
	color: #000000;
	display:block;
	min-height:15px;
}
.form-block .label-control span{
	font-weight: normal;
	font-size: 15px;
	line-height: 15px;
	color: #10B1FA;
}
.form-block textarea {
	height: 82px;
	border: 2px solid #C3CED3;
	box-sizing: border-box;
	border-radius: 5px;
	padding-left:18px;
}

.form-block  select {
	display:block;
	border: 2px solid #C3CED3;
	box-sizing: border-box;
	border-radius: 5px 5px;
	height:44px;
	line-height:44px;
	padding:0px 14px;
    position: relative;
    left: -2px;
	-moz-appearance: none; 
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
	background:url(/images/2020/arrow-select.png) no-repeat 97% center #fff;
	padding-right:30px;
	padding-left:16px;
	
	width:100%;
}

.agree-label {
	font-size: 15px;
	font-weight:normal;
	line-height: 15px;
	color: #000000;
	text-align:center;
}

.form-block button {
	margin:auto;
	display:block;
}

/****ssl choose***/
.page-top-desc__wrapper h1 {
	width:100%;
	text-align:center;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;

	color: #090B18;
	margin-bottom:29px;
}
.page-top-desc__wrapper {
	margin-bottom:29px;
}

.ssl-filter {
	background: #FFFFFF;
	border-radius: 10px;
	padding:38px 53px;
	margin-bottom:20px;
}

.ssl-filter ul{
	display:flex;
	list-style:none;
	justify-content:space-between;
	flex-wrap:wrap;
}
.ssl-filter ul li{
	flex: 0 0 33%;
	display:inline-block;
	margin-bottom:18px;
	font-size: 14px;
	line-height: 18px;
	color: rgba(82, 84, 98, 0.8);
}
.ssl-filter ul li label{
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: rgba(82, 84, 98, 0.8);
}

.body__v_ssl,
#ssl-choose-page {
	background:#edf4f8;
}
[type=checkbox] {
	display:none;
}

[type=checkbox] + .checkbox-checker {
	content: '';
	width:22px;
	height:22px;
	display:inline-block;
	background: #FFFFFF;
	border: 2px solid #AFC1CA;
	box-sizing: border-box;
	border-radius: 4px;
	margin-right:10px;
    position: relative;
    top: 4px;
}

[type=checkbox]:checked + .checkbox-checker {
	border: 2px solid #04ABFF;
	background: #FFFFFF url(/images/2020/checkbox-check.png) no-repeat center center;
}

.hint {
	display:inline-block;
	width: 14px;
	height: 14px;
	background: #C4C4C4;
	border-radius:50%;
	font-weight: bold;
	font-size: 10px;
	line-height: 14px;
	color: #FFFFFF;
	text-align:center;
	position:relative;
	top:-2px;
    cursor: help;
}

.table-div .flex-row {
	margin-bottom:13px;
}

.ssl-table-block .flex-row.main-cells > div {
	flex:1 1 auto;
	/*max-width:14.2%;*/
}

.ssl-table-block .table-div__header {
	display:block;
}

.table-div__cell .position-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #090B18;
	margin-right:17px;
}
.table-div__cell .position-desc {
	font-weight: normal;
	font-size: 13px;
	line-height: 17px;
	color: #41434B;
}

.icon-yes {
	width:22px;
	height:22px;
	border-radius:50%;
	background:#7DC810 url(/images/2020/icon-yes.png) no-repeat center center;
}
.icon-no {
	width:22px;
	height:22px;
	background:url(/images/2020/icon-no.png) no-repeat center center;
}

.table-div__cell .price {
font-weight: bold;
	font-size: 14px;
	line-height: 28px;
	color: #828B91;
}

.ssl-table-block {
	margin-bottom:72px;
}


.whyssl-section {
	background:#E0E9EE;
}

.how-ssl-works-section {
	padding:69px 0px;
	background:#fff;
}

.hsw__wrapper {
	max-width:836px;
	margin:auto;
}
.hsw-block__h {
	font-weight: bold;
	font-size: 32px;
	line-height: 32px;
	color: #090B18;
	margin-bottom:39px;
	text-align:center;
	text-transform: none;
}
.hsw-block__content p {
	font-size: 16px;
	line-height: 24px;
	color: #090B18;
}
.hsw-block {
	margin-bottom:60px;
}
.hsw-block_img {
	text-align:center;
}

.fw500 {
	font-weight: 500;
}

ul.ul50p {
	display:flex;
	flex-wrap:wrap;
	list-style:none;
	margin-bottom:17px;
}
ul.ul50p li {
	flex:0 0 50%;
    padding-left: 41px;
    /*background: url(/images/icon-blue_check.png) no-repeat left center;*/
	background-size:28px 28px;
	font-size: 16px;
	line-height: 42px;
	color: #151A3A;
	position:relative;
}
ul.ul50p li:before {
	background:url('/local/templates/depohost2020/images/css-sprite-combined.png') -47px -25px;
    width:28px;
    height:28px;
    display:block;
    position:absolute;
    content: " ";
    top:0;
    left:0;
}

ol.col2 { 
    column-count: 2;
}
ol.col2 li{ 
    min-height:47px;
	font-size: 18px;
	line-height: 44px;
	color: #151A3A;
}

.num-list-2col {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	margin-bottom:28px;
}
.num-list-2col > div {
	flex:0 0 auto;
	margin-bottom:12px;
}
.num-list-2col > div span {
	width: 28px;
	height: 28px;
	border-radius:50%;
	background: #2BAFF1;
	display:inline-block;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
	text-align:center;
	margin-right:10px;
}

p a {
	color: #2BAFF1;
}

.services-for-you-section {
	padding:76px 0px;
}
.sfy-block {
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	height:189px;
}

.sfy-block .col-md-3 {
	padding:0;
}

.sfy-item {
	width:100%;
	height:189px;
	/*display:flex;*/
	flex-wrap:wrap;
	border-right:1px solid #EFEFEF;
	align-items:center;
	text-align:center;
    padding-top: 40px;
	cursor:pointer;
}

.sfy-item:hover {
	background:#2BAFF1;
}

.sfy-item:hover img {
	filter: contrast(99%) brightness(999%);
}
.sfy-item:hover a {
	color:#fff;
}

.col-md-3:last-child .sfy-item {
	border:none;
}
.sfy-item > div {
	width:100%;
}

.sfy-item a {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #151A3A;
	text-decoration:none;
}

.sfy-item__icon {
	height:60px;
	margin-bottom:13px;
}

#ssl-wilcard-page .ptd-content__left {
	max-width:503px;
}


ul.col3 { 
    column-count: 3;
}
ul.col3 li{ 
    min-height:47px;
	font-size: 18px;
	line-height: 44px;
	color: #151A3A;
}

.ssl-what-we-offer-section {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #090B18;
}
.ssl-wwo__desc {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #090B18;
	max-width:768px;
	margin:auto;
	margin-bottom:20px;
}

.ssl-what-we-offer-section p {
	max-width:768px;
	margin:auto;
	margin-bottom:30px;
}

.ssl-wwo__img {
	text-align:center;
	margin-bottom:27px;
}

.ssl-wwo-list {
	max-width:450px;
	margin:auto;
}
ul.ul33p {
	display:flex;
	flex-wrap:wrap;
	list-style:none;
	margin-bottom:17px;
}
ul.ul33p li {
	flex:0 0 33%;
    padding-left: 41px;
    /*background: url(/images/icon-blue_check.png) no-repeat left center;*/
	background-size:28px 28px;
	font-size: 16px;
	line-height: 42px;
	color: #151A3A;
	position:relative;
}
ul.ul33p li:before {
	background:url('/local/templates/depohost2020/images/css-sprite-combined.png') -47px -25px;
    width:28px;
    height:28px;
    display:block;
    position:absolute;
    content: " ";
    top:0;
    left:0;
}

.blue-note {
	max-width:805px;
	width:100%;
	background: #FFFFFF url(/images/2020/icon-blue_note.png) no-repeat 28px 50%;
	border: 2px solid #04ABFF;
	box-sizing: border-box;
	border-radius: 15px;
	padding:28px 26px;
	padding-left:104px;
	margin:auto;
	
	
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */


	color: #090B18;
}
.blue-note b {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #1DADF4;
}

.why-artex-telecom {
	padding:75px 0px;
	background: #121530;
	padding-bottom:178px;
}

.why-at-items {
	max-width:850px;
	margin:auto;
}

.why-artex-telecom .page-section__h {
	font-weight: bold;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom:54px;
}

.why-at-item {
	padding-left:91px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom:40px;
}

.why-at-item.icon_1 {
	background:url(/images/2020/icon-whyat-1.png) no-repeat left center;
}
.why-at-item.icon_2 {
	background:url(/images/2020/icon-whyat-2.png) no-repeat left center;
}
.why-at-item.icon_3 {
	background:url(/images/2020/icon-whyat-3.png) no-repeat left center;
}


.anyq-section {
	background:#EDF4F8;
}

.anyq-block {
	background: #FFFFFF;
	box-shadow: 3px 4px 30px rgba(59, 59, 59, 0.3);
	border-radius: 20px;
	/*padding:84px 135px 102px 135px;*/
	padding:30px;
	
	position:relative;
	top:-190px;
	margin:auto;
	max-width:600px;
}

.anyq-block__h {
	font-weight: bold;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #090B18;
	
	margin-bottom:17px;
	
}

.anyq-block form {
	width:487px;
	margin:auto;
	max-width:100%;
}
.anyq-block textarea {
	height:85px;
}


.form-group {
	margin-bottom:19px;
}

.form-group .label-control {
	font-weight: 500;
	font-size: 15px;
	line-height: 14px;
	color: #090B18;
}
.form-group .label-control span {
	font-weight: 500;
	font-size: 15px;
	line-height: 14px;
	color: #22C3F2;
}

.form-group input.form-control {
	height:51px;
	background: #FFFFFF;
	border: 2px solid #AFC1CA;
	box-sizing: border-box;
	border-radius: 4px;
	line-height:51px;
}

.form-group button {
	display:block;
	margin:auto;
}

#hosting-page .page-top-desc {
	padding-bottom:150px;
}

.hosting-type-items {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	position:relative;
	margin:auto;
	margin-top:-250px;
	max-width:100%;
	width:825px;
	
}

.hosting-type-item {
	width:385px;
	max-width:100%;
	text-align:center;
	padding:40px 45px;
	
	background: #FFFFFF;
	box-shadow: 0px 5px 20px rgba(59, 59, 59, 0.3);
	border-radius: 10px;
}
.hosting-type-item:hover {
	border: 2px solid #04ABFF;
	box-sizing: border-box;
	box-shadow: 0px 4px 30px rgba(59, 59, 59, 0.5);
}

.hosting-type-item .hosting-type-item__icon {
	text-align:center;
	margin-bottom:26px;
}
.hosting-type-item__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #151A3A;
	margin-bottom:10px;
}
.hosting-type-item__desc {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #1C1D21;
	margin-bottom:33px;
}

.hosting-type-item > a {
	display:block;
	margin:auto;
}


.advantages-artex-telecom .wug__item {
	box-shadow:none;
	background:transparent;
}
.advantages-artex-telecom {
	padding-bottom:0;
}


.jcsb {
	justify-content:space-between;
}

.flex-item {
	flex: 1 1 auto;
	max-width:224px;
	
	display:flex;
}
.flex-item__left {
	margin-right:10px;
}
.flex-item__right {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #151A3A;
}
.payment-methods-desc__item {
	max-width:283px;
}
.pmd__item_icon {
	text-align:center;
	margin-bottom:17px;
}
.pmd__item_name {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-align: center;

	color: #1C1D21;
	margin-bottom:17px;
}
.pmd__item_desc {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #565759;
}
.payment-methods-desc {
	padding-bottom:48px;
}

.payment-logo-section {
	background:#EDF4F8;
	padding:51px 0px;
	padding-top:0;
}

.payment-logo-section .page-section__h {
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	text-align: center;
	color: #000000;
	margin-bottom:35px;
}
.payment-logo-items {
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding:32px;
}

.fww {
	flex-wrap:wrap;
}
.payment-logo-item {
	flex: 0 0  12.5%;
	
	display:flex;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
	
	margin-bottom:30px;
}
.payment-logo-item img {
	margin-bottom:9px;
}
.payment-logo-item .payment-name {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	width:100%;

	color: #000000;
}


.pdt-right-icon {
	float:left;
	margin-right:45px;
	position:relative;
	margin-top:-10px;
}


#free-page .page-top-desc {
	padding-bottom:170px;
}

.what-you-get-block {
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	
	padding:49px 94px;
	margin-bottom:23px;
	
}
.what-you-get-block:first-child {
	position:relative;
	margin-top:-220px;
}
.what-you-get-block__h {
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	text-align: center;
	color: #151A3A;
	margin-bottom:34px;
}


.what-you-get-block .ul50p li{
    display: flex;
    align-items: center;
	line-height:1.4;
	min-height:45px;
}


#free-page .why-we-block {
	background:#E0E9EE;
}
#free-page .section-graybg {
	padding-bottom:50px;
}

.domain-choose-block {
	padding-bottom:50px;
}

.domain-choose-block form {
	background: #FFFFFF;
	box-shadow: 3px 4px 30px rgba(59, 59, 59, 0.3);
	border-radius: 16px;
	padding:38px 30px;
}
.domain-search-group {
	margin-bottom:34px;
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.domain-search-group .form-control {
	background: #FFFFFF;
	height: 49px;
	border: 2px solid #AFC1CA;
	box-sizing: border-box;
	border-radius: 4px;
	flex: 0 0 calc(100% - 180px);
}
.domain-search-group button.button-blue2 {
	height:47px;
	min-width:169px;
	line-height:47px;
}


.domain-group {
	padding-bottom:20px;
	border-bottom:1px solid #CEDEE5;
	margin-bottom:20px;
}
.domain-group:last-child {
	border:none;
	margin:0;
}

.domain-group-header {
	display:flex;
}

.opened .domain-group-header {
	margin-bottom:20px;
}

.domain-group-header .btn-collapse-link {
	display:block;
	width:100%;
	
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #212121;
	
	background:#fff;
	border:none;
	text-align:left;
	
	padding-left:0;
}

.domain-group-body ul {
	list-style:none;
	display:flex;
	padding-left:37px;
	flex-wrap:wrap;
}

.domain-group-body ul li {
	flex:0 0 25%;
	justify-content:space-between;
	margin-bottom:16px;
}

.domain-group-body ul li label {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #090B18;
}

.domain-group-body li .domain-price {
	font-size: 14px;
	line-height: 18px;
	color: #828B91;
}

.domain-search-results {
	margin-top:98px;
	padding-bottom:70px;
}

.dsr__h {
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	text-align: center;
	color: #090B18;
	
	margin-bottom:18px;
}

.dsr__item {
	margin-bottom:10px;
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(59, 59, 59, 0.2);
	border-radius: 10px;
	
	padding:16px 26px;
	
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.dsr__item_dzone {
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	color: #151A3A;
	
	padding-right:53px;
	
	border-right:1px solid #CEDEE5;
	margin-right:27px;
	
}
.dsr__item_dname {
	font-weight: 500;
	font-size: 20px;
	line-height: 18px;
	color: #000000;
}

.dsr__item_dstatus {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	/* identical to box height, or 112% */

	display: flex;
	align-items: center;
	text-align: right;
	margin-right:25px;

}
.dstatus-ok {
	color: #81C21A;
}
.dstatus-error {
	color: #FF0101;
}

.dsr__item_dprice {
	font-weight: bold;
	font-size: 20px;
	line-height: 41px;
	color: #090B18;
	margin-right:15px;
}
.dsr__item_dprice span {
	font-weight: bold;
	font-size: 14px;
	line-height: 41px;
	color: #828B91;
}

.dsr__item_left,
.dsr__item_right {
	display:flex;
}

.dsr__items {
	margin-bottom:52px;
}
.dsr__item.disabled {
	background:transparent;
}

.dsr__item .nobutton {
	display:block;
	width:124px;
}


.domain-search-results center > a {
	display:inline-block;
}


.domain-desc-section {
	background:#fff;
	padding:72px 0px;
}


.domain-desc-section .text-block {
	width:781px;
	max-width:100%;
	margin:auto;
	margin-bottom:54px;
}
.domain-desc-section  p{
	margin-bottom:20px;
	
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #090B18;
}
.blue-text {
	color:#2BAFF1;
}

.domain-desc-section h2,
.domain-desc-section h3 {
	font-weight: bold;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	color: #151A3A;
	margin-bottom:31px;
	text-transform: none;
}

.text-block-img-right {
	margin-left:40px;
}

.text-block ul.ul50p li {
	display:flex;
	align-items:center;
    min-height: 26px;
	line-height:1.4;
	margin-bottom:15px;
}

.wug__item_big {
	flex:0 0 66%;
	background:transparent;
	box-shadow:none;
	border:none;
	padding:0;
	
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
    align-content: space-between;
}

.wug__item_big_item {
	flex: 0 0 49%;
	margin:0;
}

.wug__item_big_item a {
	display:block;
	width: 100%;
	max-width:100%;
	height: 76px;
	background: #FFFFFF;
	border: 2px solid #04ABFF;
	box-sizing: border-box;
	box-shadow: 0px 5px 8px rgba(59, 59, 59, 0.13);
	border-radius: 4px;
	
	text-align:center;
	line-height:76px;
	
	font-weight: bold;
	font-size: 15px;
	color: #151A3A;
	text-decoration:none;
	margin:0;
}
.wug__item_big_item a span {
	font-weight: bold;
	font-size: 22px;
	color: #1DAEF4;
}

/**lk**/

.lk-menu {
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	padding:30px 27px;
	margin-bottom:55px;
}

.lk-menu-block {
	padding-bottom:15px;
	border-bottom:1px solid #DFE9EE;
	margin-bottom:20px;
}
.lk-menu-block ul {
	list-style:none;
}

.lk-menu-block a {
	display:block;
	font-weight: 500;
	font-size: 14px;
	line-height: 34px;
	color: #000000;
	height:34px;
	padding-left:13px;
	text-decoration:none;
}

.lk-menu-block a span {
	font-weight: bold;
	font-size: 16px;
	line-height: 32px;
	color: #1DAEF4;
	display:inline-block;
	margin-right:3px;
}

.lk-menu-block a.active {
	background: #1DAEF4;
	border-radius: 3px;
	color:#fff;
}
.lk-menu-block a.active span{
	color:#fff;
}

.lk-content {
	padding-left:15px;
}

.lk-page__h  {
	font-weight: 500;
	font-size: 20px;
	line-height: 15px;
	color: #090B18;
	margin-bottom:20px;
}

.collapse-white-block {
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	
	padding:23px 18px;
	margin-bottom:10px;
	padding-bottom:0;
}

.lk-myservice-item__info {
	display:flex;
	align-items:center;
}

.lk-myservice-items {
	margin-bottom:20px;
}


.lk-myservice-items .total-block {
	font-weight: bold;
	font-size: 19px;
	line-height: 20px;
	text-align: right;

	color: #000000;
	padding-top:10px;
}
.lk-myservice-items .total-block span {
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
	color: #828B91;
}

.server-ip {
	font-weight: bold;
	font-size: 14px;
	line-height: 15px;
	color: #485257;
	margin-bottom:3px;
}
.server-status {
	font-weight: bold;
	font-size: 14px;
	line-height: 15px;
}
.status-error {
	color: #FF0101;
}
.status-ok {
	color: #00CF6C;
}

.server-pay-info {
	font-size: 13px;
	line-height: 13px;
	color: #8D9395;
}

.lk-myservice-item__price {
	display:flex;
	justify-content:flex-end;
	align-items:center;
	flex-wrap:wrap;
	
	font-weight: bold;
	font-size: 20px;
	line-height: 15px;
	color: #000000;
}

.lk-myservice-item__price span {
	font-weight: bold;
	font-size: 14px;
	line-height: 15px;
	color: #828B91;
	display:inline-block;
	margin-left:6px;
}

.collapse-white-block.opened .collapse-buttton_block {
	padding-bottom:10px;
	border-bottom:1px solid #DDE3E6;
}

.lk-myservice-item_detail {
	padding-top:15px;
}
.lk-myservice-item_detail table{
	width:100%;
}

.lk-myservice-item_detail tr td {
	border-bottom:#DDE3E6 1px solid;
	vertical-align:middle;
}
.lk-myservice-item_detail tr:last-child td {
	border-bottom:none;
}

.lk-myservice-item_detail tr td:first-child {
	font-weight: normal;
	font-size: 14px;
	line-height: 43px;
	color: #000000;
}
.lk-myservice-item_detail tr td:last-child {
	font-weight: bold;
	font-size: 16px;
	line-height: 15px;
	color: #000000;
	text-align:right;
}
.lk-myservice-item_detail tr td:last-child span {
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	color: #828B91;
}
.lk-myservice-item_detail tr td.null-price:last-child {
	font-weight: bold;
	font-size: 16px;
	line-height: 15px;
	color: #A3A3A3;
}

.server-detail-info {
	background: #3D4146;
	border-radius: 0px 0px 10px 10px;
	padding:26px 27px;
	
    width: calc(100% + 36px);
    position: relative;
    left: -18px;
}

.server-detail-info__row1 {
	padding-bottom:11px;
	border-bottom: 1px solid rgba(206, 222, 229, 0.2);
	margin-bottom:19px;
}
.server-detail-info__row2 {
	padding-bottom:11px;
	border-bottom: 1px solid rgba(206, 222, 229, 0.2);
	margin-bottom:19px;
}

.server-detail-info__row1_item {
	flex:0 0 20%;
	border-right: 1px solid rgba(206, 222, 229, 0.2);
    padding-left: 15px;
}
.server-detail-info__row2_item {
	flex:0 0 40%;
	border-right: 1px solid rgba(206, 222, 229, 0.2);
    padding-left: 15px;
}
.server-detail-info__row2_item:last-child {
	flex:0 0 20%;
}
.server-detail-info__row1_item:last-child,
.server-detail-info__row2_item:last-child {
	border:none;
}

.server-param-name {
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
	color: #BAC4D1;
}
.server-param-value {
	font-size: 12px;
	line-height: 15px;
	color: #BAC4D1;
	max-width:100px;
    word-break: break-all;
}

.server-monitoring-block {
	padding-bottom:22px;
	border-bottom: 1px solid rgba(206, 222, 229, 0.2);
	margin-bottom:17px;
}

.server-monitoring-block ul {
	list-style:none;
	margin-bottom:15px;
}
.server-monitoring-block ul li {
	font-weight: normal;
	font-size: 14px;
	line-height: 15px;
	color: #BAC4D1;
	margin-bottom:5px;
}
.server-monitoring-block ul li span{
	display:inline-block;
	width: 23px;
	height: 23px;
	border-radius:50%;
	font-weight: bold;
	font-size: 12px;
	line-height: 23px;
	color: #FFFFFF;
	text-align:center;
background: #9FAEB5;
	margin-right:7px;
}
.server-monitoring-block > .server-param-name {
	margin-bottom:8px;
}
.server-monitoring-block > a {
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
	text-decoration-line: underline;
	color: #00B4FF;
}

.server-action-cell a{
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
	text-decoration-line: underline;
	color: #00B4FF;
	display:inline-block;
	margin-bottom:10px;
}
.server-action-cell:last-child {
	display:flex;
	text-align:right;
	align-items:flex-end;
}

a.setting-icon {
	height:23px;
	line-height:23px;
	font-weight: 500;
	font-size: 14px;
	text-decoration-line: underline;
	color: #00B4FF;
	
	padding-left:29px;
	background:url(/images/2020/icon-settings.png) no-repeat center left;
	display:inline-block;
}

.lk-myservice-item.year-payment .server-name {
	margin-bottom:10px;
}

.lk-myservice-item__info a {
	font-size: 14px;
	line-height: 18px;
	text-decoration-line: underline;
	color: #1DAEF4;
	display:inline-block;margin-right:5px;
}
.gift-label {
	display:inline-block;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
	
	height:18px;
	padding:0px 10px;
	background: #04ABFF;
	border-radius: 11px;
	
	text-transform:uppercase !important;
	
}
.lk-myservice-item__price .price-note {
	display:block;
	width:100%;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	text-align: right;
	color: #8E8E90;
}

.lk-bottom-menu-section {
	background: #E0E9EE;
}
.lk-bottom-menu {
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
.lk-bottom-menu__item {
	display:block;
	width:100%;
	height:184px;
	border-right:1px solid #EFEFEF;
	border-bottom:1px solid #EFEFEF;
	
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;

	color: #151A3A;
	text-decoration:none;
}
.lk-bottom-menu__item:nth-child(4),
.lk-bottom-menu__item:nth-child(8) {
	border:none;
}
.lk-bottom-menu__item_img {
	margin-bottom:12px;
	display:block;
}
.lk-bottom-menu__item_name {
	display:block;
	width:100%;
}

.white-block {
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(56, 61, 64, 0.2);
	border-radius: 10px;
	padding:34px 38px;
	margin-bottom:59px;
	padding-bottom:20px;
}

.white-block > .row {
	padding-bottom:16px;
	border-bottom:1px solid #CEDEE5;
	margin-bottom:16px;
}
.white-block > .row:last-child {
	border-bottom:none;
	padding:0;
}

.white-block-cell {
	border-right:1px solid #CEDEE5;
	padding-right:25px;
}
.white-block > div > div:last-child .white-block-cell {
	border-right:none;
}
.wb-param_name {
	font-weight: bold;
	font-size: 14px;
	line-height: 15px;
	color: rgba(0, 0, 0, 0.9);
	margin-bottom:3px;
}
.wb-param_value {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: rgba(28, 29, 33, 0.9);
}


.simple-table-block .table-div__row {
	display:flex;
}

.w10 {
	width:10% !important;
	flex:0 0 10% !important;;
}

.simple-table-block .table-div__body {
	background: #FFFFFF;
	border-radius: 10px;
    padding: 32px 28px;
}

.tac {
	text-align:center;
	justify-content:center;
}

.simple-table-block .table-div__row_cell {
	border-right:1px solid #CEDEE5;
	padding-left:31px;
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	padding-right:10px;
    align-content: center;
	/*
    flex: 1 1 auto;
    flex-basis: auto;
    min-width: 15%;
	*/
}
.simple-table-block .table-div__row_cell.tac {
	padding-left:0;
}
.simple-table-block .table-div__row_cell:last-child {
	border-right:none;
}
.simple-table-block .table-div__row {
	margin-bottom:22px;
}
.simple-table-block a {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-decoration-line: underline;
	color: rgba(0, 0, 0, 0.9);
}
.simple-table-block .table-div__hcell {
	padding-left:31px;
}

.w25 {
	width:25%;
	flex: 0 0 25%;
}
.w50 {
	width:50%;
	flex: 0 0 50%;
}

.lk-bill-date {
	width:100%;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;

	color: rgba(0, 0, 0, 0.9);
	margin-bottom:5px;
}
.lk-bill-id {
	width:100%;
	font-weight: normal;
	font-size: 13px;
	line-height: 17px;
	color: #41434B;
}

.lk-bill-name {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.9);
	margin-bottom:3px;
}

.simple-table-block .lk-bill-link {
	display:inline-block;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-decoration-line: underline;
	color: #1DAEF4;
}

.no-right-border {
	border-right: none !important;
}

.lk-bill-price {
	width:100%;
	display:block;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: right;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.9);
	margin-bottom:3px;
}
.lk-bill-price span {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: right;
	text-transform: uppercase;
	color: rgba(130, 139, 145, 0.9);
}

.tar {
	text-align:right;
}

.lk-bill-price-status {
	width:100%;
	display:block;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
}

.w20 {
	width:20%;
	flex: 0 0 20%;
}
.w65 {
	width:65%;
	flex: 0 0 65%;
}
.w15 {
	width:15%;
	flex: 0 0 15%;
}

.lk-content > p {
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #1C1D21;
	margin-bottom:34px;
}


.lk-ticket-data > div > div:first-child {
	border-right:1px solid #CEDEE5;
}
.lk-ticket-data > div > div:last-child {
	padding-left:31px;
}

.lk-ticket-message-top {
	line-height:25px;
	
	font-weight: normal;
	font-size: 14px;
	color: #000000;
	
	padding-bottom:17px;
	border-bottom:1px solid #CEDEE5;
	margin-bottom:17px;
}

.lk-ticket-message-top b {
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	
	display:inline-block;
	margin-right:9px;
}
.lk-ticket-message-top a {
	color: #1DAEF4;
}

.lk-ticket-message-body p {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
    max-width: 80%;
}

.quote-link {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-decoration-line: underline;
	color: #1DAEF4;
}

.lk-ticket-message-body .quote-link {
	float:right;
	position:relative;
	top:-20px;
}
.lk-message-action {
	margin-bottom:55px;
	vertical-align:top;
}
.lk-message-action > a {
	vertical-align:top;
	display:inline-block;
}


.lk-offer .white-block-cell {
	border:none;
	padding:0;
}

.white-block.lk-offer {
	padding:24px 27px;
	margin-bottom:10px;
}

.lk-offer .server-status {
	margin-top:4px;
}

.hint .hint-data {
	max-width: 100vw;
    display: block;
    visibility: hidden;
    position: absolute;
    width: 350px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #e5e5e5;
    bottom: 25px;
    left: -169px;
    color: #808285;
    font-size: 12px;
    line-height: 14px;
    padding: 25px 30px;
    text-transform: none;
    -webkit-box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.3);	
}

.hint:hover .hint-data {
    visibility: visible;
}


.sod-result_block.sticky {
	position:fixed;
	top:33px;
}

.mb0 {
	margin-bottom:0 !important;
}

.ssl-modal .modal-dialog{
	width:100%;
	max-width:900px;
}
.isp-modal .modal-dialog{
	width:100%;
	max-width:686px;
}
.modal-header{
	padding:46px 52px 24px 52px;
	text-align:center;
}
.modal-body{
	padding:0 52px;
	padding-bottom:59px;
}
.modal-title {
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	color: #090B18;
	margin-bottom:10px;
}
.modal-header-desc {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #41434B;
	margin:0;
}

.ssl-modal .main-cells  {
	padding:15px 0px;
	border-top: 1px solid #CEDEE5;
	border-bottom: 1px solid #CEDEE5;
	margin-bottom:20px;
}
.ssl-modal .main-cells .server-prop-text {
	flex: 1 1 auto;
}

.modal .form-group .label-control {
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.65);
	display:block;
	
}
.modal .form-group .form-control {
	border: 2px solid #C3CED3;
	box-sizing: border-box;
	border-radius: 5px;
	height:44px;
	line-height:44px;
	padding:0px 5px;
}

.modal .form-group select {
	height:44px;
	line-height:44px;
	border: 2px solid #C3CED3;
	box-sizing: border-box;
	border-radius: 5px;
	
	-moz-appearance: none; 
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
	background:url(/images/2020/arrow-select.png) no-repeat 95% center #fff;
    position: relative;
	display:block;
	width:100%;
    padding: 0px 5px;
}

.modal .blue-button {
	border:none;
	display:block;
	box-shadow: 0px 3px 0px #0398F2;
	width:150px;
	text-transform:uppercase;
	margin:auto;
}


.df {
	display:flex;
}

.aic {
	align-items:center;
}
.acc {
	align-content:center;
}


.isp-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #212121;
	margin-bottom:10px;
}
.isp-desc {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.65);	
}
.isp-period {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.65);
}
.isp-period b {
	font-weight: bold;
	font-size: 20px;
	line-height: 18px;
	color: #212121;
}

.table-isp .table-div__cell .price,
.table-microsoft .table-div__cell .price {
	margin:0;
}

.table-isp.table-div .flex-row,
.table-microsoft.table-div .flex-row {
	margin:0;
}

.table-isp .td-cell:first-child,
.table-microsoft .td-cell:first-child {
	flex: 0 0 471px;
}

.isp-modal .isp-period {
	line-height:44px;
    font-size: 14px;
    color: #828B91;
}
.isp-modal .isp-period b {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}
.isp-modal .isp-price {
	line-height:44px;
    font-size: 14px;
    color: #828B91;
}
.isp-modal .isp-price span {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

#ispmanager-page .section-graybg,
#microsfot-page .section-graybg {
	padding-bottom:60px;
}

.isp-can.page-section {
	background:#fff;
}

.anyq-black {
	background:#000;
}

.anyq-black .anyq-block {
	top:0;
}

.table-microsoft {
	margin-bottom:50px;
}

.ms-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #212121;
	margin-bottom:10px;
}

.ms-desc {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.65);
}

.ms-desc .ms-price-small {
	font-size:14px;
	display:inline-block;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #828B91;
}
.ms-desc .ms-price-small span {
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}

.ms-chosen {
	display:none;
}

.ms-row.checked .ms-chosen {
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:100%;
}
.ms-row.checked .ms-actions {
	display:none;
}

.green-checked-text {
	font-weight: bold;
	font-size: 14px;
	line-height: 28px;
	text-transform: uppercase;
	color: #7DC810;
	padding-left:30px;
	
	background:url(/images/2020/icon-yes2.png) no-repeat left center;
	margin-right:30px;
}

.ms-uncheck {
    width: 17px;
    height: 19px;
    background: url(/images/2020/cart-delete.png) no-repeat center center;
	display:inline-block;
}
.table-microsoft .td-cell:last-child {
	flex:0 0 145px;
	height:43px;
}
.table-microsoft .td-cell:nth-child(3) {
	flex:0 0 100px;
}

.ms-total-block {
	height: 92px;
	background: #3D4146;
	border-radius: 10px;
	padding:0px 28px;
	margin-bottom:50px;
}

.ms-total-block__wrapper {
	display:flex;
	align-items:center;
	align-content:center;
}

.ms-total-block-text {
	flex:0 0 60%;
	font-weight: bold;
	font-size: 26px;
	line-height: 92px;
	color: #FFFFFF;
}
.ms-total-block-price {
	flex:0 0 20%;
	font-weight: bold;
	font-size: 22px;
	line-height: 92px;
	text-align: right;
	color: #73848A;
}
.ms-total-block-price span {
	line-height: 92px;
	font-weight: bold;
	font-size: 26px;
	line-height: 18px;
	color: #FFFFFF;
}
.ms-total-block-action {
	flex:0 0 20%;
	text-align:right;
}


#order-slide-content {
	padding:66px 0px 70px 0px;
	background: #151A3A;
	padding-top:0;
}

#order-slide-content h2.h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom:10px; /*36*/
}
#order-slide-content .order {
	padding:0;
	background: #151A3A;
}

#order-slide-content .order-select {
	padding:0;
	margin-bottom:36px;
}

#order-slide-content .order-ttl {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #FFFFFF;	
	margin-bottom:12px;
    text-transform: none;
}

#order-slide-content .selectBox-dropdown  {
	background: #FFFFFF;
	box-sizing: border-box;
	border-radius: 4px;
	overflow:hidden;
}

#order-slide-content .selectBox-dropdown .selectBox-label {
	font-weight: bold;
	font-size: 14px;
	line-height: 48px;
	color: #000000;
	padding:0px 16px;
}



.vds-property-block {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.vds-property-block .property {
	flex:0 0 50%;
	margin-bottom:0px; /*44*/
	display:block;
	padding:0;
}
.vds-property-block .property:nth-child(1),
.vds-property-block .property:nth-child(5) {
	padding-right:17px;;
}
.vds-property-block .property:nth-child(3),
.vds-property-block .property:nth-child(7){
	padding-left:27px;;
}

.vds-property-block .property.prop_IP_QTY {
	flex: 0 0 25%;
}

.total-sub-row {
	flex:0 0 75%;
}

.total-sub-row .order_total {
	padding:0;
	padding-left:10px;
}

#order-slide-content .total-sub-row .order_total h2.h2 {
	font-size:21px;
	text-align:left;
	margin-bottom:0;
}

.total-sub-row .total-sub-row .order_total {
	font-size:15px;
}

.vds-property-block .property .order-slide-ttl {
	width:auto;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #FFFFFF;
	margin-bottom:21px;
	text-align:left;
	padding:0;
	display:block;
	float:none;
}

.vds-property-block .property .ui-widget-content .ui-state-default {
	width: 14px;
	height: 32px;
	background: #ECECEC;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 1px #FFFFFF, inset 0px -2px 2px rgba(0, 0, 0, 0.35);
	border-radius: 2px;
	top:-12px;
    margin: 0;
}

.vds-property-block .slider-and-grath {
	padding:0;
	margin-top:5px;
}
.vds-property-block .order-slide {
	background: #D7D7D7 !important;
	border: 3px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	height:12px;
}

.order-slide-content .ui-slider-range, 
.order-slide .order-slide-active {
	background: #8BCB57;
	box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
}

.vds-property-block .order-slide:before {
	left:0;
	display:none;
}
.vds-property-block .order-slide:after {
	right:0;
	display:none;
}

.order-slide-content .ui-slider-range, 
.order-slide .order-slide-active {
	margin:0;
}

.vds-property-block .slider-and-grath .order-slide-grath div {
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.5);
}

#order-slide-content .order-bottom h2.h2 {
	text-align:left;
	font-weight: 500;
	font-size: 20px;
	line-height: 18px;
	color: #FFFFFF;
	margin-bottom:10px;
}
#order-slide-content .order-bottom {
	margin-top:0;
	border:none;
}

.characteristics .characteristics-item.characteristics-col3 input {
	width:61px;
}

.order-price .order-price-val {
	line-height:38px;
}

.order-bottom .characteristics > .row {
	display:flex;
	justify-content:space-between;
}

.characteristics .characteristics-item {
	padding-top:10px;
}

.characteristics-item .img.ip-cnt {
	background:url(/images/2020/icon-ipaddr.png) no-repeat center center;
	width:48px;
	height:48px;
}

.characteristics-col5 {
	padding-left:0;
}

.order-button-block {
	text-align:center;
	padding-top:50px;
}

.test-period-label {
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.5);
}

.order_total .test_period {
	padding-top:70px;
}

.page-section__desc {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #1C1D21;	
	
	margin-bottom:33px;
}

.after-solutions-text {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #1C1D21;
	max-width:790px;
	margin:auto;
	margin-top:45px;
}

.dns-hosting-text ul.ul50p li,
.vvds-osob ul.ul50p li {
    flex: 0 0 50%;
    padding-left: 41px;
   /* background: url(/images/icon-blue_check.png) no-repeat left top;*/
	background-size:28px 28px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #1C1D21;
	margin-bottom:20px;
    min-height: 30px;
	padding-right:15px;
	position:relative;
}
.dns-hosting-text ul.ul50p li:before,
.vvds-osob ul.ul50p li:before {
	background:url('/local/templates/depohost2020/images/css-sprite-combined.png') -47px -25px;
    width:28px;
    height:28px;
    display:block;
    position:absolute;
    content: " ";
    top:0;
    left:0;
}

.marker li {
    padding-left: 41px;
	background-size:28px 28px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #1C1D21;
	margin-bottom:20px;
    min-height: 30px;
	padding-right:15px;
	position:relative;
	list-style-type: none;
}
.marker li:before {
	background:url('/local/templates/depohost2020/images/css-sprite-combined.png') -47px -25px;
    width:28px;
    height:28px;
    display:block;
    position:absolute;
    content: " ";
    top:0;
    left:0;
}
.ssl-what-we-offer-section ul {
    max-width: 768px;
    margin: auto;
	margin-bottom: 30px;
}

.dark-blue-bg {
	background: #151A3A;
}

.dark-blue-bg .page-section__h {
	color: #FFFFFF;
}

.articles-block .main-new__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	color: #090B18;	
	margin-bottom:44px;
	text-transform:none;
}

.articles-block .main-new__item {
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border: 2px solid transparent;
}

.articles-block .main-new__item:hover {
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
	border: 2px solid #04ABFF;
}
.articles-block.main-new__wrap {
	padding-bottom:242px;
}

.custom-service-form-section {
	background:#000;
    height: 430px;
}

.form-custom-service {
    background: #FFFFFF;
    box-shadow: 3px 4px 30px rgba(59, 59, 59, 0.3);
    border-radius: 20px;
    /* padding: 84px 135px 102px 135px; */
    padding: 70px 142px;
    position: relative;
    top: -260px;
    margin: auto;
    max-width: 100%;
}

.form-custom-service__title {
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	text-align: center;
	color: #090B18;
	margin-bottom:37px;
}

.form-custom-service .field__label {
	font-weight: normal;
	font-size: 15px;
	line-height: 30px;
	color: #151A3A;
	text-transform:none;
	margin:0;
}
.form-custom-service .field__star {
	font-weight: normal;
	font-size: 15px;
	line-height: 30px;
	color: #22C3F2;
}

.form-custom-service .field_checkbox{
	text-align:center;
	margin-bottom:33px;
}
.form-custom-service .field_checkbox label{
	font-weight: normal;
	font-size: 15px;
	line-height: 30px;
	color: #151A3A;
	margin:auto;
}
.form-custom-service .field_checkbox label a{
	color: #2BAFF1;
}

.form-custom-service .button-blue2 {
	line-height:40px;
}

.head-block {
	height: 102px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 102px;
	color: #FFFFFF;
background: #1DAEF4;
}

.bx_breadcrumbs.v2020 a {
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	text-decoration-line: underline;
	color: #696B7B;
}

.bx_breadcrumbs.v2020 a.current {
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
	color: #1DAEF4;
}

.mb30 {
	margin-bottom:30px;
}

.bx_breadcrumbs {
	background:#edf4f8;
}

#sliderRAM .ui-slider-range {
	top:0 !important;
}
#configuration #sliderRAM .ui-slider-range {
	top:12px !important;
}

.characteristics .characteristics-item.characteristics-col4 input {
	width:45px;
}

.characteristics .characteristics-item.characteristics-col2 input {
	width:35px;
}

.cdb-total {
	text-align:right;
}
.cdb-total-price {
    font-weight: bold;
    font-size: 20px;
    line-height: 15px;
    color: #000000;
}


.cart-bottom-section {
	background: #E0E9EE;
}
.cart-bottom-section .services-items {
	top:0;
}

#cart-total-line {
	text-align:right;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
	margin-bottom:30px;
}
#cart-total-price {
	font-size: 24px;
}
#cart-total-currency {
	font-weight: 500;
	font-size: 18px;
	line-height: 15px;
	color: #828B91;
}

.cart-actions {
	text-align:center;
}

.cart-actions > a {
	display:block;
}

.cart-actions a.button-blue2 {
	max-width:200px;
	margin:auto;
	margin-bottom:25px;
}

.cart-actions .getoffer {
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: #04ABFF;
	text-decoration:none;
}

.order-form .form-group input.form-control {
	height:44px;
}

.help-conf-block.nomt .form-custom-service {
	top:0;
	margin-top:0;
}

.sub-flex-row > div {
	flex: 0 0 50%;
	line-height:70px;
}
.sub-flex-row {
	align-content:center;
	align-items:center;
}


.summary__wrap {
	margin:0;
	padding:0 15px;
}

.sub-cart-item-name {
	white-space:nowrap;
}

.mainpage-first-screen {
	width:100%;
	height:680px; /*854*/
	background:url(/images/2020/main-page-first-block.png) no-repeat center center;
	background-size:cover;
	padding-top:79px;
}

.mfs-h {
	font-weight: bold;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom:64px;
}


.mainpage-links-blocks {
	background: #FFFFFF;
	box-shadow: 0px 15px 20px rgba(0, 56, 129, 0.15);
	border-radius: 10px;
	
	padding:45px 44px;
	position:relative;
	/*top:150px;*/
}

.mainpage-links-blocks > div > div .mainpage-links-block {
	padding-right:37px;
	border-right: 1px solid #DFDFDF;
}
.mainpage-links-blocks > div > div:last-child .mainpage-links-block {
	border-right: none;
}

.mlb-h {
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #090B18;
	margin-bottom:17px;
}

.mlb-desc {
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #525462;
	margin-bottom:21px;
}

.mlb-items {
	
}

.mlb-item {
	display:flex;
	color: #151A3A;
	text-decoration:none !important;
	margin-bottom:35px;
	/*height:97px;*/
}

.mainpage-links-blocks .col-md-4:nth-child(2) .mlb-items {
	position:relative;
	left:20px;
}


@keyframes bounces {
	0% {
		transform: translateY(7px)
	}

	50% {
		transform: translateY(-7px)
	}

	100% {
		transform: translateY(7px)
	}
}

@keyframes bounces {
	0% {
		transform: scale(0.8)
	}

	46% {
		transform: scale(0.9)
	}

	54% {
		transform: scale(0.9)
	}

	100% {
		transform: scale(0.8)
	}
}

@keyframes flip {
	0% {
		transform: scaleX(1)
	}



	50% {
		transform: scaleX(-1)
	}



	100% {
		transform: scaleX(1)
	}
}

@keyframes bounce {

	0%,
	40%,
	60%,
	100% {
		-webkit-transform: translateX(0);
		transform: skew(0deg, 0) translateX(0);
	}

	40% {
		-webkit-transform: translateX(-15px);
		transform: skew(5deg, 0) translateX(-15px);
	}

	80% {
		-webkit-transform: translateX(-50px);
		transform: skew(0deg, 0) translateX(-5px);
	}
}
.mlb-item:hover .mlb-item__icon > img:nth-child(1){
	animation: flip 0.25s ease-in-out;
}
.mlb-item .mlb-item__icon img+img:before {
	position: absolute;
	content: '';
	background-color: #1DAEF4;
	width: 60px;
	height: 60px;
    left: -10px;
    top: -10px;
	z-index: 100;
	display: block;
	opacity: 0;
	border-radius: 6px;
	transition: ease all 0.25s;
	transform: scale(0.1)
}
.mlb-item:hover .mlb-item__icon img+img:before {
	position: absolute;
	content: '';
	background-color: #1DAEF4;
	width: 290px;
	height: 90px;
    left: -10px;
    top: -10px;
	z-index: 100;
	display: block;
	opacity: 0.14;
	border-radius: 6px;
	transition: ease all 0.25s;
	transform: scale(1);
	cursor: pointer
}

.mlb-item__icon {
	width:64px;
	flex:0 0 64px;
	/*margin-bottom:25px;*/
	position:relative;
}
.mlb-item__icon .gift-icon{
	position:absolute;
	right:0;
	top:0;
	/*width:25px;
	height:26px;
	background:url(/images/2020/gift-icon.png) no-repeat center center;*/
}

.mlb-item__data {
	padding-left:12px;
}

.mlb-item__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #151A3A;
	margin-bottom:10px;
}
.mlb-item__name span {
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #1CB3FF;
}

.mlb-item__price {
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #1C1D21;
}
.mlb-item__price span {
	color: #1DAEF4;
}


.mfs-bottom {
	font-weight: normal;
	font-size: 13px;
	line-height: 12px;
	color: #000000;
	opacity: 0.6;
	text-align:center;
}

.mfs-bottom > a {
    display: inline-block;
    position: relative;
    top: 8px;
}

.narrow-banner {
	margin-top:140px;
}

.narrow-banner__wrapper {
	display:flex;
	background:url(/images/2020/nb-bg.png) no-repeat center center;
	background-size:cover;
	height:200px;
	border-radius:8px;
}

.narrow-banner__left {
	flex:0 0 40%;
	background:url(/images/2020/nb-img.png) no-repeat center center;
}

.narrow-banner__right {
	flex:0 0 60%;
	padding-top:25px;
}

.narrow-banner__h {
	font-weight: bold;
	font-size: 30px;
	line-height: 50px;
	color: #FFFFFF;
	margin-bottom:0px;
}
.narrow-banner__desc {
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	margin-bottom:15px;
	
}

.order-block .buy-block .btn-green {
	text-decoration:none !important;
}

#microsoft-page .order {
	position:relative;
	width:100%;
	max-width:1170px;
}

.ms-total-block.fixed {
	position:fixed;
	width:inherit;
	max-width:inherit;
	bottom:-45px;
}


.order-form-block .blue-button:hover {
	color:#333;
}

.counter-product .cart-item__colh {
	line-height:15px;
	margin-bottom:10px;
}
.counter-product .sub_counter .cart-item__colh {
	margin-bottom:-9px !important;
	position:relative;
	left:-2px;
}

.counter-product .price-for-1-div {
	flex:0 0 23%;
	justify-content: center;
	align-items: center;
}
.counter-product .price-for-1 {
    font-weight: bold;
    font-size: 15px;
    color: #000000;
	line-height:15px;
}
.counter-product .price-for-1 span {
    font-size: 15px;
    color: #828B91;
	display:inline-block;
	position:relative;
    margin-left: 5px;
}
.counter-product .sub_counter {
	flex:0 0 21%;
	justify-content: center;
	align-items: center;
	padding:5px 0px;
}


.order_total .test_period {
	padding:0;
	margin:0;
	text-align:left;
	float:none;
}

.order_total .order-price {
	padding-top:40px;
}

.page-section__icon {
	margin:auto;
	text-align:center;
	margin-bottom:10px;
}

/*****css sprite****/
.css-sprite-icon_1
{
background:url('/local/templates/depohost2020/images/css-sprite-combined.png') 0px -0px;
width:47px;height:53px;
display:inline-block;
}

.css-sprite-icon-blue_check
{
background:url('/local/templates/depohost2020/images/css-sprite-combined.png') -47px -25px;
width:28px;height:28px;
display:inline-block;
}

.css-sprite-ready
{
background:url('/local/templates/depohost2020/images/css-sprite-combined.png') -75px -21px;
width:32px;height:32px;
display:inline-block;
}

.css-sprite-triangle-sm
{
background:url('/local/templates/depohost2020/images/css-sprite-combined.png') -107px -48px;
width:9px;height:5px;
display:inline-block;
}

.css-sprite-arrow-passive
{
background:url('/local/templates/depohost2020/images/css-sprite-combined.png') -116px -48px;
width:8px;height:5px;
display:inline-block;
}

.css-sprite-conf-active
{
background:url('/local/templates/depohost2020/images/css-sprite-combined.png') -124px -21px;
width:32px;height:32px;
display:inline-block;
}

.css-sprite-gift-icon
{
background:url('/local/templates/depohost2020/images/css-sprite-combined.png') -156px -27px;
width:25px;height:26px;
display:inline-block;
}

.css-sprite-gift-label
{
background:url('/local/templates/depohost2020/images/css-sprite-combined.png') -181px -27px;
width:83px;height:26px;
display:inline-block;
}

/***************************************/

.ul {
    list-style-position: inside;
    margin: 20px 0 20px 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #090B18;
}
.ssl-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ssl-brands_img {
    width: 17%;
}
@media (max-width: 414px) {
    .ssl-brands {
        justify-content: center;
       } 
    .ssl-brands_img {
        width: 51%;
        margin-bottom: 15px;
    }
}

.bordered-text {
	border: 2px solid #00aef7;
	border-radius: 7px;
	margin: 15px 0;
	padding: 10px;
}
.mt-30 {
	margin-top: 30px;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
	border: 1px solid #a6a6a6;
}

.italic {
	font-style: italic;
}
.checked-text {
	position: relative;
	padding-left: 41px;
}
.checked-text:before {
	background: url('/local/templates/depohost2020/images/css-sprite-combined.png') -47px -25px;
	width: 28px;
	height: 28px;
	display: block;
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
}
.like_h1 {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: #090B18;
	margin-bottom: 29px;
}