.n-auth .h1 span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #00adf7;
  text-transform: uppercase;
}

.n-auth .h1 {
  margin-top: 0;
  text-transform: none;
  margin-bottom: 10px;
}

.block-pm-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-pm-item:before {
  content: "";
  background: url("/local/templates/depohost/images/plus.png") center no-repeat;
  width: 10px;
  min-width: 10px;
  height: 10px;
  padding-top: 25px;
  margin-right: 10px;
}
td.bx-auth-label {
  text-align: right;
  font-weight: bold;
  line-height: 48px;
}

table.bx-auth-table td {
  padding: 3px;
}

input.bx-auth-input {
  display: block;
  width: 100%;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e4e4e9;
  margin-bottom: 27px;
  padding: 14px 15px;
  font: 14px "Roboto", Arial, Helvetica, sans-serif;
  color: #565862;
  border-radius: 0;
}

.authorize-submit-cell input {
  display: inline-block;
  background: #fff;
  border-bottom: 2px solid #dedede;
  -webkit-box-shadow: 0 2px 0 rgba(35, 31, 32, 0.25);
          box-shadow: 0 2px 0 rgba(35, 31, 32, 0.25);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #00adf7;
  border-radius: 4px;
  padding: 9px 27px 8px;
  border: none;
  cursor: pointer;
}

.forgot-password {
  padding: 20px 0 0 0 !important;
  text-decoration: underline;
}

.n-page-wrapper {
  position: relative;
  overflow: hidden;
}

.aut-l {
  position: absolute;
  left: 50%;
  top: 0px;
  background: url(/local/templates/depohost/css/../images/aut-l.jpg) 0 0
    no-repeat;
  width: 482px;
  height: 911px;
  margin-left: -962px;
}

.aut-r {
  position: absolute;
  left: 50%;
  top: 0px;
  background: url(/local/templates/depohost/css/../images/aut-r.jpg) 0 0
    no-repeat;
  width: 482px;
  height: 911px;
  margin-left: 470px;
}
.n-auth .block {
  background: url(/local/templates/depohost/css/../images/pm-bg.jpg) no-repeat
    center 0;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 46px 3px 73px 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-pm {
  float: right;
  border: 1px solid #e4e4e9;
  width: 395px;
  padding: 38px 35px 42px 35px;
  margin: -38px 0 0px;
}

.block-pm .block-pm-item {
  position: relative;
  line-height: 28px;
}

.block-pm .block-pm-ttl {
  color: #3e3f47;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 9px;
}

.forgot-password-auth {
  display: block;
  text-decoration: underline;
  margin-top: 25px;
}