@media screen and (max-width: 1200px) {
  .cart .server td {
    padding-left: 10px;
    padding-right: 10px;
  }

  .custom .desc {
    display: none;
  }
  .custom .mob {
    display: inline-block;
  }

  .cart .server th {
    padding: 21px 22px 20px;
  }
}

@media screen and (max-width: 767px) {
  .bx_ordercart_order_pay_right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .bx_ordercart .bx_ordercart_order_pay_center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .cart .getoffer {
    margin-top: 20px;
    white-space: normal;
  }
  .cart-add-title {
    margin: 35px 0 15px 15px;
  }
}
