.contacts-wrap {
  background: #e2eff5;
}

.contacts-inner {
  background: #f6f6f8;
}

.contacts__item {
  margin-bottom: 22px;
  line-height: 22px;
}

.contacts__item-title {
  text-decoration: underline;
}

.contacts__item-link a {
  text-decoration: underline;
}

.feedback-title {
  padding-top: 10px;
  padding-bottom: 7px;
}

.contacts-form {
  width: 540px;
  margin: 0 auto 75px;
}

.contacts-form .field-name {
  font: 700 14px/22px "Roboto", Arial, Helvetica, sans-serif;
  color: #3e3f47;
  margin: 0 0 13px;
  text-transform: uppercase;
}

span.mf-req {
  color: red;
}
.contacts-form .field .input,
.contacts-form .textarea {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e4e4e9;
  margin-bottom: 27px;
  padding: 14px 15px;
}

.contacts-form .field .input {
  height: 48px;
}

.contacts-form .textarea {
  height: 218px;
}
.contacts-form .form-btn {
  margin-top: 5px;
}

.contacts-form .form-btn .btn-big {
  padding-left: 60px;
  padding-right: 60px;
}

.contacts-img {
  margin-top: 30px;
}