@media screen and (max-width: 1200px) {
  .contacts-img {
    height: 427px;
    margin-bottom: 25px;
  }
  .contacts-form .textarea {
    height: 100px;
  }
  .contacts-form .form-btn .btn-big {
    padding-left: 82px;
    padding-right: 82px;
    font-size: 16px;
    margin-top: 42px;
  }
  .contacts-wrap {
    background: #f6f6f8;
  }
}

@media screen and (max-width: 767px) {
  .contacts-img {
    width: 100%;
    height: auto;
  }

  .contacts-form {
    width: 100%;
  }
  .contacts-form .btn-big {
    width: 100%;
  }
  .contacts-img {
    margin-top: 0px;
    margin-bottom: 0;
  }
  .contacts-form .field .input,
  .contacts-form .textarea {
    margin-bottom: 20px;
  }

  .contacts-form .form-btn .btn-big {
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .rc-anchor-light {
    max-width: 290px;
  }
}