@media all and (min-width: 768px) {
  .parameters-block {
    grid-template-columns: 25% 25% 25% 25%;
  }

  .server-img {
    width: 405px;
    height: 85px;
  }

  .server-img:after {
    width: 375px;
  }

  .server-img.type2u:after {
    height: 85px;
  }

  .server-img.type1u:after {
    background-position: 0 -85px;
  }

  #map-hdd div {
    position: absolute;
    width: 10px;
    height: 4px;
    z-index: 100;
  }

  .type2u #map-hdd {
    top: 41px;
    left: 85px;
  }

  .type1u #map-hdd {
    top: 63px;
    left: 85px;
  }

  #map-hdd div:nth-child(4n + 2) {
    left: 83px;
  }

  #map-hdd div:nth-child(4n + 3) {
    left: 166px;
  }

  #map-hdd div:nth-child(4n + 4) {
    left: 249px;
  }

  #map-hdd div:nth-child(n + 5) {
    top: 22px;
  }

  #map-hdd .active {
    /* background: #0e69ae */
    width: 14px;
    height: 6px;
  }

  .order-block .terms-block {
    margin: 0 15px;
    /*display: flex;*/
    /*padding: 30px 0 30px 30px;*/
  }

  .term-block {
    /*width: 166px;*/
  }
  td.order {
    width: 90px;
  }
}

@media all and (min-width: 992px) {
  .parameters-block {
    grid-template-columns: 50% 50%;
  }
}

@media all and (min-width: 1200px) {
  .order.buy-block .btn-green {
    width: 108px;
  }
  td.order {
    min-width: 150px;
  }
  #page-dedic {
    border: 1px solid #e4e4e9;
    margin-top: -85px;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .opportunities #unlimit-trafic {
    background: url("../../images/opport-bg-1-mob.jpg") 0 0 no-repeat #0161aa;
  }

  .opportunities #professional-admin {
    background: url("../../images/opport-bg-2-mob.jpg") 0 0 no-repeat #0161aa;
  }

  .opportunities #cool-panels {
    background: url("../../images/opport-bg-3-mob1.jpg") 0 0 no-repeat #0161aa;
  }

  .opportunities #dedic-in-5min {
    background: url("../../images/opport-bg-4-mob.jpg") 0 0 no-repeat #0161aa;
  }

  .opportunities .item-block {
    width: 100%;
    padding-left: 46px;
  }

  .type-server-header {
    text-align: left;
  }

  .summary__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .summary-block {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .order-block .buy-block {
    margin-top: 0;
    padding: 50px 25px 0;
  }

  .summary-block .server-parameters {
    width: auto;
  }

  .services-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 20px;
  }

  .services-list {
    width: 100%;
  }

  .right-side {
    width: 100%;
  }

  .right-side .item-params .caption.underline-title {
    display: none;
  }

  .right-side .item-params {
    padding-top: 13px;
  }

  .item-services-list .btn-green.sm {
    width: auto;
    min-width: 168px;
  }
  .type-server {
    width: 938px;
  }
  .bg-right,
  .bg-left {
    background: none;
    width: 0;
  }
  ul.advantage {
    padding: 15px;
  }
  .server-opis {
    padding-top: 0;
    background: none;
  }

  .parameters-block .parameter-block:nth-child(2n + 3)::after {
    background: none !important;
  }
  .tab-pane.active {
    padding-left: 0;
    padding-right: 0;
  }
  #page-dedic .head td.cpu .with-icon {
    white-space: nowrap;
  }
  #page-dedic .blue-v2 td {
    font-weight: bold;
  }
}

@media (max-width: 1100px) {
  .dedicated_server {
    width: 1100px !important;
  }
}

@media (max-width: 992px) {
  .type-server {
    width: 719px;
  }
  .order-block .terms-block {
    margin: 0 -10px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .center .seo-txt {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .center .seo-txt {
    /*padding: 15px;*/
  }

  .n-rent-dedic__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .n-rent-dedic__item {
    width: 100%;
  }

  #opportunities .item-block {
    padding-left: 23px;
    height: auto;
  }

  #opportunities #unlimit-trafic {
    background-position: -24px 0px;
  }

  #opportunities #professional-admin {
    background-position: -26px 0px;
  }

  #opportunities #cool-panels {
    background-position: -27px 0px;
  }

  #opportunities #dedic-in-5min {
    background-position: -26px 0px;
  }

  .order-block .terms-block {
  }

  .bottom-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services-list .item-block .price {
    padding-left: 0;
    border: none;
  }

  .select.xl .selectBox-dropdown {
    width: 100% !important;
  }

  .services-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .select.xl .selectBox-dropdown .selectBox-label,
  .selectBox-options li a {
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    padding-right: 30px !important;
  }

  .n-accordion .n-nav-tabs__link {
    text-decoration: none;
    font-weight: bold;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .accodr-arrow {
    background: url("../../images/accord-arrow.png") 0 0 no-repeat;
    width: 13px;
    height: 8px;
  }

  .configuration .icon-configuration {
    background: url("../../images/icon-configuration-blue.png") 0 0 no-repeat;
  }

  .ready-made .icon-ready-made {
    background: url("../../images/icon-ready-made-blue.png") 0 0 no-repeat;
  }

  .opportunities .icon-opportunities {
    background: url("../../images/icon-opportunities-blue.png") 0 0 no-repeat;
  }

  .panel-title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;

    text-transform: uppercase;

    font-weight: bold;
  }

  .n-accordion .panel-default > .panel-heading {
    background-color: #eaf2f5;
    border-color: #7c8f98;
  }

  .panel-group .panel + .panel {
    margin-top: 0;
  }

  .panel-heading,
  .panel-group .panel {
    border-radius: 0px;
  }

  .panel-heading {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .panel {
    border-right: none;
    border-top: none;
    border-left: none;
    /*border-right: 1px solid #7c8f98;*/
  }

  .type-server-header {
    font-size: 16px;
  }

  #page-dedic {
    margin: 0 -15px;
  }

  .order-block .terms-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }

  .term-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 12px;
  }

  .term-block .top {
    height: auto;
    width: 60%;
  }

  .term-block .bottom {
    height: auto;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .term-block.active::after {
    border: none;
  }

  .term-block .bottom::after {
    background: none;
  }

  .term-block > * {
    padding-bottom: 12px;
  }

  .term-block .bottom .price {
    margin-bottom: 5px;
  }

  .summary__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .summary-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }

  .summary-block .server-parameters {
    padding: 0;
    margin-bottom: 15px;
  }

  .summary-block .summ {
    padding: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 25px;
  }

  .order-block .buy-block {
    padding: 0;
    width: 100%;
    height: 75px;
  }

  .summary-block .summ .caption {
    display: none;
  }

  .order-block .buy-block .btn-green {
    width: 100%;
  }

  .opportunities .item-block {
    width: 100%;
    height: auto;
  }

  .opportunities .item-block .name {
    font-size: 20px;
  }

  .item-services-list .btn-green.sm {
    width: 100%;
    max-width: 320px;
  }
  .services-list .item-block .item-name {
    padding-right: 20px;
  }

  .head-block {
    padding: 13px 15px !important;
  }
  .services-list .item-block {
    padding: 10px;
  }

  .parameters-block .parameter-block:nth-child(2n + 3)::after {
    background: #cad7dc !important;
  }

  .center .seo-txt {
    padding-left: 30px;
    padding-right: 15px;
  }

  .n-rent-dedic__item img {
    height: 82px;
    margin-bottom: -24px;
  }

  #page-dedic .strong-text {
    font-size: 20px !important;
    margin-left: -13px !important;
  }

  .panel-body .strong-text {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .opportunities .item-block {
    padding-left: 30px;
  }

  .opportunities #unlimit-trafic,
  .opportunities #professional-admin,
  .opportunities #cool-panels,
  .opportunities #dedic-in-5min {
    background-position: -17px 0;
  }
}

@media (max-width: 330px) {
  .opportunities #unlimit-trafic {
    background: url("../../images/opport-bg-1-mob-320.jpg") 0 0 no-repeat
      #0161aa;
  }

  .opportunities #professional-admin {
    background: url("../../images/opport-bg-2-mob-320.jpg") 0 0 no-repeat
      #0161aa;
  }

  .opportunities #cool-panels {
    background: url("../../images/opport-bg-3-mob-320.jpg") 0 0 no-repeat
      #0161aa;
  }

  .opportunities #dedic-in-5min {
    background: url("../../images/opport-bg-4-mob-320.jpg") 0 0 no-repeat
      #0161aa;
  }

  .opportunities .item-block {
    padding-left: 20px;
  }

  .tab-pane.active {
    padding-top: 5px;
  }
}