@media screen and (max-width: 1200px) {
  #order_form_div input[type="text"] {
    margin-bottom: 10px !important;
    width: 229px !important;
  }
}

@media screen and (max-width: 767px) {
  .agree {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .agree input {
    margin: 2px 0 0;
    margin-right: 7px;
  }
  #order_form_div input[type="text"] {
    width: 100% !important;
  }

  .kp-title {
    font-size: 22px;
  }
}
