.text {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 0;
}
.text .side-left {
  padding-right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.text .h2 {
  text-transform: uppercase;
}
.icon-panel,
.icon-class {
  display: block;
  height: 53px;
  background: url(/images/pages/isp/isp-icon-sprite.png) 0 0 no-repeat
    transparent;
  background-size: auto 100%;
}
.icon-panel {
  background-position: 0 0;
  width: 55px;
}
.icon-class {
  background-position: -55px 0;
  width: 56px;
}
.seo-text {
  padding-top: 40px;
}
.seo-text .h2 {
  padding: 25px 0;
}
.order-checked {
  width: 100%;
  display: block;
  text-align: center;
}
.bg-blue {
  background-color: transparent !important;
}
.bg-left {
  /*background-image: url(../../images/ispmanager-l.jpg) !important;*/
}
.bg-right {
  /*background-image: url(../../images/ispmanager-r.jpg) !important;*/
}
@media all and (min-width: 768px) {
  .icon-panel,
  .icon-class {
    display: block;
    height: 106px;
    background: url(/images/pages/isp/isp-icon-sprite.png) 0 0 no-repeat
      transparent;
    background-size: auto;
  }
  .icon-panel {
    background-position: 0 0;
    width: 110px;
  }
  .icon-class {
    background-position: -110px 0;
    width: 112px;
  }
  .wrap-checked {
    display: inline-block;
  }
  .wrap-checked + .btn-green {
    float: right;
    width: auto;
  }
}