.main-page {
  width: 100%;
  overflow: hidden;
}
.slider {
  background: #090b18;
  height: 611px;
  width: 100%;
}

.bxslider {
  height: 581px;
}

.bxslider .bxslider-item {
  /*position: relative;*/
  display: block;
  top: 0;
  /*left: -120px;*/
  height: 478px;
  background: 0;
  padding: 0;
  margin: 0;
  width: 978px;
}
.bxslider-item__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bxslider .slider-ttl {
  color: #fff;
  font-size: 44px;
  font-weight: bold;
  line-height: 45px;
}

.bxslider .bxslider-list_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 38px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bxslider-item-img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bxslider-item__desc {
  padding: 50px 0 0 0;
  width: 50%;
}

.bxslider .bxslider-item_inner {
  display: inline-block;
  line-height: 24px;
  padding: 0 0 0 23px;
  margin: 0 0 16px 0px;
  top: 30px;
  height: auto;
  color: #ffffff;
  width: 50%;
  max-width: 254px;
}

.slick-prev:before,
.slick-next:before {
  display: block;
  content: "" !important;
  width: 55px;
  height: 55px;
}
.slick-next:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}
.slick-prev {
  left: -105px !important;
}

.slick-next {
  right: -87px !important;
}

.bxslider-button {
  display: inline-block;
  background: #2baff1;
  color: #ffffff;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #fff !important;
}
.slick-dots li button:before {
  font-size: 36px !important;
  color: #fff !important;
}

.slick-dots li {
  width: 10px !important;
}

.slick-dots {
  bottom: 110px !important;
}

.bxslider {
  opacity: 0;
}

.bxslider.slick-initialized {
  opacity: 1;
}

.main-img__wrap {
  width: 100%;
  text-align: center;
}
.main-img__wrap > *{
  margin: 0 auto;
}

.n-rent {
  padding: 0 170px;
  text-align: left !important;
}

.main-page .h1 {
  margin-bottom: 16px;
  margin-top: 21px;
  text-transform: none;
  font-size: 32px;
}
.advant-rent {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  column-gap: 30px;
}
.rent-block {
  text-align: center;
  padding: 94px 0;
  background: #151a3a; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(
    linear,
    left top, right top,
    from(#151a3a),
    to(#0b091a)
  );
  background: -webkit-linear-gradient(
    left,
    #151a3a 0%,
    #0b091a 100%
  );
  background: -o-linear-gradient(
    left,
    #151a3a 0%,
    #0b091a 100%
  );
  background: linear-gradient(
    to right,
    #151a3a 0%,
    #0b091a 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151a3a', endColorstr='#0b091a',GradientType=1 ); /* IE6-9 */
}
.rent-block__title {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 34px;
}
.rent-block__desc {
  color: #8b90ab;
  line-height: 1.5;
  margin-bottom: 60px;
  font-size: 16px;
  padding: 0 92px;
}
.rent-block__stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.rent-block__stage:after {
  position: absolute;
  right: 0;
  left: 0;
  top: 83px;
  margin: 0 auto;
  z-index: 1;
  content: "";
  background: #252a49;
  height: 2px;
  width: 910px;
}
.rent-block__stage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rent-block__stage__item-wrap {
  position: relative;
  min-width: 20%;
  width: 20%;
}
.rent-block__stage__item-wrap:after {
  display: block;
  position: absolute;
  top: 7px;
  right: -16px;
  content: "";
  width: 24px;
  height: 44px;
}
.rent-block__stage__item-wrap.last:after {
  background-image: none;
}
.rent-block__stage__item-num {
  position: relative;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 16px;
}
.rent-block__stage__item-desc {
  font-size: 16px;
  color: #ffffff;
  height: 65px;
  padding: 0 5px;
}
.rent-block__stage__item-txt {
  color: #ffffff;
  padding: 0 5px;
}
.rent-block__stage__item-img {
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rent-sevice {
  padding: 57px 0 81px 0;
}
.rent-sevice__block {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 60px;
  column-gap: 60px;
  margin-top: 53px;
}
.rent-sevice__block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 28px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
}
.rent-sevice__block-item:before {
  content: "";
  width: 28px;
  min-width: 28px;
  height: 28px;
  margin-right: 15px;
}
.rent-select__wrap {
  background: #edf4f8;
  padding: 57px 0;
}
.rent-select__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 42px;
}
.rent-select__item {
  background: #ffffff;
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  margin-bottom: 30px;
}
.rent-select__item-desc {
  font-size: 16px;
  font-weight: bold;
  color: #151a3a;
}
.rent-select__item-img {
  width: 55px;
  margin-right: 10px;
}
.rent-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 57px 0;
}
.rent-connect__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 17px;
  font-size: 18px;
  color: #151a3a;
}
.num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2baff1;
  width: 28px;
  min-width: 28px;
  height: 28px;
  color: #ffffff;
  margin-right: 16px;
  border-radius: 50%;
}
.rent-connect .h1 {
  width: 50%;
  text-align: left;
  margin-top: 0;
}
.rent-connect__num_contact {
  font-size: 18px;
  color: #1daef4;
}
.rent-connect__num_tel {
  font-size: 24px;
  color: #151a3a;
  text-decoration: none;
  font-weight: 900;
}
.technology {
  background: #fff;
  text-align: center;
  padding: 41px 0 60px;
}
.technology-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 37px;
}
.technology-logo > * {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.4;
}
.main-desc-wrap {
  margin-bottom: 20px;
}
.main-desc-wrap p {
  color: #676b85;
}
.title-tech {
  font-weight: 700;
  color: #2f2f2f;
}