@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
  .n-server-top__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .n-server-top__title {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .microsoft .description {
    margin-top: 30px;
  }
  .description-title {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .microsoft .sidebar {
    display: none;
  }
  .microsoft-wrap .content {
    width: 100%;
    padding: 0 15px;
  }
  .microsoft-wrap {
    margin: 0 -15px;
  }
  .n-server-top__wrap {
    padding: 7px 15px;
  }
  .server {
    width: auto !important;
    margin: 0 -15px;
  }
}

@media screen and (max-width: 670px) {
  .microsoft .item_info_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .item_buttons.vam {
    margin-top: 20px;
  }
  .item_buttons_counter_block {
    margin-left: 0;
    margin-right: 20px;
  }
}

