.type-server .configuration,
.type-server .ready-made {
  width: 50%;
}

.pay-opinion .type-server {
  height: initial;
}

.banner_callback {
  background-image: url(/bitrix/images/pages/main/banner_callback-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  color: white;

  padding-top: 30px;
  padding-bottom: 100px;
}

.banner_callback--ttl {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.banner_callback--subttl {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.banner_callback--icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
  font-size: 20px;
}

.banner_callback--icon {
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

.banner_callback--icon:before {
  content: '';
  display: block;
  margin-right: 10px;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.banner_callback--icon.full_clock:before {
  background-image: url(/bitrix/images/pages/main/icons/full_clock.svg);
}
.banner_callback--icon.servers:before {
  background-image: url(/bitrix/images/pages/main/icons/servers.svg);
}
.banner_callback--icon.individ:before {
  background-image: url(/bitrix/images/pages/main/icons/individ.svg);
}

.cards .category-menu {
  margin-top: 0px;
  margin-bottom: 0;
}

.cards {
  margin-top: -80px;
  margin-bottom: 50px;
}

.main_calc .nav-tabs {
  margin: 1px;
}

.main_calc .tab-content {
  border: 1px solid #dde4e7;
}

.main_calc .summary__wrap {
  border-bottom: none;
}

.icon_mail {
  background-image: url(/local/templates/depohost/images/dedic/new/mail.svg);
}

.icon_data-center {
  background-image: url(/local/templates/depohost/images/dedic/new/data-center.svg);
}

.icon_calendar-and-clock {
  background-image: url(/local/templates/depohost/images/dedic/new/calendar-and-clock.svg);
}

.rent-block {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantage {
  padding-bottom: 40px;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.free-trial .subtitle {
  padding: 0;
}

.free-trial__form.dedic-form {
  padding: 0;
}

.free-trial__additional {
  margin-top: 10px;
  color: #787B7C;
}

.faq_section {
  background: #EDF4F8;
}

.faq_section--card {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 220px;
}
.faq_section--ttl {
  color: #00AEF7;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.faq_section--descrp {
  color: #4c4c4c;
  font-size: 16px;
}

.faq_section--descrp a {
  color: #00AEF7;
}

label {
  font-weight: normal;
}

.banner_callback--form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media(max-width: 1200px) {
  .banner_callback--form {
    flex-wrap: wrap;
    justify-content: center;
  }
  .banner_callback--input {
    margin-bottom: 10px;
  }

  .any-quest-form {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.any-quest-form textarea {
  margin-bottom: 20px;
}

.banner_callback--input {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.banner_callback--input input {
  font-size: 20px;
  padding: 13px;
  border-radius: 4px;
  border: none;
}

.banner_callback--button {
  margin-top: 29px;
  align-self: flex-end;
}

.banner_callback--button input[type=submit] {
  width: 100%;
  text-transform: initial;
  margin-bottom: 5px;
}

.banner_callback--button label {
  width: max-content;
  font-size: 13px;

}
.advantage-block .row {
  display: flex;
  flex-wrap: wrap;
}

@media(max-width: 768px) {
  .advantage-block {
    padding-top: 20px;
  }
  .rent-block__stage__item-wrap:after {
    content: none;
  }

  .btn-green {
    font-size: .9rem;
  }
}

.banner_callback--form .alert {
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 280px;
}
