.name {
  font-size: 30px;
  margin: 20px 0 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 15px;
}

.container-content * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.configuration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 22px;
  height: 80px;
  width: 80%;
  float: left;
  padding: 0 30px;
  background: url(/local/templates/depohost/components/bitrix/catalog/ssl/bitrix/catalog.element/.default/images/top-triangle.jpg)
    100% 50% no-repeat #00adf7;
  text-transform: uppercase;
  font-size: 20px;
}

.top > * {
  height: 100%;
}

.price-wrapper {
  float: left;
  width: 20%;
  background: #0077aa;
  padding: 15px 0 0 20px;
}

.price-wrapper .price {
  font-size: 36px;
  line-height: 0.75em;
  font-weight: 500;
}

.price {
  white-space: nowrap;
}
.price-wrapper .measure {
  font-size: 16px;
}

.top {
  height: 80px;
  color: #fff;
}

.bottom {
  padding: 0 30px;
  background: #effaff;
}

.bottom .preview-text {
  font-size: 16px;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.bottom .preview-text,
.bottom .order-side {
  padding: 30px 0;
}

.bottom .order-side .selectBox-dropdown,
.bottom .order-side .field input[type="text"] {
  border: 2px solid #ccc;
  border-radius: 4px;
}

.bottom .order-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.n-vds-dedic .bottom .order-side {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom .order-side .fields .field {
  width: 50%;
  float: left;
  padding: 0 15px 0 0;
}

.n-vds-dedic .bottom .field {
  width: 200px;
  margin-right: 20px;
}
.n-vds-dedic .selectBox-dropdown-menu {
  width: 200px !important;
}

.bottom .order-side > * * {
  line-height: 1.2em;
}

.bottom .order-side .field input[type="text"] {
  border-radius: 4px;
  height: 46px;
  padding: 0 10px;
  width: 100%;
}

.bottom .order-side .selectBox-dropdown,
.bottom .order-side .selectBox-label,
.bottom .order-side .selectBox-arrow,
.selectBox-dropdown-menu a,
.bottom .order-side .field input[type="text"] {
  font-size: 16px;
  line-height: 40px;
}

.bottom .order-side .selectBox-dropdown,
.bottom .order-side .field input[type="text"] {
  border: 2px solid #ccc;
  border-radius: 4px;
}
.n-vds-dedic .bottom .order-side .selectBox-dropdown,
.n-vds-dedic .bottom .order-side .field input[type="text"] {
  border: 2px solid #00adf7;
}

.bottom .order-side .fields .field {
  width: 50%;
  float: left;
  padding: 0 15px 0 0;
}

.selectBox-dropdown .selectBox-label {
  padding: 2px 16px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 100% !important;
}

.selectBox-dropdown .selectBox-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 47px;
  height: 100%;
}

.bottom .order-side .selectBox-arrow {
  background: url(/local/templates/depohost/components/bitrix/catalog/ssl/bitrix/catalog.element/.default/images/select-box-arrow.png)
    50% 50% no-repeat;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
  opacity: 0.5;
  filter: alpha(opacity=50);
  border-color: #666;
}

.bottom .order-side .sum-wrapper {
  margin: 0 30px;
}

.bottom .order-side .sum-wrapper #sum {
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
}

.bottom .order-side .sum-wrapper .measure-price {
  font-size: 14px;
  white-space: nowrap;
  font-weight: 500;
}

.bottom .order-side .btn-wrapper {
  width: 200px;
}
.bottom .order-side .btn-wrapper .btn-green {
  width: 100%;
}
.bottom .order-side .fields #years {
  width: 100%;
  padding: 30px 0 0;
}

.bottom .order-side .fields input[type="radio"] {
  display: none;
}

.bottom .order-side .fields input[type="radio"]:checked + label {
  background-position: 0 0;
}

.bottom .order-side .fields input[type="radio"] + label {
  line-height: 27px;
  height: 27px;
  font-size: 16px;
  display: inline-block;
  padding: 0 20px 0 35px;
  background: url(/local/templates/depohost/components/bitrix/catalog/ssl/bitrix/catalog.element/.default/images/radio-sprite.png)
    0 -27px no-repeat transparent;
}

.detail-text {
  padding: 60px 15px;
}

.detail-text .caption-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 30px;
}

.n-price-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.n-vds-dedic,
.ssl-detail {
  position: relative;
  background: #fff;
}

.n-vds-dedic:before,
.ssl-detail:before,
.n-vds-dedic:after,
.ssl-detail:after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 420px;
  height: 100%;
}

.n-vds-dedic:before,
.n-vds-dedic:after {
  background: url(/local/templates/depohost/components/bitrix/catalog.element/style-v2-dedic/images/dedic-bg.jpg)
    0 0 no-repeat #e2eff5;
}

.ssl-detail:before,
.ssl-detail:after {
  background: url(/local/templates/depohost/components/bitrix/catalog/ssl/bitrix/catalog.element/.default/images/ssl-bg.jpg)
    0 0 no-repeat #e2eff5;
}
.ssl-detail:before,
.n-vds-dedic:before {
  right: 100%;
}

.ssl-detail:after,
.n-vds-dedic:after {
  left: 100%;
  background-position: -420px 0;
}

.dedic-detail-wrap {
  padding-bottom: 30px;
}