.order {
  background: #12152b;
  padding: 10px 0 60px;
}
.order .order-select {
  border-bottom: 1px solid #252a47;
  padding: 0 0 40px;
  margin-bottom: 10px;
}
.order .h2 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 20px;
}
.order .order-ttl {
  color: #999;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin: 12px 0 5px;
}
.select-os {
  position: relative;
  height: 48px;
  width: 100% !important;
  z-index: 0;
  float: left;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background: #fff;
  border: 1px solid #e4e4e9;
  color: #565862;
  font-size: 12px;
  text-align: left;
}
.select-os .select-os-btn {
  width: 47px;
  height: 46px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.select-os span {
  display: block;
  position: relative;
  padding: 15px 0 14px 46px;
}
.select-os span img {
  position: absolute;
  left: 13px;
  top: 9px;
}
.select-os div {
  display: none;
  position: absolute;
  top: 47px;
  padding: 1px 0;
  left: -1px;
  background: #fff;
  border-left: 1px solid #e4e4e9;
  border-right: 1px solid #e4e4e9;
  border-bottom: 1px solid #e4e4e9;
  width: 100% !important;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
  -webkit-border-radius: 0 0 1px 1px;
  -moz-border-radius: 0 0 1px 1px;
  border-radius: 0 0 1px 1px;
}
.select-os div span:hover {
  background: #f6f6f6;
}
.order-bottom {
  border-top: 1px solid #252a47;
  padding: 20px 0 0;
  margin-top: 30px;
}
.order-price {
}
.order-price .order-price-num {
  float: left;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}
.order-price .order-price-num span {
  color: #00adf7;
  font-size: 32px;
  margin-left: 11px;
}
.order-price .order-price-val {
  float: left;
  color: #414664;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  white-space: nowrap;
  margin: 8px 0 0;
}
.order-price .order-price-val span {
  float: left;
  color: #424866;
  font-size: 32px;
  font-weight: 300;
  line-height: 26px;
  margin: 0 8px 0 0;
}
.order-bottom .btn-big {
  display: block;
  width: 100%;
}
.order-slide-ttl {
  color: #999;
  font-weight: 700;
  text-transform: uppercase;
  width: 80px;
  margin: 5px 0 0 0;
  text-align: right;
  padding-right: 5px;
}
.order-slide-content {
  position: relative;
}
.order-slide {
  color: rgba(86, 91, 120, 0.8) !important;
  background: currentColor !important;
  height: 6px;
  position: relative;
  z-index: 1;
  margin: 11px 0 0;
}
.order-slide:before,
.order-slide:after {
  position: absolute;
  top: 0;
  content: "";
  background: currentColor;
  width: 10px;
  height: 6px;
}
.order-slide:before {
  left: -10px;
  border-radius: 3px 0 0 3px;
}
.order-slide:after {
  right: -10px;
  border-radius: 0 3px 3px 0;
}
.order-slide.order-slide-step2 {
  background: url(./images/grath-slide2.png) no-repeat 0 0;
}
.order-slide-content .ui-slider-range,
.order-slide .order-slide-active {
  background: #00adf7;
  height: 6px;
  border-radius: 3px;
  margin: 0 -10px;
}
.order-slide-content .ui-slider-handle,
.order-slide .order-slide-cursor {
  position: absolute;
  left: 30px;
  top: -9px;
  width: 34px;
  height: 25px;
}
.slider-and-grath {
  position: relative;
  height: 70px;
  width: 100%;
  padding-left: 30px;
}
.slider-and-grath .order-slide-grath {
  width: 100%;
  position: relative;
  color: #565b78;
  font-size: 12px;
  z-index: 0;
  display: flex;
  margin-top: -16px;
}
.slider-and-grath .order-slide-grath div {
  height: 15px;
  padding: 35px 0 0 0;
  text-align: center;
  width: 50px;
  margin-left: -25px;
  white-space: nowrap;
  position: absolute;
}

.characteristics .characteristics-item {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  height: 55px;
}
.characteristics .characteristics-item input {
  background: transparent none repeat scroll 0 0;
  border: 0;
  width: 40px;
  font-size: 22px;
  color: #fff;
  text-align: right;
  padding-right: 5px;
}
.characteristics .characteristics-item.characteristics-col1 input,
.characteristics .characteristics-item.characteristics-col2 input {
  width: 20px;
}
.characteristics .characteristics-item.characteristics-col4 input {
  width: 38px;
}
.characteristics .characteristics-item.characteristics-col3 input {
  width: 55px;
}
.characteristics-item .img {
  display: none;
}
.characteristics .characteristics-item span {
  color: #565862;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin: 6px 0 0;
}
.characteristics .characteristics-item {
  border: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}
.characteristics-item__delimetr {
  display: block;
  flex-grow: 2;
  height: 20px;
  border-bottom: 1px solid #565862;
  margin: 0 10px;
}

.order-price-num input.catalog-price {
  background: 0;
  border: 0;
  width: 92px;
  color: #00adf7;
  font-size: 32px;
  margin: 0 0 0 11px;
  font-weight: 500;
}
.btn-big {
  display: inline-block;
  background: #fff;
  box-shadow: 0 2px 0 rgba(35, 31, 32, 0.25);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #00adf7;
  border-radius: 4px;
  padding: 13px 24px 12px;
  border: 0;
}
div.catalog-top table td {
  padding-right: 10px;
  padding-top: 10px;
}
.white {
  color: white;
  margin: 20px 0 20px;
}
.test_period {
  padding: 30px 0;
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
  float: right;
}
.test_period input[type="checkbox"] {
  margin-right: 5px;
}
.test_period label {
  white-space: normal;
  margin: 0;
}
.property {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  padding-right: 60px;
}
.selectOs .selectBox-label {
  padding: 0 15px 0 55px !important;
  background: #fff 15px 50% no-repeat;
}
.selectOs-selectBox-dropdown-menu.selectBox-options a {
  padding: 15px 0 14px 55px !important;
  background: 15px 50% no-repeat !important;
}
.property-mobile {
  position: relative;
  margin-bottom: 20px;
}
.property-mobile .property-mobile__label {
  position: absolute;
  top: 8px;
  left: 16px;
  z-index: 10;
  font-weight: 400;
  color: #565862;
}
.property-mobile .selectBox-dropdown .selectBox-label {
  padding-top: 10px;
  font-weight: 700;
  color: #000;
  height: 45px;
}
.property-mobile .selectBox-dropdown .selectBox-arrow {
  border-left: 1px solid #e4e4e9;
}
.characteristics {
  padding-bottom: 75px;
}
.order_total {
  border-top: 1px solid #252a47;
  padding: 30px 0;
}
.order_total .row{
  width: 100%;
}

.order .h2 {
  margin-top: 30px;
}
@media all and (min-width: 1200px) {
  .order-bottom .h2 {
    font-size: 22px;
  }
  .order_total {
    display: flex;
    align-items: flex-end;
  }
  .order_total .test_period {
    padding-top: 0;
  }
}
@media all and (min-width: 768px) {
  .order .order-select {
    padding: 0 80px 10px;
  }
  .order_total .test_period {
    margin-bottom: 15px;
    padding-right: 0;
    padding-top: 50px;
  }
  .order-bottom .btn-big {
    cursor: pointer;
    float: right;
    margin: 1px 0 0;
    width: auto;
  }
  .test_period {
    padding: 5px 30px;
    text-align: right;
    align-items: center;
  }
  .order-bottom {
    padding-left: 0;
    padding-right: 0;
  }
  .characteristics .characteristics-item {
    padding-top: 50px;
    height: 105px;
    display: block;
  }
  .characteristics-item .img {
    display: block;
    float: left;
    margin: 0 10px 0 0;
  }
  .characteristics .characteristics-item span {
    display: block;
  }
  .characteristics-item__delimetr {
    display: none;
  }
  .characteristics .characteristics-item input {
    text-align: left;
    font-size: 32px;
  }
}
