@font-face {
  font-family: "idealist_sanslight";
  src: url("../../fonts/idealist_sans_light.eot");
  src: url("../../fonts/idealist_sans_light.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/idealist_sans_light.woff2") format("woff2"),
    url("../../fonts/idealist_sans_light.woff") format("woff"),
    url("../../fonts/idealist_sans_light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "idealist_sansregular";
  src: url("../../fonts/idealist_sans.eot");
  src: url("../../fonts/idealist_sans.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/idealist_sans.woff2") format("woff2"),
    url("../../fonts/idealist_sans.woff") format("woff"),
    url("../../fonts/idealist_sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-idealist {
  font-family: "idealist_sansregular";
}

/* font-family: "MyriadProRegular"; */
@font-face {
  font-family: "MyriadProRegular";
  src: url("../../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
  font-family: "MyriadProBold";
  src: url("../../fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../../fonts/MyriadProBold/MyriadProBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
  font-family: "MyriadProItalic";
  src: url("../../fonts/MyriadProItalic/MyriadProItalic.eot");
  src: url("../../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("../../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf")
      format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("../../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
  src: url("../../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff")
      format("woff"),
    url("../../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf")
      format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url("../../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
  src: url("../../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff")
      format("woff"),
    url("../../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf")
      format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  position: relative;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
  font-weight: 400;
}
.h5 {
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 0 10px;
  color: #00aef7;
  line-height: 16px;
  font-weight: 400;
}
.icon {
  display: inline-block;
}
.server-opis {
  background: url(/local/templates/depohost/css/../images/content-bg.png)
    no-repeat scroll 70% top rgba(0, 0, 0, 0);
  background-color: #fff;
  padding: 0 0 30px;
}
.server-container {
  font-family: "idealist_sansregular";
  font-weight: 400;
}
.server-tabs,
.server-content {
  font-family: "Roboto", ​Arial, ​Helvetica, ​sans-serif;
}
.server-tabs {
  font-size: 14px;
}
.server-content {
  font-size: 14px;
  line-height: 22px;
}
hr {
  color: #000;
  margin: 7px 0 !important;
  border: 1px solid #8b8e9d !important;
}
#page-dedic {
  font-family: "MyriadProRegular", "Roboto", ​Arial, ​Helvetica, ​sans-serif;
  position: relative;
  background: #fff;
}

.server-container section {
  margin: 30px 30px 0;
}
.server-container #opportunities {
  margin: 30px 18px 0;
}
.dedicated_server_page .bg-left,
dedicated_server_page. .bg-right {
  position: absolute;
  top: 42.5px;
  width: 100%;
  height: 100%;
}
.dedicated_server_page .bg-left {
  background-image: url("../../images/vds-l.jpg");
}
.dedicated_server_page .bg-right {
  background-image:  url("../../images/vds-r.jpg") !important;
}
.underline-title {
  border-bottom: 1px solid #e6e6e6;
}
.type-server {
  height: 0px;
  z-index: 500;
  width: 1139px;
}
.type-server.affix {
  position: fixed;
  top: 0;
}
.type-server .icon {
  display: inline-block;
  top: 18px;
  position: relative;
}
.configuration .icon-configuration {
  width: 43px;
  height: 32px;
  margin-right: 5px;
  top: 0;
}
.ready-made .icon-ready-made {
  width: 43px;
  height: 32px;
  margin-right: 5px;
  top: 0;
}
.opportunities .icon-opportunities {
  width: 43px;
  height: 32px;
  margin-right: 5px;
  top: 0;
}
.type-server li {
  display: block;
  line-height: 83px;
  color: #fff;
  float: left;
  font-size: 18px;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  text-align: center;
  /* cursor: pointer; */
  border-right: 1px solid #dce5e9;
  border-bottom: 1px solid #dce5e9;
  /* border-left: 1px solid #0e77c7; */
  /* background: linear-gradient(to bottom, #f1f7fa 0, #e8f0f4 100%); */

  background: rgba(241, 247, 250, 1);
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(241, 247, 250, 1)),
    to(rgba(232, 240, 244, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(241, 247, 250, 1) 0%,
    rgba(232, 240, 244, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(241, 247, 250, 1) 0%,
    rgba(232, 240, 244, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(241, 247, 250, 1) 0%,
    rgba(232, 240, 244, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f7fa', endColorstr='#e8f0f4', GradientType=0 );

  padding: 0;
  height: 80px;
}
.type-server li:first-of-type {
  border-left: 0;
}
.type-server li:last-of-type {
  border-right: 0;
}
.type-server li.active {
  background: #fff;
  border-bottom: 1px solid #dce5e9;
}
/* div.type-server li.active:after {
    display: block;
    content: " ";
    background: url('../../images/arrow-down.png') 50% 50% no-repeat;
    height: 25px;
    margin-top: -25px
} */
.type-server .configuration {
  width: 33.3%;
}
.type-server .ready-made {
  width: 33.4%;
}
.type-server .opportunities {
  width: 33.3%;
}
.type-server li a {
  border: 0;
  color: #787b7c;
  text-decoration: none;
  /*line-height: 40px;*/
  line-height: normal;
  text-align: left;
  height: 78px;
  outline: medium none !important;
  display: block;
  width: 100%;
  padding: 5px 15px;
}
.type-server li.active a {
  border: 0;
  color: #000;
}
.type-server li.active a:hover,
.type-server li.active a:focus {
  border: 0;
}
.tab-content {
  padding-top: 20px;
}
.left-block {
  width: 50%;
  float: left;
  text-transform: uppercase;
}
.left-block .presentation-block > * {
  padding-left: 17px;
  padding-right: 17px;
}
/* .left-block .presentation-block, */
.right-side {
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.type-server-header {
  border-top: 5px solid #00adf7;
  background: #effaff;
  font-size: 22px;
  color: #00adf7;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
}
.hint-block {
  position: relative;
  display: inline-block;
  padding: 5px;
  cursor: help;
  margin-bottom: -11px;
  z-index: 100;
}
.hint-block:before {
  content: " ";
  display: block;
  width: 21px;
  height: 21px;
}
.hint-block.icon-white {
  margin-bottom: -7px;
}
.hint-block .hint-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 11px;
  height: 11px;
  color: #53a4d9;
  content: " ";
  display: block;
  cursor: pointer;
}
.hint-block .hint-text {
  max-width: 100vw;
  display: block;
  visibility: hidden;
  position: absolute;
  width: 350px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e5e5e5;
  bottom: 25px;
  left: -169px;
  color: #808285;
  font-size: 12px;
  line-height: 14px;
  padding: 25px 30px;
  text-transform: none;
  -webkit-box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.3);
}
.hint-block .hint-corner {
  display: block;
  visibility: hidden;
  background: url("../../images/corner-hint.png") 0 0 no-repeat;
  width: 350px;
  height: 13px;
  position: absolute;
  bottom: 13px;
  left: 6px;
}
.hint-block:hover {
  background-position: 0 -10px;
}
.blue-block {
  background: #effaff;
  margin-top: 30px;
}

.blue-block {
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 10px 20px;
}
.server-img {
  position: relative;
  width: 248px;
  height: 50px;
  margin: 0 auto 10px;
  overflow: hidden;
}
.server-img:after {
  position: absolute;
  bottom: 0;
  display: block;
  content: " ";
  width: 248px;
  background: url("../../images/sprite-type-server.png") 0 0 no-repeat;
  background-size: 100%;
}
.server-img.type2u:after {
  height: 50px;
  background-position: 0 0;
}
.server-img.type1u:after {
  height: 50px;
  background-position: 0 -55px;
}
#map-hdd,
#map-hdd-mobile {
  position: relative;
}
#map-hdd-mobile div {
  position: absolute;
  width: 8px;
  height: 3px;
  z-index: 100;
}
.type2u #map-hdd-mobile {
  top: 26px;
  left: 56px;
}
.type1u #map-hdd-mobile {
  top: 18px;
  left: 56px;
}
#map-hdd-mobile div:nth-child(4n + 2) {
  left: 55px;
}
#map-hdd-mobile div:nth-child(4n + 3) {
  left: 110px;
}
#map-hdd-mobile div:nth-child(4n + 4) {
  left: 165px;
}
#map-hdd-mobile div:nth-child(n + 5) {
  top: 14px;
}
#map-hdd-mobile .active {
  width: 9px;
  height: 5px;
  background-size: 100%;
}
#map-hdd .deactive,
#map-hdd-mobile .deactive {
  background: #808285;
}
.parameters-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
}
.parameters-block .parameter-block {
  /* height: 105px; */
  /* margin-bottom: 20px; */

  padding: 75px 5px 25px 10px;
  position: relative;
  line-height: 14px;
  word-break: break-all;
}
.parameters-block .parameter-block:nth-child(2n + 3) {
  position: relative;
}
.parameters-block .parameter-block:nth-child(2n + 3):after {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  right: -100%;
  top: 0;
  width: auto;
  background: #cad7dc !important;
}
.parameters-block .parameter-block .caption {
  font-size: 14px;
  color: #98acb4;
  text-transform: capitalize;
  display: block;
}
.parameters-block .parameter-block .parameter-value {
  font-size: 14px;
  color: #000;
  left: 15px;
  /* width: 105px; */
  display: inline-block;
  font-weight: 600;
  margin-top: 9px;
}
.summary-block {
  width: 600px;
  height: 125px;
  margin-top: 36px;
  float: left;
  margin-bottom: 20px;
  margin-left: 50px;
}
.summary-block .server-parameters {
  color: #4c4c4c;
  padding: 20px 17px;
  /* background: #4d4d4d; */
  float: left;
  width: 430px;
  height: 100%;
}
.summary-block .server-parameters .caption {
  font-size: 16px;
  line-height: 16px;
  padding: 0 0 10px 0;
}
.summary-block .server-parameters .caption.underline-title {
  border-bottom: 1px solid #fff;
  font-size: 20px;
}
.summary-block .server-parameters .descr {
  font-size: 14px;
  line-height: 22px;
  text-transform: none;
  padding: 5px 0 0 0;
  overflow: hidden;
}
.summary-block .summ {
  float: right;
  width: 150px;
  /* border: 1px solid #e6e6e6; */
  padding: 40px 17px;
  height: 100%;
  /* background: #eef8ff */
}
.summary-block .summ .caption {
  color: #898989;
  font-size: 10px;
}
.summary-block .summ .price {
  color: #00adf7;
  font-size: 30px;
  line-height: 1;
}
.summary-block .summ .price_month {
  text-align: right;
  width: 98px;
  line-height: 1;
}
.right-block {
  float: right;
  width: 50%;
  text-transform: uppercase;
  padding-top: 20px;
}
.calc-block {
  /* margin-top: 15px */
}
.ui-slider-horizontal .ui-slider-range-min {
  background-color: #8dc95e !important;
}
.radio-group table {
  width: 100%;
}
.radio-group td {
  border-collapse: collapse;
  border: 1px solid #808285;
  border-bottom: 0;
  vertical-align: middle;
  cursor: pointer;
}
.radio-group .option {
  background: #f1f2f2;
  color: #000;
  font-size: 12px;
  height: 45px;
  line-height: 12px;
  padding: 5px 20px 5px 0;
  border-left: 0;
}
.radio-group .option .descr {
  font-size: 11px;
  color: #898989;
}
.radio-group .circle {
  border-right: 0;
  background: #f1f2f2;
  padding: 0 10px 0 20px;
  width: 52px;
}
.radio-group .circle:before {
  display: block;
  background: url("../../images/sprite-radio-button.png") 0 0 no-repeat;
  width: 21px;
  height: 21px;
  content: " ";
}
.radio-group .circle.checked:before {
  background-position: 0 -21px;
}
.radio-group .option.checked,
.radio-group .circle.checked {
  background: #1a5786;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhNTc4NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjQ2N2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1a5786), to(#02467a));
  background: -webkit-linear-gradient(top, #1a5786 0, #02467a 100%);
  background: -o-linear-gradient(top, #1a5786 0, #02467a 100%);
  background: linear-gradient(to bottom, #1a5786 0, #02467a 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1a5786', endColorstr='#02467a', GradientType=0);
  color: #fff;
}
.radio-group .option.checked .descr {
  color: #fff;
}
.radio-group .half .option {
  width: 50%;
}
.radio-group table:last-child td {
  border-bottom: 1px solid #808285;
}
.ram-view {
  font-size: 16px;
  font-weight: 700;
  text-transform: none;
  display: none;
}
.slider-wrapper {
  height: 60px;
}
.slide {
  height: 6px;
  position: relative;
  cursor: pointer;
  margin-bottom: -25px;
  padding-bottom: 31px;
  width: 100%;
  z-index: 7;
}
.slide .ui-slider-handle {
  height: 40px;
  margin-left: -8px !important;
  position: absolute;
  top: -2px;
  width: 22px;
}
.slide .ui-slider-handle:focus {
  outline: none;
}
.slide.ui-widget-content {
  background: transparent;
}
.slide-grath {
  width: 100%;
  height: 5px;
  position: relative;
  top: 0;
}
/* .ui-slider .ui-slider-range{background-color:#8dc95e !important;height: 10px;} */
.slide-grath:before {
  display: block;
  content: " ";
  background: #d7d7d7;
  height: 6px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  top: 17px;
}
.slide-grath div {
  float: left;
  height: 15px;
  margin-top: 6px;
  padding: 35px 0 0;
  text-align: center;
  position: relative;
}
.select-checkbox-group .input-block {
  /* width: 120px;
    height: 60px;
    border: 1px solid #d1d3d4;
    background: #f1f2f2;
    float: left;
    margin-right: 3px;
    padding: 0 4px; */
  margin-bottom: 10px;
  float: left;
}

/* .select-checkbox-group .input-block:nth-child(4n+4) {
    margin-right: 0
} */
.select-checkbox-group .input-block label {
  margin: 3px 0 5px 0;
  color: #898989;
}
.select-checkbox-group .input-block label.checked {
  color: #000;
}
#configuration .order-block {
  margin-top: 0px;
}
.order-block .terms-block {
  height: 195px;
  background: #eaeff1;
  padding: 30px 20px 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.term-block {
  color: #b8c9d0;
  width: 230px;
  height: 132px;
  border: 1px solid #b8c9d0;
  line-height: 14px;
  float: left;
  margin-right: 34px;
  cursor: pointer;
  text-transform: lowercase;
}
.term-block:last-child {
  margin-right: 0 !important;
}
.term-block > * {
  padding: 12px 15px 2px 20px;
}
.term-block .top {
  height: 80px;
  background: #fff;
}
.term-block .top .term {
  font-size: 14px;
}
.term-block .top .price {
  font-size: 24px;
  text-transform: uppercase;
  padding: 7px 0;
  font-weight: bold;
}
.term-block .top .discount {
  font-size: 14px;
  color: #b8c9d0;
}
.term-block .bottom {
  height: 54px;
  font-size: 13px;
  padding-top: 13px;
  position: relative;
  background-color: #b8c9d0;
  color: #fff;
}
.term-block .bottom:after {
  display: block;
  content: " ";
  width: 15px;
  position: absolute;
  top: 50%;
  height: 13px;
  margin-top: -7px;
  bottom: 0;
  right: 15px;
}
.term-block .bottom .price {
  font-size: 18px;
  font-weight: bold;
}
.term-block.active {
  border: 1px solid #00adf7;
  position: relative;
}
.term-block.active:after {
  position: absolute;
  content: " ";
  display: block;
  /* bottom: -28px; */
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 13px solid #eaeff1;
  border-right: 13px solid #eaeff1;
  border-top: 10px solid #00adf7;
}
.term-block.active .top {
  color: #000;
}
.term-block.active .top .term {
  font-weight: bold;
}
.term-block.active .top .price {
  color: #00adf7;
}
.term-block.active .bottom {
  /* background-position: -15px 50%; */
  background: #00adf7;
  /*  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhNTY4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjQ1NzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
     background: -moz-linear-gradient(top, #1a5685 0, #024578 100%);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a5685), color-stop(100%, #024578));
     background: -webkit-linear-gradient(top, #1a5685 0, #024578 100%);
     background: -o-linear-gradient(top, #1a5685 0, #024578 100%);
     background: -ms-linear-gradient(top, #1a5685 0, #024578 100%);
     background: linear-gradient(to bottom, #1a5685 0, #024578 100%);
     filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1a5685', endColorstr='#024578', GradientType=0); */
  color: #fff;
}

.order-block .buy-block {
  width: 255px;
  height: 125px;
  float: left;
  /* background: #d9d9d9; */
  padding: 50px 40px 0;
  margin-top: 30px;
}
.btn-green {
  border: 0;
  display: inline-block;
  line-height: 50px;
  height: 50px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 0 0 #60b74e !important;
          box-shadow: 0 3px 0 0 #60b74e !important;
  padding-left: 20px;
  padding-right: 10px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  background: #7ece52 !important;
  /* background: -moz-linear-gradient(270deg, #88c757 0, #94cd68 100%);
    background: -webkit-linear-gradient(270deg, #88c757 0, #94cd68 100%);
    background: -o-linear-gradient(270deg, #88c757 0, #94cd68 100%);
    background: -ms-linear-gradient(270deg, #88c757 0, #94cd68 100%);
    background: linear-gradient(180deg, #88c757 0, #94cd68 100%); */
  width: 208px;
  text-align: center;
}
.order-block .buy-block .btn-green {
  width: 209px;
  padding: 0;
}
.order.buy-block .btn-green {
  width: auto;
  padding: 0 15px;
}
.buy-block .btn-green:after {
  background: none;
  content: none;
}
/* .btn-green:after {
    display: block;
    content: " ";
    margin-left: 30px;
    width: 24px;
    height: 50px;
    background: url('../../images/arrow-button.png') 0 center no-repeat;
    float: right
} */
.order-block.small .terms-block {
  width: 100%;
  height: 115px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 10px 15px;
}
.order-block.small .term-block {
  width: 97px;
  margin-right: 10px;
}
.order-block.small .term-block > * {
  padding: 3px 7px 2px 10px;
}
.order-block.small .term-block.active:after {
  bottom: -13px;
}
.order-block.small .term-block .top .term {
  font-size: 11px;
}
.order-block.small .term-block .top .price {
  font-size: 15px;
}
.order-block.small .term-block .top .discount {
  font-size: 8px;
}
.order-block.small .term-block .bottom {
  font-size: 9px;
}
.order-block.small .term-block .bottom .price {
  font-size: 13px;
}
.order-block.small .buy-block {
  background: #fff;
  height: 65px;
  text-align: right;
  width: 100%;
  padding: 10px 15px;
}
.order-block.small .buy-block > * {
  float: right;
}
.order-block.small .buy-block .descr-wrapper {
  line-height: 40px;
}
.order-block.small .buy-block .descr {
  display: inline;
  color: #808285;
  font-size: 12px;
  line-height: 14px;
  text-transform: none;
  margin-right: 20px;
}
.btn-green.sm {
  line-height: 40px;
  height: 40px;
}
.btn-green.sm:after {
  height: 40px;
}
#ready-made {
  text-transform: uppercase;
}
#ready-made .head {
  background: 0;
}
#ready-made .head h2 {
  font-size: 30px;
  float: left;
  line-height: 75px;
  font-weight: 400;
}
#ready-made h3 {
  font-size: 14px;
  margin: 0 0 20px 0;
}
#ready-made .head .descr-wrapper {
  font-size: 13px;
  height: 75px;
  padding: 20px;
  border: 2px solid #0d4d7e;
  background: #fff;
  float: left;
  margin-left: 20px;
  max-width: 450px;
  overflow: hidden;
}
#ready-made .head .descr {
  float: left;
  max-width: 350px;
}
#ready-made .head .descr strong {
  color: #00aef7;
  text-decoration: underline;
  font-weight: 400;
}
.icon-info {
  float: left;
  display: inline-block;
  background: url("../../images/icon-info.png") 0 50% no-repeat;
  width: 24px;
  height: 100%;
  margin-right: 10px;
}
#ready-made .blue-block {
  border: 1px solid #dbdbdb;
  padding: 30px;
}
.group-checkbox-stylish .checkbox {
  position: relative;
  display: block;
  float: left;
  background: url("../../images/sprite-check-image.png") 0 0 no-repeat;
  margin-right: 30px;
  cursor: pointer;
  -ms-filter: "alpha(opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.group-checkbox-stylish .active.checkbox {
  -ms-filter: "alpha(opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.group-checkbox-stylish .sale {
  width: 223px;
  height: 70px;
  background-position: 0 0;
}
.group-checkbox-stylish .budget {
  width: 193px;
  height: 70px;
  background-position: 0 -70px;
}
.group-checkbox-stylish .professional {
  width: 237px;
  height: 70px;
  background-position: 0 -140px;
  margin-top: -1px;
}
.group-checkbox-stylish .checkbox:before {
  position: absolute;
  content: " ";
  display: block;
  width: 28px;
  height: 29px;
  background: url("../../images/sprite-icon-check.png") 0 0 no-repeat;
  left: -7px;
  top: 2px;
}
.group-checkbox-stylish .active.checkbox:before {
  background-position: -28px 0;
}
.group-inputs {
  margin-bottom: 25px;
}
.group-inputs > * {
  margin-top: 45px;
}
.group-inputs .caption {
  float: left;
}
.slide-block {
  float: left;
  font-size: 13px;
}
.slide-block > * {
  float: left;
}
.slide-block .caption {
  color: #000;
}
.slide-block .capture {
  color: #808285;
  text-transform: none;
}
.slide-sm {
  background: #898989;
  width: 100%;
  height: 5px;
  position: relative;
  margin: 7px 25px 0 20px;
}
.slide-sm .ui-slider-range {
  background: #53a4d9;
  height: 5px;
  position: absolute;
}
.slide-sm .ui-slider-handle {
  display: inline-block;
  width: 28px;
  height: 29px;
  background: url("../../images/sprite-icon-check.png") 0 0 no-repeat;
  position: absolute;
  margin-top: -9px;
  margin-left: -10px;
}
.slide-block.cpu-slide {
  width: 260px;
}
.slide-block.cpu-slide .slide-sm {
  width: 100px;
}
.slide-block.ram-slide {
  width: 280px;
}
.slide-block.ram-slide .slide-sm {
  width: 120px;
}
.slide-block.price-slide {
  width: 470px;
}
.slide-block.price-slide .slide-sm {
  width: 280px;
}
.checkbox-filter {
  float: left;
  margin-left: 20px;
  cursor: pointer;
}
.checkbox-filter * {
  cursor: pointer;
}
.checkbox-filter label:before {
  margin-top: 2px;
  margin-right: 5px;
  display: block;
  content: " ";
  width: 16px;
  height: 16px;
  background: url("../../images/sprite-filter-check.png") 0 50% no-repeat;
  float: left;
}
.checkbox-filter.checked label:before {
  background-position: -16px 50%;
}
#filter .refresh {
  background: url("../../images/icon-refresh.png") 0 50% no-repeat;
  line-height: 14px;
  height: 14px;
  color: #00aef7;
  border: 0;
  padding: 0 0 0 20px;
  float: right;
  margin-right: 20px;
}
#filter .btn-blue {
  float: right;
  margin-top: 30px;
  display: inline-block;
  line-height: 40px;
  height: 40px;
  -webkit-box-shadow: 0 3px 0 0 rgba(1, 68, 120, 1);
          box-shadow: 0 3px 0 0 rgba(1, 68, 120, 1);
  padding-left: 35px;
  padding-right: 35px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  background: #88c757;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0e69ae), to(#0261aa));
  background: -webkit-linear-gradient(top, #0e69ae 0, #0261aa 100%);
  background: -o-linear-gradient(top, #0e69ae 0, #0261aa 100%);
  background: linear-gradient(180deg, #0e69ae 0, #0261aa 100%);
}
#servers-list .section h2 {
  color: #000;
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 30px;
  font-weight: 400;
}
.section-wrapper {
  margin: 0 -20px;
}
.section-wrapper .server-info {
  border: 1px solid #ccc;
  width: 450px;
  margin: 0 20px 20px;
  float: left;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
}
.section-wrapper .server-info > .caption {
  font-size: 14px;
  color: #000;
  line-height: 40px;
  height: 40px;
  background: #53a4d9;
  padding: 0 15px;
}
.section-wrapper .server-info .main-parameters .parameter-block {
  margin: 10px 15px;
  border-right: 1px solid #ccc;
  width: 124px;
  float: left;
}
.section-wrapper .server-info .main-parameters .parameter-block:last-child {
  margin-right: 0;
  border-right: 0;
}
.section-wrapper .server-info .main-parameters .parameter-block .caption {
  float: left;
  font-size: 12px;
  color: #00aef7;
  height: 35px;
}
.section-wrapper
  .server-info
  .main-parameters
  .parameter-block
  .caption:before {
  content: " ";
  display: block;
  background: url("../../images/sprite-params-icons.png") 0 0 no-repeat;
  float: left;
  margin-right: 10px;
}
.section-wrapper .server-info .main-parameters .parameter-block.cpu .caption {
  line-height: 23px;
}
.section-wrapper
  .server-info
  .main-parameters
  .parameter-block.cpu
  .caption:before {
  width: 23px;
  height: 23px;
  background-position: 0 -13px;
}
.section-wrapper .server-info .main-parameters .parameter-block.ram .caption {
  line-height: 13px;
}
.section-wrapper
  .server-info
  .main-parameters
  .parameter-block.ram
  .caption:before {
  width: 43px;
  height: 13px;
  background-position: 0 0;
}
.section-wrapper .server-info .main-parameters .parameter-block.hdd .caption {
  line-height: 25px;
}
.section-wrapper
  .server-info
  .main-parameters
  .parameter-block.hdd
  .caption:before {
  width: 20px;
  height: 25px;
  background-position: 0 -56px;
}
.section-wrapper .server-info .main-parameters .parameter-block .descr {
  clear: both;
  font-size: 11px;
  color: #000;
}
.section-wrapper .server-info .advance-param {
  padding: 10px 15px;
  border-top: 1px solid #ccc;
}
.section-wrapper .server-info .advance-param .caption {
  font-size: 12px;
  color: #00aef7;
}
.section-wrapper .server-info .advance-param .descr {
  font-size: 11px;
  color: #000;
  text-transform: none;
}
.opportunities .list-items {
  /*margin: 0 25px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.opportunities .item-block {
  width: 48%;
  height: 277px;
  margin: 12px 0px;
  color: #fff;
  padding: 135px 20px 20px 30px;
  float: left;
  background-size: cover !important;
}
.opportunities .item-block .name {
  font-size: 24px;
  margin-bottom: 25px;
}
.opportunities .item-block .descr {
  font-size: 14px;
  color: #8b8e93;
}
.opportunities #unlimit-trafic {
  background: url("../../images/opport-bg-1.jpg") 0 0 no-repeat #0161aa;

  /*background-position: 0 0;*/
}
.opportunities #professional-admin {
  background: url("../../images/opport-bg-2.jpg") 0 0 no-repeat #0161aa;

  /*background-position: -471px 0;*/
}
.opportunities #cool-panels {
  background: url("../../images/opport-bg-3.jpg") 0 0 no-repeat #0161aa;

  /*background-position: -942px 0;*/
}
.opportunities #dedic-in-5min {
  background: url("../../images/opport-bg-4.jpg") 0 0 no-repeat #0161aa;

  /*background-position: -1413px 0;*/
}
.center .seo-txt {
  padding: 25px 91px;
  /* font-family: 'Roboto', sans-serif; */
  font-family: "MyriadProRegular", "Roboto", ​Arial, ​Helvetica, ​sans-serif;
  font-size: 16px;
  line-height: 28px !important;
  color: #565862;
}
.center .seo-txt p {
  line-height: 28px !important;
  margin-left: -15px;
}

.server-container .head-block {
  padding: 25px 50px;
  background: #00adf7;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.services-wrapper {
  padding: 30px 50px;
}
.services-list {
  width: 680px;
  float: left;
}
.services-list .item-block {
  background: #f1f2f2;
  border: 1px solid #e4e4e9;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
}
.services-list .item-block .item-name {
  font-size: 20px;
  margin-bottom: 15px;
  color: #000;
}
.services-list .item-block .price {
  color: #565862;
  font-size: 18px;
  padding-left: 30px;
  border-left: 1px solid #e4e4e9;
  line-height: 38px;
  float: right;
  text-transform: uppercase;
}
.services-list .item-block .hint-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}
.select.xl .selectBox-dropdown,
.selectBox-options li a {
  height: 38px !important;
}
.select.xl .selectBox-dropdown .selectBox-label,
.selectBox-options li a {
  font-size: 14px !important;
  padding: 3px 0 0 2px !important;
}
.select.xl .selectBox-dropdown {
  width: 465px !important;
  height: 38px !important;
  line-height: 30px !important;
}
.select.xl .selectBox-dropdown,
.selectBox-options li a {
  font-size: 14px !important;
  line-height: 30px !important;
  height: 38px !important;
  color: #000 !important;
  padding: 0 5px !important;
}
.select.xl .selectBox-dropdown .selectBox-arrow {
  height: 36px !important;
  width: 37px !important;
  background: url("../../images/triangle-sm.png") 50% 50% no-repeat #fff !important;
  border-left: 1px solid #e4e4e9 !important;
}

.right-side {
  width: 222px;
  float: right;
}
.right-side .item-name {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  padding: 20px 10px 20px 15px;
  background: #1a5785;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhNTc4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMzQ1NzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1a5785), to(#034579));
  background: -webkit-linear-gradient(top, #1a5785 0, #034579 100%);
  background: -o-linear-gradient(top, #1a5785 0, #034579 100%);
  background: linear-gradient(to bottom, #1a5785 0, #034579 100%);
}
.right-side .item-params {
  color: #fff;
  padding: 20px 10px 20px 15px;
  background: #4d4d4d;
}
.right-side .item-params .caption {
  font-size: 16px;
  line-height: 16px;
  padding: 0 0 10px 0;
  text-transform: uppercase;
}
.right-side .item-params .caption.underline-title {
  border-bottom: 1px solid #fff;
}
.right-side .item-params .descr {
  font-size: 12px;
  line-height: 12px;
  padding: 5px 0 0 0;
  overflow: hidden;
}
.right-side .item-services-list {
  background: #eef8ff;
  color: #000;
  font-size: 14px;
  padding: 20px 10px 20px 15px;
}
.right-side .item-services-list .caption {
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}
.right-side .item-services-list .items-list {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin: 0;
}
.right-side .item-services-list .items-list li {
  display: block;
  list-style: none;
  margin-bottom: 15px;
  padding: 0;
  background: 0;
  line-height: 16px;
}
.right-side .item-services-list .items-list li .item-service-value {
  color: #898989;
  font-size: 12px;
}
.right-side .item-services-list .price-block {
  margin: 15px 0 30px;
}
.right-side .item-services-list .price-block .price-value {
  color: #014478;
  font-size: 30px;
  text-transform: uppercase;
}
.right-side .item-services-list .price-block .descr {
  color: #898989;
  font-size: 12px;
}

.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
  padding: 90px 27px 20px 27px;
}

.disk_numb {
  display: block;
  font-size: 10px;
  margin-top: 3px;
  margin-left: 2px;
  line-height: 0.3;
  color: #999;
}

.n-nav-tabs__link {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seo-txt h2 {
  font-weight: bold;
  margin-left: -15px;
}

.n-seo-text__list {
}

.n-seo-text__item {
  color: #00adf7;
}

.n-seo-text__item span {
  color: #565861;
}

.n-seo-txt__wrap {
  margin-bottom: 52px;
}
.n-rent-dedic__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.n-rent-dedic__item {
  width: 47%;
}

.summary__wrap {
  border-bottom: 1px solid #dde4e7;
  overflow: hidden;
  margin: 0 15px;
}

.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.panel-group {
  overflow: hidden;
}