@media screen and (max-width: 767px) {
  .news-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .news-item__img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .news-item__img {
    max-width: 290px;
    height: 143px;
    margin-bottom: 15px;
  }
  .news-detail-title {
    font-size: 22px;
  }
}

@media all and (min-width: 768px){
  .news_search{
    width: 30%;
  }
}
.news-detail ul {padding: 0px 0px 15px 30px;}