.table_cell input {
  height: 46px;
  width: 100%;
  padding: 10px;
  border-radius: 1px;
  border: 1px solid #e4e4e9;
}
.hosting-select.domain {
  width: 100% !important;
  min-width: 100% !important;
}
.domain-name {
  font-size: 18px;
}
.bg-left{
  background-image: url(/local/templates/depohost/images/domain-l.jpg);
}
.bg-right{
  background-image: url(/local/templates/depohost/images/domain-r.jpg);
}
.domain__wrapper{
  background: #fff;
}

@media all and (min-width: 768px) {
  .hosting-select.domain {
    font-size: 14px !important;
    width: 105px !important;
    min-width: 105px !important;
  }
  .domain__wrapper{
    margin-top: -30px;
  }
}
