@import "compass/utilities/sprites";
$main-page-layout:smart;
@import "main-page/*.png";

.logo-centos{
  @include main-page-sprite(logo-centos);
  width: 141px;
  height: 43px;
}
.logo-debian{
  @include main-page-sprite(logo-debian);
  width: 107px;
  height: 36px;
}
.logo-freebsd{
  @include main-page-sprite(logo-freebsd);
  width: 132px;
  height: 44px;
}
.logo-isp{
  @include main-page-sprite(logo-isp);
  width: 116px;
  height: 43px;
}
.logo-windows{
  @include main-page-sprite(logo-windows);
  width: 169px;
  height: 41px;
}
.slick-prev:before,.slick-next:before{
  @include main-page-sprite(arrow-slider);
}

.main-advantages{
  @include main-page-sprite(main-advantages);
  width: 53px;
  height: 53px;
}
.main-rent{
  @include main-page-sprite(main-rent);
  width: 51px;
  height: 52px;
}

.rent-block__stage__item-wrap:after{
  @include main-page-sprite(rent-arrow);
}
.rent-1{
  @include main-page-sprite(rent-1);
  width: 52px;
  height: 50px;
}
.rent-2{
  @include main-page-sprite(rent-2);
  width: 44px;
  height: 52px;
}
.rent-3{
  @include main-page-sprite(rent-3);
  width: 53px;
  height: 48px;
}
.rent-4{
  @include main-page-sprite(rent-4);
  width: 58px;
  height: 38px;
}
.rent-5{
  @include main-page-sprite(rent-5);
  width: 46px;
  height: 52px;
}
.rent-sevice__block-item:before{
  @include main-page-sprite(service-check);
}
.rent-service-1{
  @include main-page-sprite(rent-service-1);
  width: 46px;
  height: 52px;
}
.rent-service-3{
  @include main-page-sprite(rent-service-3);
  width: 52px;
  height: 50px;
}

.rent-service-4{
  @include main-page-sprite(rent-service-4);
  width: 46px;
  height: 52px;
}
.rent-service-5{
  @include main-page-sprite(rent-service-5);
  width: 48px;
  height: 52px;
}
.rent-service-6{
  @include main-page-sprite(rent-service-6);
  width: 46px;
  height: 52px;
}
.rent-service-8{
  @include main-page-sprite(rent-service-8);
  width: 52px;
  height: 46px;
}
.rent-service-9{
  @include main-page-sprite(rent-service-9);
  width: 52px;
  height: 47px;
}
