@import "compass/utilities/sprites";
$template-layout:smart;
@import "template/*.png";
$icons-title-layout:smart;
@import "icons/icons-title/*.png";

.header__phone:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left:0;
  width: 28px;
  height: 25px;
  @include template-sprite(ico-phone);
}

.header__lk_enter:before{
  @include template-sprite(ico-user);
}
.header__lk_enter.logged:after{
  @include template-sprite(ico-settings);
}
.header__lk_enter.logged.active:after{
  @include template-sprite(ico-settings-active);
}
.header-v2 .menu-mobile .header__top_menu li.active:before{
  @include template-sprite(menu-r);
}
.header-v2 .menu-mobile .header__top_menu li.active:after{
  @include template-sprite(menu-l);
}

ul.list li,
.list-circle li,
.bxslider .bxslider-item_inner {
  position: relative;

  &:before{
    @include template-sprite(li);
    content: '';
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 6px;
    height: 6px;
  }
}

.footer__pay-images{
  .master-card{
    width: 48px;
    height: 37px;
    @include template-sprite(pay-master-card);
  }
  .visa{
    width: 53px;
    height: 17px;
    @include template-sprite(pay-visa);
  }
  .web-money{
    width: 102px;
    height: 28px;
    @include template-sprite(pay-web-money);
  }
  .qiwi{
    width: 68px;
    height: 30px;
    @include template-sprite(pay-qiwi);
  }
  .alpha-bank{
    width: 101px;
    height: 30px;
    @include template-sprite(pay-alpha-bank);
  }
  .sberbank{
    width: 112px;
    height: 28px;
    @include template-sprite(pay-sberbank);
  }
  .yandex-money{
    width: 78px;
    height: 33px;
    @include template-sprite(pay-yandex-money);
  }
}

.bx_breadcrumbs ul li a:after{
  content: '';
  width: 9px;
  height: 21px;
  position: absolute;
  display: block;
  right:0;
  top:0;
  @include template-sprite(breadcrumbs_arrow);
}
.select .select_kam.selectBox-dropdown .selectBox-arrow,
.select-os .select-os-btn,
.selectBox-dropdown .selectBox-arrow,
.jquery-selectbox .jquery-selectbox-moreButton
{
  @include template-sprite(arrow_kam);
}

.slide-grath div,.slider-and-grath .order-slide-grath div{
  &:before{
    content: '';
    width: 1px;
    height: 28px;
    position: absolute;
    display: block;
    right:50%;
    top:0;
    @include template-sprite(grath);
  }
}
.up.active{
  @include template-sprite(arrow-up);
}

.dedicated_server_page .title__icon {
  @include icons-title-sprite(h1-server);
  min-width: 52px;
  width: 52px;
  height: 54px;
}
.microsoft_exchange .title__icon {
  @include icons-title-sprite(h1-microsoft-exchange);
  min-width: 60px;
  width: 60px;
  height: 58px;
}

.vds .title__icon {
  @include icons-title-sprite(h1-vds);
  width: 47px;
  min-width: 47px;
  height: 54px;
}

.server_1s_page .title__icon {
  @include icons-title-sprite(h1-1c);
  width: 56px;
  min-width: 56px;
  height: 54px;
}
.ssl .title__icon {
  @include icons-title-sprite(h1-ssl);
  width: 37px;
  min-width: 37px;
  height: 58px;
}
.hosting-dns .title__icon {
  @include icons-title-sprite(h1-dns);
  width: 38px;
  min-width: 38px;
  height: 54px;
}
.domain .title__icon {
  @include icons-title-sprite(h1-domain);
  width: 55px;
  min-width: 55px;
  height: 52px;
}

.ispmanager .title__icon {
  @include icons-title-sprite(h1-isp);
  width: 52px;
  min-width: 52px;
  height: 47px;
}
.hosting .title__icon {
  @include icons-title-sprite(h1-unix);
  width: 47px;
  min-width: 47px;
  height: 51px;
}

