@import "compass/utilities/sprites";
$vds-layout:vertical;
@import "vds/*.png";

.arenda-vds-1,.arenda-vds-2{
  display: block;
  width: 70px;
  height: 80px;
}
.arenda-vds-1{
  @include vds-sprite(arenda-vds-1);
}
.arenda-vds-2{
  @include vds-sprite(arenda-vds-2);
}

.selectBox-label.os-11,
.selectBox-options .os-11 a {
  position: relative;
  &:after{
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 28px;
    top: 10px;
    left: 10px;
    @include vds-sprite(os-centos);
  }
}
.selectBox-label.os-10,
.selectBox-options .os-10 a {
  position: relative;
  &:after{
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 28px;
    top: 10px;
    left: 10px;
    @include vds-sprite(os-debian);
  }
}
.selectBox-label.os-106,
.selectBox-options .os-106 a {
  position: relative;
  &:after{
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 28px;
    top: 10px;
    left: 10px;
    @include vds-sprite(os-ubuntu13);
  }
}
.selectBox-label.os-103,
.selectBox-options .os-103 a,
.selectBox-label.os-13,
.selectBox-options .os-13 a {
  position: relative;
  &:after{
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 28px;
    top: 10px;
    left: 10px;
    @include vds-sprite(os-windows);
  }
}
.vds-cpu,
.vds-hdd,
.vds-ram,
.vds-speed{
  display: inline-block;
  height: 48px;
}
.vds-cpu{
  width: 51px;
  @include vds-sprite(vds-cpu);
}
.vds-hdd{
  width: 43px;
  @include vds-sprite(vds-hdd);
}
.vds-ram{
  width: 79px;
  @include vds-sprite(vds-ram);
}
.vds-speed{
  width: 48px;
  @include vds-sprite(vds-speed);
}
.order-slide-content .ui-slider-handle,
.order-slide .order-slide-cursor{
  @include vds-sprite(slide-cursor);
}
