@import "compass/utilities/sprites";
$template-layout:smart;
@import "template/*.png";

.header__phone:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left:0;
  width: 28px;
  height: 25px;
  @include template-sprite(ico-phone);
}

.header__lk_enter:before{
  @include template-sprite(ico-user);
}
.header__lk_enter.logged:after{
  @include template-sprite(ico-settings);
}
.header__lk_enter.logged.active:after{
  @include template-sprite(ico-settings-active);
}
.header-v2 .menu-mobile .header__top_menu li.active:before{
  @include template-sprite(menu-r);
}
.header-v2 .menu-mobile .header__top_menu li.active:after{
  @include template-sprite(menu-l);
}

ul.list li,
.list-circle li,
.bxslider .bxslider-item_inner {
  position: relative;

  &:before{
    @include template-sprite(li);
    content: '';
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 6px;
    height: 6px;
  }
}

.footer__pay-images{
  .master-card{
    width: 48px;
    height: 37px;
    @include template-sprite(pay-master-card);
  }
  .visa{
    width: 53px;
    height: 17px;
    @include template-sprite(pay-visa);
  }
  .web-money{
    width: 102px;
    height: 28px;
    @include template-sprite(pay-web-money);
  }
  .qiwi{
    width: 68px;
    height: 30px;
    @include template-sprite(pay-qiwi);
  }
  .alpha-bank{
    width: 101px;
    height: 30px;
    @include template-sprite(pay-alpha-bank);
  }
  .sberbank{
    width: 112px;
    height: 28px;
    @include template-sprite(pay-sberbank);
  }
  .yandex-money{
    width: 78px;
    height: 33px;
    @include template-sprite(pay-yandex-money);
  }
}