.header__top_dropdown {
	/*background-color: white;*/
}

.header__top_dropdown li a {
	/*color: black!important;*/
}
.header__top_dropdown li:hover a {
	/*color: #00adf7!important;*/
}

.header__top_dropdown li i {
	color: white;
}

.header__top_dropdown li:hover i {
	color: #888;
}