.h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}
.wrap-table {
  padding: 60px 50px;
}
.wrap-table-v3 {
  padding-top: 0;
}
.band-blue {
  position: relative;
  z-index: 1;
  margin-top: -30px !important;
}
.table-v3 {
  width: 100%;
  margin: 40px 0;
}
.table-v3 td {
  border: 1px solid #cedee5;
  padding: 15px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
  background-color: #fff;
}

.table-v3 .thead {
  text-transform: uppercase;
}
.table-v3 .thead td {
  background-color: #00aef7 !important;
  color: #fff !important;
}
.table-v3 .section td {
  background-color: #07497b !important;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}
.table-v3 .server-btn a {
  width: 100%;
  text-align: center;
}
.table-v3 .name a {
  text-decoration: none;
}
.table-v3 .server-price {
  text-align: center;
}

.table-v3 .selectBox-dropdown,
.bottom .order-side .selectBox-label,
.bottom .order-side .selectBox-arrow,
.select_kam-selectBox-dropdown-menu a {
  font-size: 16px;
  line-height: 40px;
}
.table-v3 .selectBox-dropdown {
  min-width: 115px !important;
  margin: 0 auto;
}
.table-v3 .selectBox-dropdown {
  border: 1px solid #cdd7dc;
  border-radius: 2px;
}
.period-selectBox-dropdown-menu {
  border: 1px solid #cdd7dc !important;
}
.table-v3 .selectBox-arrow {
  background: url(images/select-box-arrow.png) 50% 50% no-repeat !important;
}
.table-v3 .thead .icon-period,
.table-v3 .thead .icon-price,
.table-v3 .thead .icon-order {
  background: url(images/sprite-table-header.png) 0 0 no-repeat;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  vertical-align: middle;
}
/*thead -->*/
.table-v3 .thead .icon-period {
  background-position: 0 0;
}
.table-v3 .thead .icon-price {
  background-position: 0 -30px;
}
.table-v3 .thead .icon-order {
  background-position: 0 -60px;
}
.table-v3 .thead td {
  line-height: 25px;
  vertical-align: middle;
}

/*<-- thead*/

.table-v3 input[type="text"] {
  border: 1px solid #e4e4e9;
  border-radius: 1px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 5px 10px;
}
.table-v3 .ipfields {
  width: 100%;
}
.table-v3 .required-star {
  color: #f00;
}

.wrap-checked .head-block {
  font-weight: 500;
  font-size: 28px;
  padding: 0 0 15px;
}
.wrap-checked .list-checked {
  font-size: 16px;
  line-height: 24px;
}
.wrap-checked .list-checked li {
  display: inline-block;
  list-style: none;
  background: none;
  padding: 0 5px 0 0;
}
.wrap-checked .list-checked li:before {
  background: none;
}
.wrap-checked .list-checked li:after {
  content: ",";
}
.wrap-checked .list-checked li:last-child:after,
.wrap-checked .list-checked li:first-child:before {
  content: "";
}
