.blue-line-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	margin: -10px 0;
}
.blue-line-menu li a{
	color: #1daef4;
}
.blue-line-menu li {
	margin-right: 10px;
	padding: 10px 10px;
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
	border-top: 2px solid transparent;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.blue-line-menu a {
	text-decoration: none;
	color: white;
	font-size: 12px;
}

.blue-line-menu a:hover {
	color:#888;
}

.blue-line-menu .header__top_dropdown {
	top: 41px!important;
	left: 0 !important;
	right: auto !important;
	border-top: 4px solid #1daef4;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: white !important;
	width: auto !important;
	padding-left: 15px !important;
	padding-bottom: 3px !important;
}
.blue-line-menu li:hover .header__top_dropdown {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.blue-line-menu .header__top_dropdown a {
	color: black !important;

}

.blue-line-menu  .header__top_dropdown li:hover a{
	color: #1daef4 !important;
}




.blue-line-menu-icon{
	background: url(/local/templates/depohost/images/arrow-passive.png);
	width: 8px;
	min-width: 8px;
	height: 5px;
	margin-left: 5px;
}

.blue-line-menu li:first-child{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.blue-line-menu li:first-child:hover{
	background: #1daef4;
	border-right: 2px solid #22c3ff;
	border-left: 2px solid #22c3ff;
	border-top: 2px solid #22c3ff;

}

.blue-line-menu li:first-child:hover a{
	color: #ffffff ;

}

.blue-line-menu li:first-child:hover .blue-line-menu-icon{
	background: url(/local/templates/depohost/images/arrow-active.png);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.blue-line-menu li a:hover{
	color: #ffffff;
}

.blue-line-menu .header__top_dropdown li:first-child:hover{
	background: none;
	border: none;
}

.blue-line-menu .header__top_dropdown li{
	border: none;

}
.blue-line-menu .header__top_dropdown:hover .blue-line-menu li:first-child:hover a{
	color: #ffffff ;

}

.blue-line-menu .header__top_dropdown li:hover a{
	/*color: #1daef4 !important;*/

}