.server.hosting .server-btn {
  width: auto;
  padding: inherit;
  background: #f6f6f8;
  border: none;
}
.server.hosting td {
  width: 25%;
}
.server.hosting .server-btn td {
  padding: 20px 0 20px 25px;
  background: 0;
  border: 0;
  text-align: center;
}
.group-title {
  text-transform: none !important;
}
