.plus {
  color: green;
  font-weight: 700;
  font-size: 20px;
}
.property_label {
  font-weight: 700;
  background: #f6f6f8 !important;
}
.table_wrapper__mobile .server-info {
  width: 150px;
}
.selectBox-dropdown.hosting-select {
  min-width: auto;
}
